.code-card {

    // General layout ------------------------------------
    padding-top: 1rem;
    position: relative;
    z-index: 2;

    &.node {
        &::before {
            content: "";
            position: absolute;
            top: 1rem;
            bottom: 0;
            width: 0;
            left: 0;
            border-left: 1px dashed $light-grey;
            z-index: -1;
        }
    }

    &.leaf {
        border-bottom: 1px solid $light-grey;

        .code-details {
            border: 1px solid $light-grey;
            border-width: 0 1px;
        }
    }

    .title {
        font-size: $font-xl;
        background-color: $blue;
        padding: .75rem 1rem;
        color: #fff;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;

        .number {
            font-weight: 600;
            padding-right: 1em;
        }

        .name {
            flex: 0 0 100%;
            order: 3;
        }

        .status {
            text-transform: uppercase;
            order: 2;
            font-size: $font-m;
            padding-top: .25rem;
        }
    }

    &.expired {
        .title {
            background-color: $dark-grey;
        }
    }

    &.expiring-soon {
        .title {
            background-color: $dark-blue;
        }
    }

    .code-details {
        overflow: hidden;
        padding-bottom: 1rem;
    }

    .subcodes {
        padding-left: 1rem;
        margin-bottom: 1rem;
        list-style: none;
    }

    .code-details + .subcodes {
        margin-top: -1rem;
    }


    // Card layout -------------------------------

    .nb {
        background-color: $light-blue;
        color: $blue;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        width: 100%;
    }

    .additional-info, .description, .nb {
        padding: .75em 1rem;
    }

    .description, .notes {
        font-size: $font-s;
    }

    .additional-info {
        font-size: $font-xs;
        display: flex;
        flex-flow: row nowrap;
        color: $grey;
        justify-content: flex-start;

        div {
            padding-right: 2rem;
            line-height: 1.2;

            &:last-child {
                padding-right: 0;
                margin-left: auto;
            }

            span {
                &::after {
                    content: ":"
                }
            }

            .download {
                color: $grey;
                background-image: url($download-grey);

                &:focus {
                    background-image: url($download-purple);
                    color: $purple
                }
            }
        }

        a {
            color: $grey;

            &:focus {
                color: $purple;
            }
        }
    }


    // Content inside description/tab --------------------------------------

    .code-details, .notes {

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        li {
            margin-bottom: .5rem;

            &:last-child {
                margin-bottom: 0;
            }
        }

        p {
            margin-top: 0;
        }

        p + ul {
            margin-top: -.75rem;
        }

        .link-list {
            display: inline-block;
            max-width: $two-col;

            li {
                padding: .5em 1em;
                margin: 0;


                &:nth-child(odd) {
                    background-color: $lighter-grey;
                }

                &:nth-child(even) {
                    background-color: $lightest-grey;
                }

                &:hover {
                    background-color: $light-green;
                }

                a {
                    &:hover {
                        background-color: transparent;
                    }
                }


            }


        }

        table {
            border-collapse: collapse;

            &.vertical {
                th {
                    padding-right: 1.5em;
                }

                th, td {
                    padding-bottom: .5em;
                    vertical-align: top;
                }

                tr:last-child {
                    th, td {
                        padding-bottom: 0;
                    }
                }
            }

        }

        .horizontal {
            margin: 1em 0;

            th, td {
                padding: .5em 1em;
                vertical-align: top;
            }

            th {
                background-color: $light-grey;
                font-weight: 600;
            }

            tr {
                &:nth-child(odd) {
                    background-color: $lighter-grey;
                }

                &:nth-child(even) {
                    background-color: $lightest-grey;
                }

                &:hover {
                    background-color: $light-green;
                }
            }

            a {
                &:hover {
                    background-color: transparent;
                }
            }
        }
    }


    // Tab/expander setup ----------------------------

    .notes {
        border: 1px solid $light-grey;
        border-width: 0 1px;
    }

    .tabpanel {
        border-top: 1px solid $light-grey;
    }

    .tab {
        @include button-reset;
        color: $blue;
        position: relative;
    }

    .expand {
        .tabtitle {
            position: relative;
            transition: .3s;

            &::before {
                content: "";
                position: absolute;
                height: 100%;
                right: 0;
                top: 0;
                width: 2.5rem;
                background: url($chevron-down-blue) right 1rem center / .85rem no-repeat;
                transform: scaleY(1);
                transition: .1s;
            }
        }

        .tab {
            display: block;
            width: 100%;
            padding: .75rem 2.5rem .75rem 1rem;
            @extend %menu-list-design;
        }

    }

    .expanded .tabtitle, .selected.tabtitle {
        background-color: $blue;

        .tab {
            font-weight: 600;
            color: #fff;
        }
    }

    .expanded {
        .tabtitle {
            &::before {
                background-image: url($chevron-down-white);
                transform: scaleY(-1);
            }

            .tab {
                &:hover, &:focus {
                    background-color: unset;
                }

                &:focus {
                    &::before, &::after {
                        background-color: $blue;
                    }
                }
            }
        }
    }

    &.expired {
        .tab {
            color: $dark-grey;
        }

        .expand:not(.expanded) {
            .tabtitle {
                &::before {
                    background-image: url($chevron-down-dark-grey);
                }
            }
        }

        .expanded .tabtitle, .selected.tabtitle {
            background-color: $dark-grey;
        }

        .expanded {
            .tabtitle {
                .tab {
                    &:focus {
                        &::before, &::after {
                            background-color: $dark-grey;
                        }
                    }
                }
            }
        }
    }

    &.expiring-soon {
        .tab {
            color: $dark-blue;
        }

        .expand:not(.expanded) {
            .tabtitle {
                &::before {
                    background-image: url($chevron-down-dark-blue);
                }
            }
        }

        .expanded .tabtitle, .selected.tabtitle {
            background-color: $dark-blue;
        }

        .expanded {
            .tabtitle {
                .tab {
                    &:focus {
                        &::before, &::after {
                            background-color: $dark-blue;
                        }
                    }
                }
            }
        }
    }

    .note-content {
        padding: 1rem;

        p {
            margin: .5rem 0;
        }
    }
}

@media only screen and (min-width: $one-to-two-col) {
    .code-card {

        .tabpanel:not(.selected) {
            display: none;
        }

        .tabtitle {
            display: inline-block;
            margin-right: 1px;

            &:hover {
                outline: 1px solid $light-grey;
            }

            .tab {
                padding: .5em 1em;

                &:focus {
                    outline: 1px solid $light-grey;
                }
            }

            &.selected {
                &, .tab:focus {
                    outline: 1px solid $blue;
                }
            }
        }

        &.expired {
            .tabtitle {
                &.selected {
                    &, .tab:focus {
                        outline: 1px solid $dark-grey;
                    }
                }
            }
        }

        &.expiring-soon {
            .tabtitle {
                &.selected {
                    &, .tab:focus {
                        outline: 1px solid $dark-blue;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: $two-to-three-col) {
    .code-card {
        .title {
            font-size: $font-2xl;
            display: grid;
            grid-template-areas: "number status" "name status";

            .number {
                grid-area: number;
            }

            .name {
                grid-area: name;
            }

            .status {
                grid-area: status;
                padding-left: 2em;
                padding-top: .5em;
            }
        }

        .description, .notes {
            font-size: $font-m;
        }
    }
}

@media only screen and (min-width: $three-to-four-col) {
    .code-card {
        .code-details {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: stretch;

            .nb, .actions {
                flex: 0 0 100%;
            }

            .nb {
                order: 1; // Always first
            }

            .additional-info, .description {
            }

            .description {
                flex: 1 1 70%;
                order: 2;
                padding-right: 2rem;

                > :last-child {
                    margin-bottom: 0;
                }
            }

            .additional-info {
                flex: 1 1 15%;
                order: 3;

                color: $blue;
                font-size: $font-s;
                flex-flow: column nowrap;

                div {
                    display: inline-block;
                    margin-bottom: 1.25rem;
                    margin-right: 0;
                    width: 100%;

                    &:last-child {
                        margin-bottom: 0;
                        flex: 0 0 auto;
                        margin-top: auto;
                    }
                }

                span {
                    display: block;
                    font-size: $font-xs;
                    margin-bottom: .25rem;
                }

                .download, a {
                    color: $blue;

                    &:focus {
                        color: $purple;
                    }
                }

                .download {
                    background-image: url($download-blue);
                }
            }
        }
    }
}

@media all and (-ms-high-contrast: none) {
    .title {
        display: -ms-grid;
        -ms-grid-columns: 1fr 100px;
        -ms-grid-rows: 1 auto 1 auto;
    }

    .status {
        -ms-grid-row: 1;
        -ms-grid-row-span: 2;
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
    }

    .number {
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
    }

    .name {
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
    }

}