.code-system-header {
    border: 0 solid $grey;
    border-width: 1px 0;
    color: $blue;
    background-color: #fff;

    * {
        transition: .3s;
    }

    .layout-container {
        padding: .5rem 0;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
    }

    h1 {
        font-size: $font-4xl;
        margin: .5rem 1rem;
        line-height: 1.2;

        a {
            text-decoration: none;
            color: $blue;
        }
    }

    ul {
        margin: .5rem 1rem;
        padding: 0;
        list-style: none;
    }

    li {
        display: inline-block;

        &:first-child {
            margin-right: 1rem;
        }
    }

    .search-field {
        flex: 1 0 auto;
        margin: .5rem 1rem;
        min-width: 336px;
    }
}

.minimal .code-system-header {

    .layout-container {
        flex-wrap: wrap;
    }

    h1 {
        font-size: $font-2xl;
    }

    ul {
        display: none;
    }
}

@media only screen and (min-width: $two-to-three-col) {
    .code-system-header {

        * {
            transition: none;
        }

        .layout-container {
            flex-flow: row nowrap;
            justify-content: flex-start;
            padding: 1rem 0;
        }

        h1 {
            font-size: $font-5xl;
        }

        ul {
            flex-grow: 1;
            margin-right: 2rem;
            flex-basis: 3%;
        }

        li {
            margin: .25rem 0;
        }

        .search-field {
            min-width: 389px;
            margin-left: auto;
        }
    }
}