.code-card {
    padding-top: 1rem;
    position: relative;
    z-index: 2;

    &.node {
        &::before {
            content: "";
            position: absolute;
            top: 1rem;
            bottom: 0;
            width: 0;
            left: 0;
            border-left: 1px dashed $light-grey;
            z-index: -1;
        }
    }

    &.leaf {
        border-bottom: 1px solid $light-grey;

        .code-details {
            border: 1px solid $light-grey;
            border-width: 0 1px;
        }
    }

    .title {
        font-size: $font-xl;
        background-color: $blue;
        padding: .75rem 1rem;
        color: #fff;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;

        .number {
            font-weight: 600;
            padding-right: 1em;
        }

        .name {
            flex: 0 0 100%;
            order: 3;
        }

        .status {
            text-transform: uppercase;
            order: 2;
            font-size: $font-m;
            padding-top: .25rem;
        }
    }

    &.expired {
        .title {
            background-color: $dark-grey;
        }
    }

    &.expiring-soon {
        .title {
            background-color: $dark-blue;
        }
    }

    .code-details {
        overflow: hidden;
        padding-bottom: .5rem;

        ul {
            list-style-type: disc;
            margin: 0;
        }

        p + ul {
            margin-top: -.75rem;
        }
    }

    .nb {
        background-color: $light-blue;
        padding: .75em 1rem;
        color: $blue;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }

    .status-info {
        background-color: $light-blue;
        color: $blue;
        padding: .875rem 1rem;
        display: flex;
        justify-content: space-between;

        strong {
            order: 2;
            font-weight: normal;
            text-transform: uppercase;
            padding-left: 2em;
        }
    }

    .validity, .description {
        margin: 1rem;
    }

    .description, .notes {
        font-size: $font-s;
    }

    .validity {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        color: $grey;
        font-size: $font-xs;

        p {
            margin: 0 1.5rem 0 0;
            line-height: 1.2;

            &:last-child {
                margin-right: 0;
            }

            span {
                display: block;
            }
        }

        a {
            color: $grey;
        }

    }

    .subcodes {
        padding-left: 1rem;
        margin-bottom: 1rem;
        list-style: none;
    }

    .code-details + .subcodes {
        margin-top: -1rem;
    }

    .notes {
        border: 1px solid $light-grey;
        border-width: 0 1px;
    }

    .tabtitle {
        position: relative;
        transition: .3s;

        &::before {
            content: "";
            position: absolute;
            height: 100%;
            right: 0;
            top: 0;
            width: 2.5rem;
            background: url($chevron-down-blue) right 1rem center / .85rem no-repeat;
            transform: scaleY(1);
            transition: .1s;
        }
    }

    .tab {
        @include button-reset;
        display: block;
        color: $blue;
        width: 100%;
        position: relative;
        padding: .75rem 2.5rem .75rem 1rem;

        @extend %menu-list-design;
    }

    .tabpanel {
        border-top: 1px solid $light-grey;

        &.expanded {
            .tabtitle {
                background-color: $blue;

                &::before {
                    background-image: url($chevron-down-white);
                    transform: scaleY(-1);
                }
            }

            .tab {
                font-weight: 600;
                color: #fff;
            }
        }
    }

    &.expired {
        .tabtitle {
            &::before {
                background-image: url($chevron-down-dark-grey)
            }
        }

        .tab {
            color: $dark-grey;

            &:hover, &:focus {

            }
        }

        .tabpanel {
            &.expanded {
                .tabtitle {
                    background-color: $dark-grey;
                }
            }
        }
    }


    &.expiring-soon {
        .tabtitle {
            &::before {
                background-image: url($chevron-down-dark-blue)
            }
        }

        .tab {
            color: $dark-blue;

            &:hover, &:focus {

            }
        }

        .tabpanel {
            &.expanded {
                .tabtitle {
                    background-color: $dark-blue;
                }
            }
        }

    }

    .note-content {
        padding: 1rem;

        p {
            margin: .5rem 0;
        }
    }

    .list-codes {
        tr {
            padding: 0 .325rem;
        }

        tbody {
            tr {
                &:hover {
                    background-color: $light-green;

                    a {
                        color: $purple;
                    }
                }
            }
        }

        td:first-child {
            padding-right: 1rem;
        }

        th, td {
            vertical-align: top;
        }


    }

}

@media only screen and (min-width: $one-to-two-col) {
    .code-card {

        .tabtitle {
            display: inline-block;

            &.selected {
                font-weight: 600;
                position: relative;
                outline: 1px solid $light-grey;

                &::after {
                    content: "";
                    position: absolute;
                    bottom: -1px;
                    left: 0;
                    right: 0;
                    border-bottom: 1px solid #fff;
                }
            }
        }

        .tab {
            @include button-reset;
            padding: .75rem 1rem;
        }

        .tabpanel {
            border-top: 1px solid $light-grey;

            &:not(.selected) {
                display: none;
            }
        }

    }
}

@media only screen and (min-width: $two-to-three-col) {
    .code-card {

        .title {
            font-size: $font-2xl;
            display: grid;
            grid-template-areas: "number status" "name status";
        }

        .number {
            grid-area: number;
        }

        .name {
            grid-area: name;
        }

        .status {
            grid-area: status;
            padding-left: 2em;
            padding-top: .5em;
        }

        .validity, .description, .notes {
            font-size: $font-m;
        }
    }
}

@media only screen and (min-width: $three-to-four-col) {
    .code-card {
        h2 {
            font-size: $font-5xl;
            letter-spacing: -1px;
        }


        .code-details {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;

            p {
                margin: 0 0 1rem;
            }

            .status-info {
                flex: 0 0 100%;
                order: 1;
            }

            .validity {
                order: 3;
                display: block;
                color: $blue;

                span {
                    display: block;
                    font-size: $font-xs;
                    margin-bottom: .25rem;
                }

                a {
                    color: $blue;
                }
            }

            .description {
                order: 2;
                flex: 1 1 auto;
            }


        }
    }
}

@media all and (-ms-high-contrast: none) {
    .title {
        display: -ms-grid;
        -ms-grid-columns: 1fr 100px;
        -ms-grid-rows: 1 auto 1 auto;
    }

    .status {
        -ms-grid-row: 1;
        -ms-grid-row-span: 2;
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
    }

    .number {
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
    }

    .name {
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
    }

}