---
layout: toc
title: Prototype Table of Contents
---
<style>
    body {
        font-family: sans-serif;
        background-color: #fff;
        color: #000;
        margin: 2rem;
    }

    .page-title {
        color: #666;
        font-style: italic;
    }

    li {
        margin-top: .5rem;
    }

    a {
        color: blue;
    }

</style>

<nav>
    <h1>{{ page.title }}</h1>
    <ul>
        {% for page in site.pages %}
        {% if page.toc-title %}

        <li>
            <a href="{{ page.url }}">{{ page.toc-title }}</a>
            <div class="page-title">{{ page.title }}</div>
        </li>

        {% endif %}
        {% endfor %}
    </ul>
</nav>
