<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ page.title }} - FinnKode</title>
    <link rel="stylesheet" href="/style.css">
    <script src="/main.js"></script>

    {% if page.layout == "code-system" %}

    <script>
        $(function(){
            $('.js-sticky-nav').stickynav();
        });
    </script>

    {% endif %}

    {% if page.layout == "search" %}
    <!-- <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script> -->
    <!-- <script src="/assets/js/search/datepicker.js"></script> -->
    {% endif %}


    <style id="remove-menu-jump">
        #framework-header .code-system-menu {
            display: none;
        }

        #framework-header .code-system-menu.expandable {
            display: block;
        }

        @media only screen and (min-width: 39rem) {
            #framework-header .code-system-menu.expandable {
                display: flex;
            }
        }
    </style>

</head>