<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ page.title }} - FinnKode</title>
    {% asset master.scss @file %}
    <!-- <link rel="stylesheet" href="/assets/css/master.css"> -->
    <script src="/assets/js/jquery/jquery-3.4.0.min.js"></script>

    {% asset master/main.js @file %}
    {% asset master.js @file %}

    {% if page.layout == "code-system" %}


    <!-- <script src="/assets/js/code-system/jquery-resizable.js"></script>
    <script src="/assets/js/code-system/treeitemLinks.js"></script>
    <script src="/assets/js/code-system/treeLinks.js"></script>
    <script src="/assets/js/code-system/resizableSplitter.js"></script>
    <script src="/assets/js/code-system/stickyNav.js"></script> -->
    <script>
        $(function(){
            $('.js-sticky-nav').stickynav();
        });
    </script>

    {% endif %}

    {% if page.layout == "search" %}
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="/assets/js/search/datepicker.js"></script>
    {% endif %}


    <!-- <script src="/assets/js/master.js"></script> -->

    <style id="remove-menu-jump">
        #framework-header .code-system-menu {
            display: none;
        }

        #framework-header .code-system-menu.expandable {
            display: block;
        }

        @media only screen and (min-width: 39rem) {
            #framework-header .code-system-menu.expandable {
                display: flex;
            }
        }
    </style>

</head>