.code-system {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;

    #code-system-header {
        background-color: #fff;
        color: #000;
        border: 0 solid $grey;
        border-width: 1px 0;

        .layout-container {
            padding: .5rem 1rem;
            display: block;
        }
    }

    .panel-container {
        display: flex;
        overflow: hidden;
        min-height: 0;
        height: 100%;
        xtouch-action: none; /* avoid browser level touch actions */
    }

    .panel-left, .panel-right {
        overflow: auto;
    }

    .panel-left {
        flex: 0 0 auto;
        width: 300px;
        min-height: 200px;
        min-width: 150px;
    }

    .splitter {
        color: $blue;
        flex: 0 0 auto;
        width: 2.125rem;
        background: $green url("/assets/images/splitter.svg") center / .75rem no-repeat;
        min-height: 200px;
        cursor: col-resize;
        padding-top: 3rem;
        position: relative;
        font-size: $font-xl;

        .splitter-name, .splitter-instructions {
            transform: rotate(90deg);
            text-transform: uppercase;
            white-space: nowrap;
            line-height: 2.125rem;
            width: 2.125rem;
        }

        .splitter-instructions {
            position: absolute;
            font-size: $font-s;
            top: 50%;
            padding-left: 2.125rem;
        }

    }

    .panel-right {
        flex: 1 1 auto;
        min-height: 200px;
    }

}