.active {
    outline: 3px solid red!important;
}

.sticky {
    outline: 3px solid green;
}

.code-system {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;

    .code-system-header, .panel-container {
        background-color: #fff;
    }

    .headers {
        flex: 0 0 auto;
    }

    .panel-container {
        &::before {
            content: "";
            position: absolute;
            top: 3rem;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #fff;
            z-index: -200;
        }
    }

    #framework-header,.code-system-header, .panel-container {
        .layout-container, &.layout-container {
            width: auto !important;
        }
    }

    .code-system-tree, .code-system-content {
        overflow: auto;
    }

    .panel-container {
        display: flex;
        flex-flow: column nowrap;
        overflow: hidden;
        min-height: 0;
        height: 100%;

        &.expanded {
            .code-system-tree {
                order: 2;
            }

            .splitter {
                order: 1;
            }

            .code-system-content {
                display: none;
            }
        }

        &.collapsed {
            .code-system-tree {
                display: none;
            }

            .splitter {
                order: 2;
            }

            .code-system-content {
                order: 1;
            }
        }
    }

    .splitter {
        color: $blue;
        background-color: $green;
        position: relative;
        padding: .5rem 1rem;

        &:focus {
            outline: none;
        }

        &::after {
            content: "";
            position: absolute;
            right: 0;
            top: 0;
            width: 2em;
            height: 100%;
            background: $green url("/assets/images/chevron-down-blue.svg") right 1rem center / 1rem no-repeat;
            transition: .15s transform;
        }

        &[aria-expanded="true"] {
            &::after {
                transform: scaleY(-1);
            }
        }


        &[aria-expanded="false"] {
            &::after {
                transform: scaleY(1);
            }
        }
    }

    .splitter-instructions {
        display: none;
    }

}

@media only screen and (min-width: $one-to-two-col) {
    .code-system {

        // Override from head.html
        #framework-header .code-system-menu.expandable {
            justify-content: center;
        }

    }
}

@media only screen and (min-width: $two-to-three-col) {
    .code-system {

        #framework-header,.code-system-header {
            .layout-container {
                margin: 0 2vw;
            }
        }

        .panel-container.layout-container {
            margin-left: 2vw;
            outline: 1px solid red;
        }




        .headers {
            flex: unset;
        }

        .panel-container {
            flex-flow: unset;
            xtouch-action: none; /* avoid browser level touch actions */
        }

        .code-system-tree {
            flex: 0 0 auto;
            width: 300px;
            min-height: 200px;
            min-width: 24rem;
        }

        .code-system-content {
            flex: 1 1 auto;
            min-height: 200px;
        }

        .splitter {
            flex: 0 0 auto;
            width: 2.125rem;
            background: $green url("/assets/images/splitter.svg") center / .75rem no-repeat;
            min-height: 200px;
            cursor: col-resize;
            padding: 2rem 0 0;
            position: relative;
            font-size: $font-xl;

            &::after {
                display: none;
            }

        }

        .splitter-name, .splitter-instructions {
            transform: rotate(90deg);
            text-transform: uppercase;
            white-space: nowrap;
            line-height: 2.125rem;
            width: 2.125rem;
        }

        .splitter-instructions {
            display: block;
            position: absolute;
            font-size: $font-xs;
            top: 50%;
            padding-left: 2.125rem;
        }

    }
}

