.code-system {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;

    .code-system-header, .panel-container {
        background-color: #fff;
    }

    .code-system-header {
        border: 0 solid $grey;
        border-width: 1px 0;
        color: $blue;

        .layout-container {
            padding: 1rem 1rem 1.5rem;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: center;

            & > * {
                //outline: 1px solid red;
            }
        }

        h1 {
            font-size: $font-4xl;
            margin: 0;
            padding: 0 2rem .25rem 0;
            line-height: 1.1;
            overflow: hidden;

        }

        ul {
            margin: 0;
            padding: 0 2rem 0 0;
            list-style: none;
        }

        li {
            display: inline-block;

            &:first-child {
                margin-right: 1rem;
            }
        }

        a {
            white-space: nowrap;
            height: 2rem;
            line-height: 2rem;
            color: $blue;
        }

        .search-field {
            flex: 1 0 100%;
            margin-top: 1rem;
        }

    }

    .panel-container {
        display: flex;
        overflow: hidden;
        min-height: 0;
        height: 100%;
        xtouch-action: none; /* avoid browser level touch actions */
    }

    .code-system-tree, .code-system-content {
        overflow: auto;
    }

    .code-system-tree {
        flex: 0 0 auto;
        width: 300px;
        min-height: 200px;
        min-width: 150px;
    }

    .splitter {
        color: $blue;
        flex: 0 0 auto;
        width: 2.125rem;
        background: $green url("/assets/images/splitter.svg") center / .75rem no-repeat;
        min-height: 200px;
        cursor: col-resize;
        padding-top: 3rem;
        position: relative;
        font-size: $font-xl;
    }

    .splitter-name, .splitter-instructions {
        transform: rotate(90deg);
        text-transform: uppercase;
        white-space: nowrap;
        line-height: 2.125rem;
        width: 2.125rem;
    }

    .splitter-instructions {
        position: absolute;
        font-size: $font-xs;
        top: 50%;
        padding-left: 2.125rem;
    }

    .code-system-content {
        flex: 1 1 auto;
        min-height: 200px;
    }
}

@media only screen and (min-width: $one-to-two-col) {

    .code-system {
        .code-system-header {

            .layout-container {
                padding: 1rem;
                flex-flow: column wrap;
                align-content: space-between;
                justify-content: flex-end;
                height: 6.875rem;
            }

            h1 {
                flex: 0 0 auto;
                padding-bottom: .5rem;
            }

            ul {
                flex: 1 1 auto;
                padding-bottom: 0;
            }

            h1, ul {
                width: $one-col-content;
            }

            .search-field {
                width: $one-col;
                flex: 0 0 auto;
                margin-bottom: .5rem;
                margin-top: 0;
                align-self: flex-end;
            }
        }
    }
}

@media only screen and (min-width: $two-to-three-col) {

    .code-system {
        .code-system-header {
            .layout-container {
                padding: 1.5rem 1rem;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: center;
                height: auto;
            }

            h1 {
                font-size: $font-5xl;
            }

            ul {
                flex: 1 0 auto;
            }

            .search-field {
                flex: 0 1 $one-point-five-col;
                width: auto;
                padding-bottom: 0;
                align-self: auto;
            }
        }
    }
}