.simple {

    main {
        border-top: 1px solid $grey;

        .layout-container {
            padding: .5rem 1rem 1.5rem;
        }
    }

    h1 {
        margin: 1rem 0;
    }
}

@media only screen and (min-width: $two-to-three-col) {
    .simple {
        main {
            .layout-container {
                padding-right: $one-col + 1rem;
            }
        }
    }
}

@media only screen and (min-width: $three-to-four-col) {
    .simple {
        main {
            .layout-container {
                padding-right: $two-col + 1rem;
            }
        }
    }
}