<div class="codes">
    <ul class="code-list">
        <li class="js-scrollto code-card leaf level-3" id="NPU20200">
            <div class="title">
                <div class="number">NPU20200</div>
                <div class="name">
                    Ercs(B)—Erythrocyt(Ag); arb.num.(list; proc.)
                </div>
            </div>
            <div class="code-details">
                <div class="validity">
                    <p class="from"><span>Gyldig fra</span> 02.04.2003</p>
                    <p class="to"><span>Gyldig til</span> 31.12.2019</p>
                    <p class="replacement"><span>Erstattet av</span> <a href="">ABD32</a>, <a href="">XYZ63</a></p>
                </div>

                <div class="description">
                    <dl>
                        <dt>Full definisjon</dt>
                        <dd>
                            Ercs(B)—Erythrocyte antigen; arbitrary number (listekode, process)
                        </dd>

                        <dt>Norsk bruksnavn</dt>
                        <dd>Erythrocyt(Ag) gruppe, Erc(B)</dd>

                        <dt></dt>
                        <dd></dd>

                        <dt></dt>
                        <dd></dd>

                        <dt></dt>
                        <dd></dd>

                        <dt></dt>
                        <dd></dd>

                        <dt></dt>
                        <dd></dd>

                        <dt></dt>
                        <dd></dd>

                        <dt></dt>
                        <dd></dd>

                        <dt></dt>
                        <dd></dd>
                    </dl>


                </div>
            </div>
            <div class="notes">
                <div class="js-tabgroup tabgroup" id="group">

                    <div class="js-tablist tablist" role="tablist" aria-orientation="horizontal">
                        <div class="js-tabtitle tabtitle selected">
                            <button class="js-tab tab js-responsive-expander" role="tab" aria-selected="true"
                                id="apples-tab" aria-controls="apples-content-panel">Apples
                            </button>
                        </div>
                        <div class="js-tabtitle tabtitle">
                            <button class="js-tab tab js-responsive-expander" aria-selected="false" id="bananas-tab"
                                aria-controls="bananas-content-panel">Bananas
                            </button>
                        </div>
                        <div class="js-tabtitle tabtitle">
                            <button class="js-tab tab js-responsive-expander" role="tab" aria-selected="false"
                                id="peaches-tab" aria-controls="peaches-content-panel">Peaches
                            </button>
                        </div>
                    </div>

                    <div id="apples-content-panel" class="selected js-tabpanel tabpanel js-responsive-expand" role="tabpanel"
                        aria-labelledby="apples-tab">
                        <div class="js-responsive-expandable">
                            <div class="note-content">
                                <h2>Apples</h2>
                                <p>Apples are amazing!</p>
                            </div>
                        </div>
                    </div>

                    <div id="bananas-content-panel" class="js-tabpanel tabpanel js-responsive-expand" role="tabpanel"
                        aria-labelledby="bananas-tab">
                        <div class="js-responsive-expandable">
                            <div class="note-content">
                                <h2>Bananas</h2>
                                <p>Don't slip on your banana peel! </p>
                            </div>
                        </div>
                    </div>

                    <div id="peaches-content-panel" class="js-tabpanel js-responsive-expand tabpanel js-responsive-expand" role="tabpanel" aria-labelledby="peaches-tab">
                        <div class="js-responsive-expandable">
                            <div class="note-content">
                                <h2>Peaches</h2>
                                <p>Peaches keep peaching! </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </li>
    </ul>
</div>

<!--
                <div class="js-tabgroup tabgroup" id="group1">
                    <div class="js-tablist tablist">

                        <div class="js-tabtitle tabtitle">
                            <button class="js-tab tab" aria-selected="true" id="apples-tab1" aria-controls="apples-content-panel1">Apples</button>
                        </div>

                        <div class="js-tabtitle tabtitle">
                            <button class="js-tab tab" aria-selected="false" id="bananas-tab1" aria-controls="bananas-content-panel1">Bananas</button>
                        </div>

                        <div class="js-tabtitle tabtitle">
                            <button class="js-tab tab" aria-selected="false" id="peaches-tab1" aria-controls="peaches-content-panel1">Peaches</button>
                        </div>

                    </div>
                    <div id="apples-content-panel1" class="js-tabpanel tabpanel" aria-labelledby="apples-tab1">
                        <h2>Apples</h2>
                        <p>Apples are amazing!</p>
                    </div>
                    <div id="bananas-content-panel1" class="js-tabpanel tabpanel" aria-labelledby="bananas-tab1">
                        <h2>Bananas</h2>
                        <p>Don't slip on your banana peel! </p>
                    </div>
                    <div id="peaches-content-panel1" class="js-tabpanel tabpanel" aria-labelledby="peaches-tab1">
                        <h2>Peaches</h2>
                        <p>Peaches keep peaching! </p>
                    </div>
                </div>

                <div class="js-tabgroup tabgroup" id="group2">
                    <div class="js-tablist tablist">

                        <div class="js-tabtitle tabtitle">
                            <button class="js-tab tab" aria-selected="true" id="apples-tab2" aria-controls="apples-content-panel2">Apples</button>
                        </div>

                        <div class="js-tabtitle tabtitle">
                            <button class="js-tab tab" aria-selected="false" id="bananas-tab2" aria-controls="bananas-content-panel2">Bananas</button>
                        </div>

                        <div class="js-tabtitle tabtitle">
                            <button class="js-tab tab" aria-selected="false" id="peaches-tab2" aria-controls="peaches-content-panel2">Peaches</button>
                        </div>

                    </div>
                    <div id="apples-content-panel2" class="js-tabpanel tabpanel" aria-labelledby="apples-tab2">
                        <h2>Apples</h2>
                        <p>Apples are amazing!</p>
                    </div>
                    <div id="bananas-content-panel2" class="js-tabpanel tabpanel" aria-labelledby="bananas-tab2">
                        <h2>Bananas</h2>
                        <p>Don't slip on your banana peel! </p>
                    </div>
                    <div id="peaches-content-panel2" class="js-tabpanel tabpanel" aria-labelledby="peaches-tab2">
                        <h2>Peaches</h2>
                        <p>Peaches keep peaching! </p>
                    </div>
                </div>
-->