<div class="codes">

    {% include message.html type="error" details="Something went wrong." %}

    <ul class="code-list">
        <li class="code-card leaf level-3" id="NPU20200">
            <div class="title">
                <div class="number">NPU20200</div>
                <div class="name">
                    Ercs(B)—Erythrocyt(Ag); arb.num.(list; proc.)
                </div>
            </div>
            <div class="code-details">
                <div class="additional-info">
                    <div><span>Gyldig fra</span> 02.04.2003</div>
                    <div><span>Gyldig til</span> 31.12.2019</div>
                    <div><span>Erstattet av</span> <a href="">ABD32</a>, <a href="">XYZ63</a></div>
                </div>
                <div class="description">
                    <table class="vertical">
                        <tr>
                            <th>Full definisjon</th>
                            <td>Ercs(B)—Erythrocyte antigen; arbitrary number (listekode, process)</td>
                        </tr>
                        <tr>
                            <th>Norsk bruksnavn</th>
                            <td>Erythrocyt(Ag) gruppe, Erc(B)</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="notes">
                <div class="js-tabgroup tabgroup" id="NPU20200-group">

                    <div class="js-tablist tablist" role="tablist" aria-orientation="horizontal">
                        <div class="js-tabtitle tabtitle selected">
                            <button
                                class="js-tab tab js-responsive-expander"
                                role="tab"
                                aria-selected="true"
                                id="NPU20200-tab1"
                                aria-controls="NPU20200-tab1-content-panel">Listekoder
                            </button>
                        </div>
                        <div class="js-tabtitle tabtitle">
                            <button class="js-tab tab js-responsive-expander"
                                role="tab"
                                aria-selected="false"
                                id="NPU20200-tab2"
                                aria-controls="NPU20200-tab2-content-panel">Mappinger
                            </button>
                        </div>
                        <div class="js-tabtitle tabtitle">
                            <button
                                class="js-tab tab js-responsive-expander"
                                role="tab"
                                aria-selected="false"
                                id="NPU20200-tab3"
                                aria-controls="NPU20200-tab3-content-panel">Endringer
                            </button>
                        </div>
                    </div>

                    <div
                        class="js-responsive-expand js-tabpanel tabpanel selected"
                        id="NPU20200-tab1-content-panel"
                        role="tabpanel"
                        aria-labelledby="NPU20200-tab1">

                        <div class="js-responsive-expandable">
                            <div class="note-content">
                                Tab 1
                            </div>
                        </div>

                    </div>

                    <div
                        class="js-responsive-expand js-tabpanel tabpanel"
                        id="NPU20200-tab2-content-panel"
                        role="tabpanel"
                        aria-labelledby="NPU20200-tab2">

                        <div class="js-responsive-expandable">
                            <div class="note-content">
                                Tab 2
                            </div>
                        </div>

                    </div>

                    <div
                        class="js-responsive-expand js-tabpanel tabpanel"
                        id="NPU20200-tab3-content-panel"
                        role="tabpanel"
                        aria-labelledby="NPU20200-tab3">

                        <div class="js-responsive-expandable">
                            <div class="note-content">
                                Tab 3
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </li>

        <li class="code-card leaf level-3 expiring-soon" id="NPU30200">
            <div class="title">
                <div class="number">NPU30200</div>
                <div class="name">
                    Ercs(B)—Erythrocyt(Ag); arb.num.(list; proc.)
                </div>
                <div class="status">Utgår</div>
            </div>
            <div class="code-details">
                <div class="nb">Obs! Denne koden utgår fra 31.12.2019.</div>
                <div class="additional-info">
                    <div><span>Gyldig fra</span> 02.04.2003</div>
                    <div><span>Gyldig til</span> 31.12.2019</div>
                    <div><span>Erstattet av</span> <a href="">ABD32</a>, <a href="">XYZ63</a></div>
                </div>
                <div class="description">


                </div>
            </div>
            <div class="notes">
                <div class="js-tabgroup tabgroup" id="NPU30200-group">

                    <div class="js-tablist tablist" role="tablist" aria-orientation="horizontal">
                        <div class="js-tabtitle tabtitle selected">
                            <button
                                class="js-tab tab js-responsive-expander"
                                role="tab"
                                aria-selected="true"
                                id="NPU30200-tab1"
                                aria-controls="NPU30200-tab1-content-panel">Listekoder
                            </button>
                        </div>
                        <div class="js-tabtitle tabtitle">
                            <button class="js-tab tab js-responsive-expander"
                                role="tab"
                                aria-selected="false"
                                id="NPU30200-tab2"
                                aria-controls="NPU30200-tab2-content-panel">Mappinger
                            </button>
                        </div>
                        <div class="js-tabtitle tabtitle">
                            <button
                                class="js-tab tab js-responsive-expander"
                                role="tab"
                                aria-selected="false"
                                id="NPU30200-tab3"
                                aria-controls="NPU30200-tab3-content-panel">Endringer
                            </button>
                        </div>
                    </div>

                    <div
                        class="js-responsive-expand js-tabpanel tabpanel selected"
                        id="NPU30200-tab1-content-panel"
                        role="tabpanel"
                        aria-labelledby="NPU30200-tab1">

                        <div class="js-responsive-expandable">
                            <div class="note-content">
                                Tab 1
                            </div>
                        </div>

                    </div>

                    <div
                        class="js-responsive-expand js-tabpanel tabpanel"
                        id="NPU30200-tab2-content-panel"
                        role="tabpanel"
                        aria-labelledby="NPU30200-tab2">

                        <div class="js-responsive-expandable">
                            <div class="note-content">
                                Tab 2
                            </div>
                        </div>

                    </div>

                    <div
                        class="js-responsive-expand js-tabpanel tabpanel"
                        id="NPU30200-tab3-content-panel"
                        role="tabpanel"
                        aria-labelledby="NPU30200-tab3">

                        <div class="js-responsive-expandable">
                            <div class="note-content">
                                Tab 3
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </li>

        <li class="code-card leaf level-3 expired" id="NPU40200">
            <div class="title">
                <div class="number">NPU40200</div>
                <div class="name">
                    Ercs(B)—Erythrocyt(Ag); arb.num.(list; proc.)
                </div>
                <div class="status">Utgått</div>
            </div>
            <div class="code-details">
                <div class="additional-info">
                    <div><span>Gyldig fra</span> 02.04.2003</div>
                    <div><span>Gyldig til</span> 31.12.2019</div>
                    <div><span>Erstattet av</span> <a href="">ABD32</a>, <a href="">XYZ63</a></div>
                </div>

                <div class="description">

                </div>
            </div>
            <div class="notes">
                <div class="js-tabgroup tabgroup" id="NPU40200-group">

                    <div class="js-tablist tablist" role="tablist" aria-orientation="horizontal">
                        <div class="js-tabtitle tabtitle selected">
                            <button
                                class="js-tab tab js-responsive-expander"
                                role="tab"
                                aria-selected="true"
                                id="NPU40200-tab1"
                                aria-controls="NPU40200-tab1-content-panel">Listekoder
                            </button>
                        </div>
                        <div class="js-tabtitle tabtitle">
                            <button class="js-tab tab js-responsive-expander"
                                role="tab"
                                aria-selected="false"
                                id="NPU40200-tab2"
                                aria-controls="NPU40200-tab2-content-panel">Mappinger
                            </button>
                        </div>
                        <div class="js-tabtitle tabtitle">
                            <button
                                class="js-tab tab js-responsive-expander"
                                role="tab"
                                aria-selected="false"
                                id="NPU40200-tab3"
                                aria-controls="NPU40200-tab3-content-panel">Endringer
                            </button>
                        </div>
                    </div>

                    <div
                        class="js-responsive-expand js-tabpanel tabpanel selected"
                        id="NPU40200-tab1-content-panel"
                        role="tabpanel"
                        aria-labelledby="NPU40200-tab1">

                        <div class="js-responsive-expandable">
                            <div class="note-content">
                                Tab 1
                            </div>
                        </div>

                    </div>

                    <div
                        class="js-responsive-expand js-tabpanel tabpanel"
                        id="NPU40200-tab2-content-panel"
                        role="tabpanel"
                        aria-labelledby="NPU40200-tab2">

                        <div class="js-responsive-expandable">
                            <div class="note-content">
                                Tab 2
                            </div>
                        </div>

                    </div>

                    <div
                        class="js-responsive-expand js-tabpanel tabpanel"
                        id="NPU40200-tab3-content-panel"
                        role="tabpanel"
                        aria-labelledby="NPU40200-tab3">

                        <div class="js-responsive-expandable">
                            <div class="note-content">
                                Tab 3
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </li>


        <li class="code-card leaf level-3" id="NPU20203">
            <div class="title">
                <div class="number">NPU20203</div>
                <div class="name">
                    Ercs(B)—Erythrocyt(Ag); arb.num.(list; proc.)
                </div>
            </div>
            <div class="code-details">
                <div class="additional-info">
                    <div><span>Gyldig fra</span> 02.04.2003</div>
                    <div><span>Gyldig til</span> 31.12.2019</div>
                    <div><span>Erstattet av</span> <a href="">ABD32</a>, <a href="">XYZ63</a></div>
                </div>
                <div class="description">

                    {% include message.html type="warning" title="Here's something you should take into consideration." details="Here's what you should do about it." %}

                </div>
            </div>
            <div class="notes">
                <div class="js-tabgroup tabgroup" id="NPU20203-group">

                    <div class="js-tablist tablist" role="tablist" aria-orientation="horizontal">
                        <div class="js-tabtitle tabtitle selected">
                            <button class="js-tab tab js-responsive-expander" role="tab" aria-selected="true"
                                id="NPU20203-tab1" aria-controls="NPU20203-tab1-content-panel">Tab 1
                            </button>
                        </div>
                        <div class="js-tabtitle tabtitle">
                            <button class="js-tab tab js-responsive-expander" role="tab" aria-selected="false" id="NPU20203-tab2"
                                aria-controls="NPU20203-tab2-content-panel">Tab 2
                            </button>
                        </div>
                        <div class="js-tabtitle tabtitle">
                            <button class="js-tab tab js-responsive-expander" role="tab" aria-selected="false"
                                id="NPU20203-tab3" aria-controls="NPU20203-tab3-content-panel">Tab 3
                            </button>
                        </div>
                    </div>

                    <div
                        class="js-responsive-expand js-tabpanel tabpanel selected"
                        id="NPU20203-tab1-content-panel"
                        role="tabpanel"
                        aria-labelledby="NPU20203-tab1">

                        <div class="js-responsive-expandable">
                            <div class="note-content">
                                {% include message.html type="error" title="Something went wrong." details="Here's what you should do about it." %}
                            </div>
                        </div>

                    </div>

                    <div
                        class="js-responsive-expand js-tabpanel tabpanel"
                        id="NPU20203-tab2-content-panel"
                        role="tabpanel"
                        aria-labelledby="NPU20203-tab2">

                        <div class="js-responsive-expandable">
                            <div class="note-content">
                                Tab 2
                            </div>
                        </div>

                    </div>

                    <div
                        class="js-responsive-expand js-tabpanel tabpanel"
                        id="NPU20203-tab3-content-panel"
                        role="tabpanel"
                        aria-labelledby="NPU20203-tab3">

                        <div class="js-responsive-expandable">
                            <div class="note-content">
                                Tab 3
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </li>


    </ul>
</div>