<header class="code-system-header">
    <div class="layout-container">

        <h1>
            <a href="code-system-front-page.html">
                <span>{{page.code-system}}</span>
            </a>
        </h1>
        <label class="checkbox-and-label expired-codes">
            <input type="checkbox">
            <span>Vis utgåtte koder</span>
        </label>
        <ul>
            <li><a href="">Kodeveiledning</a></li>
            <li><a href="">Filarkiv</a></li>
        </ul>



        <form action="https://url-to-search.finnkode.no/code-system-search" method="get" role="search" class="search-field">
            <input autofocus name="search" aria-label="Søk i ICD-10" type="search" class="search-input" placeholder="f.eks. kreft, bevissthetssilstand, fødsel...">
            <button class="search-button" type="submit">Søk i ICD-10</button>
        </form>

    </div>
</header>