<div class="codes">
    <ul class="code-list administrative">
        <li class="code-card leaf level-3" id="samling1">
            <div class="title">
                <div class="number">Samling</div>
                <div class="name">
                    EPJ-standard
                </div>
            </div>
            <div class="code-details">
                <div class="description">
                    <p>Kodeverk som benyttes i den generelle EPJ-standarden.</p>
                </div>
                <div class="actions">
                    <button class="download">Last ned samling</button>
                </div>
            </div>
            <div class="notes">
                <div class="js-tabgroup tabgroup" id="samling1-group">

                    <div class="js-tablist tablist" role="tablist" aria-orientation="horizontal">
                        <div class="js-tabtitle tabtitle selected">
                            <button class="js-tab tab js-responsive-expander" role="tab" aria-selected="true"
                                id="samling1-organizations-tab"
                                aria-controls="samling1-organizations-content-panel">Organisasjoner
                            </button>
                        </div>
                        <div class="js-tabtitle tabtitle">
                            <button class="js-tab tab js-responsive-expander" aria-selected="false"
                                id="samling1-administrative-tab"
                                aria-controls="samling1-administrative-content-panel">Kodeverk som inngår
                            </button>
                        </div>
                        <div class="js-tabtitle tabtitle">
                            <button class="js-tab tab js-responsive-expander" role="tab" aria-selected="false"
                                id="samling1-history-tab" aria-controls="samling1-history-content-panel">Historikk
                            </button>
                        </div>
                    </div>

                    <div
                        class="js-responsive-expand js-tabpanel tabpanel selected"
                        id="samling1-organizations-content-panel"
                        role="tabpanel"
                        aria-labelledby="samling1-organizations-tab">

                        <div class="js-responsive-expandable">
                            <div class="note-content">

                                <table class="vertical">
                                    <tr>
                                        <th>Ansvarlig organisasjon</th>
                                        <td><a href="#">Helsedirektoratet</a></td>
                                    </tr>
                                    <tr>
                                        <th>Registrert av</th>
                                        <td><a href="#">Helsedirektoratet</a></td>
                                    </tr>
                                    <tr>
                                        <th>Opprettet</th>
                                        <td>01.01.2006</td>
                                    </tr>
                                </table>


                            </div>
                        </div>

                    </div>

                    <div
                        class="js-responsive-expand js-tabpanel tabpanel"
                        id="samling1-administrative-content-panel"
                        role="tabpanel"
                        aria-labelledby="samling1-administrative-tab">

                        <div class="js-responsive-expandable">
                            <div class="note-content">
                                <ul class="link-list">

                                    <li><a href="produkt.asp?id=389810&amp;subID=8&amp;catID=3&amp;oid=9001">Status for
                                        EPJ (OID=9001)</a></li>

                                    <li><a href="produkt.asp?id=389811&amp;subID=8&amp;catID=3&amp;oid=9002">Journalkategorier
                                        (OID=9002)</a></li>

                                    <li><a href="produkt.asp?id=389812&amp;subID=8&amp;catID=3&amp;oid=9003">EPJ
                                        revisjonstype (OID=9003)</a></li>

                                    <li><a href="produkt.asp?id=389813&amp;subID=8&amp;catID=3&amp;oid=9004">EPJ
                                        informasjonsformål (OID=9004)</a></li>

                                    <li><a href="produkt.asp?id=389814&amp;subID=8&amp;catID=3&amp;oid=9005">EPJ
                                        informasjonskategori (OID=9005)</a></li>

                                    <li><a href="produkt.asp?id=389815&amp;subID=8&amp;catID=3&amp;oid=9006">EPJ
                                        signalkategori (OID=9006)</a></li>

                                    <li><a href="produkt.asp?id=389816&amp;subID=8&amp;catID=3&amp;oid=9007">EPJ
                                        varseltype (OID=9007)</a></li>

                                    <li><a href="produkt.asp?id=389817&amp;subID=8&amp;catID=3&amp;oid=9008">Formål med
                                        ekspedering av EPJ (OID=9008)</a></li>

                                    <li><a href="produkt.asp?id=389818&amp;subID=8&amp;catID=3&amp;oid=9009">Forsendelsesmåte
                                        EPJ (OID=9009)</a></li>

                                    <li><a href="produkt.asp?id=389819&amp;subID=8&amp;catID=3&amp;oid=9010">Formål med
                                        referanse til ekstern EPJ-komponent (OID=9010)</a></li>

                                    <li><a href="produkt.asp?id=389820&amp;subID=8&amp;catID=3&amp;oid=9011">EPJ-komponent
                                        hendelse (OID=9011)</a></li>

                                    <li><a href="produkt.asp?id=389821&amp;subID=8&amp;catID=3&amp;oid=9012">EPJ
                                        linktype (OID=9012)</a></li>

                                    <li><a href="produkt.asp?id=389822&amp;subID=8&amp;catID=3&amp;oid=9013">EPJ
                                        sakstype (OID=9013)</a></li>

                                    <li><a href="produkt.asp?id=389823&amp;subID=8&amp;catID=3&amp;oid=9014">Sorteringsprinsipp
                                        for EPJ saker (OID=9014)</a></li>

                                    <li><a href="produkt.asp?id=389824&amp;subID=8&amp;catID=3&amp;oid=9015">Relasjon
                                        til importert komponent (OID=9015)</a></li>

                                    <li><a href="produkt.asp?id=389825&amp;subID=8&amp;catID=3&amp;oid=9016">EPJ
                                        dokumenttype (OID=9016)</a></li>

                                    <li><a href="produkt.asp?id=389826&amp;subID=8&amp;catID=3&amp;oid=9017">Kvalitet av
                                        opplysninger i EPJ (OID=9017)</a></li>

                                    <li><a href="produkt.asp?id=389827&amp;subID=8&amp;catID=3&amp;oid=9018">Språk
                                        (OID=9018)</a></li>

                                    <li><a href="produkt.asp?id=389828&amp;subID=8&amp;catID=3&amp;oid=9019">EPJ
                                        fragmenttype (OID=9019)</a></li>

                                    <li><a href="produkt.asp?id=389829&amp;subID=8&amp;catID=3&amp;oid=9020">Status for
                                        tjenesteutførelse (OID=9020)</a></li>

                                    <li><a href="produkt.asp?id=389830&amp;subID=8&amp;catID=3&amp;oid=9021">Tilgang til
                                        pseudonymformål (OID=9021)</a></li>

                                    <li><a href="produkt.asp?id=389831&amp;subID=8&amp;catID=3&amp;oid=9022">Redigeringsrettigheter
                                        EPJ (OID=9022)</a></li>

                                    <li><a href="produkt.asp?id=389832&amp;subID=8&amp;catID=3&amp;oid=9023">Tilgangsrettighet
                                        EPJ hjelperegister (OID=9023)</a></li>

                                    <li><a href="produkt.asp?id=389833&amp;subID=8&amp;catID=3&amp;oid=9024">Tilgangsrettighet
                                        EPJ kodeverk (OID=9024)</a></li>

                                    <li><a href="produkt.asp?id=389834&amp;subID=8&amp;catID=3&amp;oid=9026">Bruksområde
                                        kodeverk (OID=9026)</a></li>

                                    <li><a href="produkt.asp?id=389835&amp;subID=8&amp;catID=3&amp;oid=9031">Type
                                        personnavnkomponent (OID=9031)</a></li>

                                    <li><a href="produkt.asp?id=389836&amp;subID=8&amp;catID=3&amp;oid=9032">Type
                                        personidentifikasjon (OID=9032)</a></li>

                                    <li><a href="produkt.asp?id=389837&amp;subID=8&amp;catID=3&amp;oid=9033">Slektskap
                                        mv. til pasient (OID=9033)</a></li>

                                    <li><a href="produkt.asp?id=389838&amp;subID=8&amp;catID=3&amp;oid=9034">Helsepersonells
                                        funksjoner mv. (OID=9034)</a></li>

                                    <li><a href="produkt.asp?id=389839&amp;subID=8&amp;catID=3&amp;oid=9035">Type
                                        adresse (OID=9035)</a></li>

                                    <li><a href="produkt.asp?id=389840&amp;subID=8&amp;catID=3&amp;oid=9036">Stillingskoder
                                        (OID=9036)</a></li>

                                    <li><a href="produkt.asp?id=389841&amp;subID=8&amp;catID=3&amp;oid=9037">Standard
                                        for yrkesklassifisering - STYRK (4-tegnskode) (OID=9037)</a></li>

                                    <li><a href="produkt.asp?id=389842&amp;subID=8&amp;catID=3&amp;oid=9038">Typer
                                        organisatoriske enheter (OID=9038)</a></li>

                                    <li><a href="produkt.asp?id=389843&amp;subID=8&amp;catID=3&amp;oid=9039">Relasjoner
                                        mellom organisatoriske enheter (OID=9039)</a></li>

                                    <li><a href="produkt.asp?id=389844&amp;subID=8&amp;catID=3&amp;oid=9044">Type
                                        adressekomponeneter (OID=9044)</a></li>

                                    <li><a href="produkt.asp?id=389845&amp;subID=8&amp;catID=3&amp;oid=9045">Sivil
                                        status (OID=9045)</a></li>

                                    <li><a href="produkt.asp?id=389846&amp;subID=8&amp;catID=3&amp;oid=9047">Typer
                                        programvare (OID=9047)</a></li>

                                    <li><a href="produkt.asp?id=389847&amp;subID=8&amp;catID=3&amp;oid=9048">EPJ
                                        hendelse (OID=9048)</a></li>

                                    <li><a href="produkt.asp?id=389848&amp;subID=8&amp;catID=3&amp;oid=9049">EPJ
                                        dataelementtype (OID=9049)</a></li>

                                    <li><a href="produkt.asp?id=389849&amp;subID=8&amp;catID=3&amp;oid=9053">Funksjoner
                                        og funksjonsområder til bruk ved tildeling av tilgangsrettigheter til
                                        EPJ-systemer mv. (OID=9053)</a></li>

                                    <li><a href="produkt.asp?id=389850&amp;subID=8&amp;catID=3&amp;oid=9060">Kategori
                                        helsepersonell (OID=9060)</a></li>

                                    <li><a href="produkt.asp?id=389851&amp;subID=8&amp;catID=3&amp;oid=9062">Type
                                        EPJ-melding (OID=9062)</a></li>

                                    <li><a href="produkt.asp?id=389852&amp;subID=8&amp;catID=3&amp;oid=9063">Type
                                        innhold for dokument overført med EPJ-melding (OID=9063)</a></li>

                                    <li><a href="produkt.asp?id=389853&amp;subID=8&amp;catID=3&amp;oid=9064">Status for
                                        innhenting av pasientens samtykke (OID=9064)</a></li>

                                    <li><a href="produkt.asp?id=389854&amp;subID=8&amp;catID=3&amp;oid=9065">Type
                                        forespørsel vedr. EPJ-overføring (OID=9065)</a></li>

                                    <li><a href="produkt.asp?id=389855&amp;subID=8&amp;catID=3&amp;oid=9068">Formål med
                                        forespørsel om informasjon fra EPJ (OID=9068)</a></li>

                                    <li><a href="produkt.asp?id=389856&amp;subID=8&amp;catID=3&amp;oid=9069">Svarkategori,
                                        overføring av EPJ-informasjon (OID=9069)</a></li>

                                    <li><a href="produkt.asp?id=389857&amp;subID=8&amp;catID=3&amp;oid=9190">Opplysning
                                        fra pasient om omsorgsansvar for mindreårige barn (OID=9190)</a></li>

                                    <li><a href="produkt.asp?id=389858&amp;subID=8&amp;catID=3&amp;oid=9191">Om
                                        eventuelle mindreårige barn med behov for oppfølging (OID=9191)</a></li>

                                    <li><a href="produkt.asp?id=389859&amp;subID=8&amp;catID=3&amp;oid=9192">Relasjon
                                        til mindreårig barn (OID=9192)</a></li>

                                    <li><a href="produkt.asp?id=389860&amp;subID=8&amp;catID=3&amp;oid=9193">Foreldreansvar
                                        i forhold til mindreårig barn (OID=9193)</a></li>

                                    <li><a href="produkt.asp?id=389861&amp;subID=8&amp;catID=3&amp;oid=9194">Omsorgsansvar
                                        for mindreårig barn (OID=9194)</a></li>

                                    <li><a href="produkt.asp?id=389862&amp;subID=8&amp;catID=3&amp;oid=9195">Om
                                        barnevernets omsorg for mindreårig barn (OID=9195)</a></li>

                                    <li><a href="produkt.asp?id=389863&amp;subID=8&amp;catID=3&amp;oid=9196">Samtykkekompetanse
                                        på vegne av mindreårig barn (OID=9196)</a></li>

                                    <li><a href="produkt.asp?id=389864&amp;subID=8&amp;catID=3&amp;oid=9197">Status
                                        gjennomføring av tiltak ovenfor en pasients mindreårig barn (OID=9197)</a></li>

                                    <li><a href="produkt.asp?id=389865&amp;subID=8&amp;catID=3&amp;oid=9198">Om forsøk
                                        på innhenting av samtykke (OID=9198)</a></li>

                                    <li><a href="produkt.asp?id=389866&amp;subID=8&amp;catID=3&amp;oid=9199">Rettigheter
                                        i forhold til sperrede opplysninger (OID=9199)</a></li>

                                    <li><a href="produkt.asp?id=389867&amp;subID=8&amp;catID=3&amp;oid=9200">Rettigheter
                                        vedrørende utskrift av søkeresultat (OID=9200)</a></li>

                                    <li><a href="produkt.asp?id=389868&amp;subID=8&amp;catID=3&amp;oid=9201">Regler for
                                        gjenbruk av komponentinnhold (OID=9201)</a></li>

                                    <li><a href="produkt.asp?id=389869&amp;subID=8&amp;catID=3&amp;oid=9202">Ferdigstillingsstatus
                                        EPJ komponent (OID=9202)</a></li>

                                    <li><a href="produkt.asp?id=389870&amp;subID=8&amp;catID=3&amp;oid=9203">Redigeringsregler
                                        EPJ (OID=9203)</a></li>

                                    <li><a href="produkt.asp?id=389871&amp;subID=8&amp;catID=3&amp;oid=9205">Linktype
                                        EPJ (OID=9205)</a></li>

                                    <li><a href="produkt.asp?id=389872&amp;subID=8&amp;catID=3&amp;oid=9206">Linkstyrke
                                        (OID=9206)</a></li>

                                    <li><a href="produkt.asp?id=389873&amp;subID=8&amp;catID=3&amp;oid=9207">Inneholder
                                        personidentifiserbar informasjon (OID=9207)</a></li>

                                    <li><a href="produkt.asp?id=389874&amp;subID=8&amp;catID=3&amp;oid=9208">Bruk av
                                        ferdigstillingsstatus for EPJ komponent (OID=9208)</a></li>

                                    <li><a href="produkt.asp?id=389875&amp;subID=8&amp;catID=3&amp;oid=9209">Tilknytning
                                        av mappeinnhold (OID=9209)</a></li>

                                    <li><a href="produkt.asp?id=389876&amp;subID=8&amp;catID=3&amp;oid=9210">Automatisk
                                        inkludering av komponenter (OID=9210)</a></li>

                                    <li><a href="produkt.asp?id=389877&amp;subID=8&amp;catID=3&amp;oid=9211">Oppnevnelse
                                        av pasientrepresentant (OID=9211)</a></li>

                                    <li><a href="produkt.asp?id=389878&amp;subID=8&amp;catID=3&amp;oid=9212">Regler for
                                        tomt dataelement (OID=9212)</a></li>

                                    <li><a href="produkt.asp?id=389879&amp;subID=8&amp;catID=3&amp;oid=9213">Språkregel
                                        dokumentasjon i EPJ (OID=9213)</a></li>

                                    <li><a href="produkt.asp?id=389880&amp;subID=8&amp;catID=3&amp;oid=9214">Regel for
                                        angivelse av informasjonskvalitet i EPJ (OID=9214)</a></li>

                                    <li><a href="produkt.asp?id=389881&amp;subID=8&amp;catID=3&amp;oid=9215">Regel
                                        personidentifiserbar informasjon i EPJ (OID=9215)</a></li>

                                    <li><a href="produkt.asp?id=389882&amp;subID=8&amp;catID=3&amp;oid=9216">EPJ
                                        datatyper (OID=9216)</a></li>

                                    <li><a href="produkt.asp?id=389883&amp;subID=8&amp;catID=3&amp;oid=9217">Standardverdibehandling
                                        (OID=9217)</a></li>

                                    <li><a href="produkt.asp?id=389884&amp;subID=8&amp;catID=3&amp;oid=9218">Regel for
                                        lovlige verdier ved registrering av tidspunkt (OID=9218)</a></li>

                                    <li><a href="produkt.asp?id=389885&amp;subID=8&amp;catID=3&amp;oid=9219">Kilde til
                                        standardverdi for person (OID=9219)</a></li>

                                    <li><a href="produkt.asp?id=389886&amp;subID=8&amp;catID=3&amp;oid=9220">Kilde til
                                        standardverdi for Tjenesteyter (OID=9220)</a></li>

                                    <li><a href="produkt.asp?id=389887&amp;subID=8&amp;catID=3&amp;oid=9221">Kilde til
                                        standardverdi for Organisatorisk enhet (OID=9221)</a></li>

                                    <li><a href="produkt.asp?id=389888&amp;subID=8&amp;catID=3&amp;oid=9222">Kilde til
                                        standardverdi for Adresse (OID=9222)</a></li>

                                    <li><a href="produkt.asp?id=389889&amp;subID=8&amp;catID=3&amp;oid=9223">Kilde til
                                        standardverdi for telekomadresse (OID=9223)</a></li>

                                    <li><a href="produkt.asp?id=389890&amp;subID=8&amp;catID=3&amp;oid=9224">Kilde til
                                        standardverdi for Rolle (OID=9224)</a></li>

                                    <li><a href="produkt.asp?id=389891&amp;subID=8&amp;catID=3&amp;oid=9225">Elementtyper
                                        for kodeverk (OID=9225)</a></li>

                                    <li><a href="produkt.asp?id=389892&amp;subID=8&amp;catID=3&amp;oid=9226">Identifikatortyper
                                        (OID=9226)</a></li>

                                    <li><a href="produkt.asp?id=389893&amp;subID=8&amp;catID=3&amp;oid=9227">Gyldighetsområde
                                        for identifikatorer (OID=9227)</a></li>

                                    <li><a href="produkt.asp?id=389894&amp;subID=8&amp;catID=3&amp;oid=9228">Prinsipp
                                        for identifikatorgenerering (OID=9228)</a></li>

                                    <li><a href="produkt.asp?id=389895&amp;subID=8&amp;catID=3&amp;oid=9229">Identifikator
                                        kan utstedes av (OID=9229)</a></li>

                                    <li><a href="produkt.asp?id=389896&amp;subID=8&amp;catID=3&amp;oid=9230">Samtykke
                                        til tilgang til, eller utlevering av helseopplysninger (OID=9230)</a></li>

                                    <li><a href="produkt.asp?id=389897&amp;subID=8&amp;catID=3&amp;oid=9231">Gyldighet
                                        for samtykke (OID=9231)</a></li>

                                    <li><a href="produkt.asp?id=389898&amp;subID=8&amp;catID=3&amp;oid=9232">Sperrede
                                        journalopplysningers relevans for behandlingsalansvarlig (OID=9232)</a></li>

                                    <li><a href="produkt.asp?id=389899&amp;subID=8&amp;catID=3&amp;oid=9233">Varsel ved
                                        tjenesteutførelse (OID=9233)</a></li>

                                    <li><a href="produkt.asp?id=389900&amp;subID=8&amp;catID=3&amp;oid=9234">Regler for
                                        redigering (fjerning) og sletting av opplysninger relatert til gjennomføring av
                                        besluttet tiltak (OID=9234)</a></li>

                                    <li><a href="produkt.asp?id=389901&amp;subID=8&amp;catID=3&amp;oid=9235">Tjenesteutførelse
                                        ved involvert enhet (OID=9235)</a></li>

                                    <li><a href="produkt.asp?id=389902&amp;subID=8&amp;catID=3&amp;oid=9236">Type
                                        tiltaksrelasjon (OID=9236)</a></li>

                                    <li><a href="produkt.asp?id=389903&amp;subID=8&amp;catID=3&amp;oid=9237">Kilde til
                                        krav om retting eller sletting av opplysninger i EPJ (OID=9237)</a></li>

                                    <li><a href="produkt.asp?id=389904&amp;subID=8&amp;catID=3&amp;oid=9238">Status for
                                        gjennomføring av besluttet tiltak (OID=9238)</a></li>

                                    <li><a href="produkt.asp?id=389905&amp;subID=8&amp;catID=3&amp;oid=9239">Tilgang til
                                        eller blokkering av opplysninger i EPJ (OID=9239)</a></li>

                                    <li><a href="produkt.asp?id=389906&amp;subID=8&amp;catID=3&amp;oid=9240">Type
                                        pasientgruppe (OID=9240)</a></li>

                                    <li><a href="produkt.asp?id=389907&amp;subID=8&amp;catID=3&amp;oid=9241">Regel for
                                        overføring av opplysninger fra gruppejournal til medlemmers EPJ (OID=9241)</a>
                                    </li>

                                    <li><a href="produkt.asp?id=389908&amp;subID=8&amp;catID=3&amp;oid=9242">Rolle i
                                        pasientrelatert gruppe (OID=9242)</a></li>

                                    <li><a href="produkt.asp?id=389909&amp;subID=8&amp;catID=3&amp;oid=9243">Status
                                        hjemstavn ved registrering i EPJ-system (OID=9243)</a></li>

                                    <li><a href="produkt.asp?id=389910&amp;subID=8&amp;catID=3&amp;oid=9244">Innsynsrett
                                        i journal (OID=9244)</a></li>

                                    <li><a href="produkt.asp?id=389911&amp;subID=8&amp;catID=3&amp;oid=9245">Pasientrepresentants
                                        samtykkekompetanse (OID=9245)</a></li>

                                    <li><a href="produkt.asp?id=389912&amp;subID=8&amp;catID=3&amp;oid=9246">Helsepersonells
                                        rolle i forhold til pasient (OID=9246)</a></li>

                                    <li><a href="produkt.asp?id=389913&amp;subID=8&amp;catID=3&amp;oid=9247">Postnummerregel
                                        (OID=9247)</a></li>

                                    <li><a href="produkt.asp?id=389914&amp;subID=8&amp;catID=3&amp;oid=9251">Komponent
                                        hendelse (EPJ) (OID=9251)</a></li>

                                    <li><a href="produkt.asp?id=389915&amp;subID=8&amp;catID=3&amp;oid=9252">Revisjonstype
                                        (EPJ) (OID=9252)</a></li>

                                    <li><a href="produkt.asp?id=389916&amp;subID=8&amp;catID=3&amp;oid=9253">Type
                                        basiskomponent (EPJ) (OID=9253)</a></li>

                                </ul>
                            </div>
                        </div>

                    </div>

                    <div
                        class="js-responsive-expand js-tabpanel tabpanel"
                        id="samling1-history-content-panel"
                        role="tabpanel"
                        aria-labelledby="samling1-history-tab">

                        <div class="js-responsive-expandable">
                            <div class="note-content">


                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </li>
        <li class="code-card leaf level-3 expiring-soon" id="code-system-1">
            <div class="title">
                <div class="number">9205</div>
                <div class="name">
                    Linktype
                </div>
                <span class="status">Utgår</span>
            </div>
            <div class="code-details">
                <div class="nb">Obs! Denne koden utgår fra 31.12.2019.</div>

                <div class="additional-info">
                    <div><span>Gyldig fra</span> 02.04.2003</div>
                    <div><span>Gyldig til</span> 31.12.2019</div>
                    <div><span>Erstattet av</span> <a href="">OID3048</a></div>
                </div>

                <div class="description">

                </div>
            </div>
            <div class="notes">
                <div class="js-tabgroup tabgroup" id="group1">

                    <div class="js-tablist tablist" role="tablist" aria-orientation="horizontal">
                        <div class="js-tabtitle tabtitle selected">
                            <button class="js-tab tab js-responsive-expander" role="tab" aria-selected="true"
                                id="apples1-tab" aria-controls="apples1-content-panel">apples1
                            </button>
                        </div>
                        <div class="js-tabtitle tabtitle">
                            <button class="js-tab tab js-responsive-expander" aria-selected="false" id="bananas1-tab"
                                aria-controls="bananas1-content-panel">bananas11
                            </button>
                        </div>
                        <div class="js-tabtitle tabtitle">
                            <button class="js-tab tab js-responsive-expander" role="tab" aria-selected="false"
                                id="peaches1-tab" aria-controls="peaches1-content-panel">peaches1
                            </button>
                        </div>
                    </div>

                    <div
                        class="js-responsive-expand js-tabpanel tabpanel selected"
                        id="apples1-content-panel"
                        role="tabpanel"
                        aria-labelledby="apples1-tab">

                        <div class="js-responsive-expandable">
                            <div class="note-content">
                                <h2>apples1</h2>
                                <a href="#">apples1 keep peaching! </a>
                            </div>
                        </div>

                    </div>

                    <div
                        class="js-responsive-expand js-tabpanel tabpanel"
                        id="bananas1-content-panel"
                        role="tabpanel"
                        aria-labelledby="bananas1-tab">

                        <div class="js-responsive-expandable">
                            <div class="note-content">
                                <h2>bananas1</h2>
                                <a href="#">bananas1 keep peaching! </a>
                            </div>
                        </div>

                    </div>

                    <div
                        class="js-responsive-expand js-tabpanel tabpanel"
                        id="peaches1-content-panel"
                        role="tabpanel"
                        aria-labelledby="peaches1-tab">

                        <div class="js-responsive-expandable">
                            <div class="note-content">
                                <h2>peaches1</h2>
                                <a href="#">peaches1 keep peaching! </a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </li>
        <li class="code-card leaf level-3 expired" id="NPU20202">
            <div class="title">
                <div class="number">NPU20200</div>
                <div class="name">
                    Ercs(B)—Erythrocyt(Ag); arb.num.(list; proc.)
                </div>
                <span class="status">Utgått</span>
            </div>
            <div class="code-details">
                <div class="additional-info">
                    <div><span>Gyldig fra</span> 02.04.2003</div>
                    <div><span>Gyldig til</span> 31.12.2019</div>
                    <div><span>Erstattet av</span> <a href="">ABD32</a>, <a href="">XYZ63</a></div>
                </div>

                <div class="description">

                </div>
            </div>
            <div class="notes">
                <div class="js-tabgroup tabgroup" id="group2">

                    <div class="js-tablist tablist" role="tablist" aria-orientation="horizontal">
                        <div class="js-tabtitle tabtitle selected">
                            <button class="js-tab tab js-responsive-expander" role="tab" aria-selected="true"
                                id="apples2-tab" aria-controls="apples2-content-panel">apples2
                            </button>
                        </div>
                        <div class="js-tabtitle tabtitle">
                            <button class="js-tab tab js-responsive-expander" aria-selected="false" id="bananas2-tab"
                                aria-controls="bananas2-content-panel">bananas2
                            </button>
                        </div>
                        <div class="js-tabtitle tabtitle">
                            <button class="js-tab tab js-responsive-expander" role="tab" aria-selected="false"
                                id="peaches2-tab" aria-controls="peaches2-content-panel">peaches2
                            </button>
                        </div>
                    </div>

                    <div
                        class="js-responsive-expand js-tabpanel tabpanel selected"
                        id="apples2-content-panel"
                        role="tabpanel"
                        aria-labelledby="apples2-tab">

                        <div class="js-responsive-expandable">
                            <div class="note-content">
                                <h2>apples2</h2>
                                <a href="#">apples2 keep peaching! </a>
                            </div>
                        </div>

                    </div>

                    <div
                        class="js-responsive-expand js-tabpanel tabpanel"
                        id="bananas2-content-panel"
                        role="tabpanel"
                        aria-labelledby="bananas2-tab">

                        <div class="js-responsive-expandable">
                            <div class="note-content">
                                <h2>bananas2</h2>
                                <a href="#">bananas2 keep peaching! </a>
                            </div>
                        </div>

                    </div>

                    <div
                        class="js-responsive-expand js-tabpanel tabpanel"
                        id="peaches2-content-panel"
                        role="tabpanel"
                        aria-labelledby="peaches2-tab">

                        <div class="js-responsive-expandable">
                            <div class="note-content">
                                <h2>peaches2</h2>
                                <a href="#">peaches2 keep peaching! </a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </li>



    </ul>
</div>