<!-- Used for code system pages, both their front page and the page that displays the actual code system content. -->
{% include html-top.html %}
<!-- ********************************************************************** -->


<div class="headers js-sticky-header">
    {% include framework-header.html %}
    {% include code-system-header.html %}
</div>

<div class="panel-container layout-container ">



    {{content}}

</div>


<!-- ********************************************************************** -->
{% include html-bottom.html %}