<!-- Used for code system pages, both their front page and the page that displays the actual code system content. -->
{% include html-top.html %}
<!-- ********************************************************************** -->


<div class="headers js-sticky-header">
    {% include framework-header.html %}
    {% include code-system/code-system-header.html %}
</div>

<div class="panel-container layout-container js-panel-container">

    <div class="js-tree-expand tree-expand-block">

        {% include code-system/code-system-tree.html %}

        <div class="expander-splitter js-tree-expander">
            <div class="splitter-title">Innholdsfortegnelse</div>
            <div class="splitter-instructions">Trekk for å utvide</div>
        </div>

    </div>

    <div class="code-system-content-container js-code-system-content-container">
        <div class="code-system-content">

            {{ content }}

        </div>
    </div>

</div>


<!-- ********************************************************************** -->
{% include html-bottom.html %}