<!-- Used for code system pages, both their front page and the page that displays the actual code system content. -->
{% include html-top.html %}
<!-- ********************************************************************** -->


<div class="headers js-sticky-header">
    {% include framework-header.html %}
    {% include code-system-header.html %}
</div>

<!--<div class="panel-container layout-container js-nav-tree-expand">-->
    <div class="panel-container layout-container">

<!--    {% if page.code-system-tree-expanded == true%}-->

<!--        {% include code-system-tree-expanded.html %}-->

<!--    {% else %}-->

<!--        {% include code-system-tree-collapsed.html %}-->

<!--    {% endif %}-->

    <div class="splitter js-nav-tree-expander">
        <div class="splitter-name">{{page.code-system}}</div>
        <div class="splitter-instructions">Trekk for å utvide</div>
    </div>

    {{content}}

</div>


<!-- ********************************************************************** -->
{% include html-bottom.html %}