<!-- Used for search pages -->
{% include html-top.html %}
<!-- ********************************************************************** -->


{% include framework-header.html %}

<main id="page-content" tabindex="-1">
    <h1 class="visuallyhidden">{{page.title}}</h1>

    {% include search/global-search-banner.html %}

    <div class="layout-container" id="search-container" tabindex="-1">

        {% if page.hide-filters != true %}
            {% include search/search-refiners.html %}
        {% endif %}

        <div id="search-results" tabindex="-1">

            {{ content }}

        </div>

    </div>
</main>

{% include framework-footer.html %}


<!-- ********************************************************************** -->
{% include html-bottom.html %}