<h2>
    <div class="chapter-number">Kapittel II (C00-D48)</div>
    <div class="chapter-title">Svulster</div>
</h2>

<section class="inclusions-exclusions">
    <h3>Inklusjoner:</h3>
    <ul>
        <li>Infeksjoner som skyldes Mycobacterium tuberculosis og Mycobacterium bovis</li>
    </ul>

    <h3>Eksklusjoner:</h3>
    <ul>
        <li>Følgetilstander etter tuberkulose (B90.-)
        <li>Medfødt tuberkulose (P37.0)
        <li>Pneumokoniose i forbindelse med tuberkulose (J65)
        <li>Silikose med tuberkulose (J65)
        <li>Hiv-sykdom med tuberkulose (B20.0)
    </ul>
</section>

<div class="codes">
    <ul>
        <li class="code leaf level-1" id="C00-C97">
            <div class="code-title">
                <div class="code-number">C00-C97</div>
                <div class="code-name">Ondartede svulster</div>
            </div>
        </li>
        <li class="code leaf level-1" id="C00-C75">
            <div class="code-title">
                <div class="code-number">C00-C75</div>
                <div class="code-name">Ondartede svulster som er oppgitt eller antatt å være primære på spesifiserte lokalisasjoner, unntatt i lymfoid, hematopoetisk eller beslektet vev</div>
            </div>
        </li>
        <li class="code node level-1" id="C00-C14">
            <div class="code-title">
                <div class="code-number">C00-C14</div>
                <div class="code-name">Ondartede svulster på leppe, i munnhule og i svelg</div>
            </div>
            <ul class="subcodes">
                <li class="code node level-2" id="C00">
                    <div class="code-title">
                        <div class="code-number">C00</div>
                        <div class="code-name">Ondartet svulst på leppe (neoplasma malignum labii)</div>
                    </div>
                    <div class="code-details">Ekskl: hud på leppe (C43.0, C44.0)</div>
                    <ul class="subcodes">
                        <li class="code leaf level-3 " id="c00.0">
                            <div class="code-title">
                                <div class="code-number">C00.0</div>
                                <div class="code-name">Utside av overleppe (facies externus labii superius oris)</div>
                            </div>
                            <div class="code-details">
                                Overleppe:
                                lepperødt
                                INA
                            </div>
                        </li>
                        <li class="code leaf level-3" id="C00.1">
                            <div class="code-title">
                                <div class="code-number">C00.1</div>
                                <div class="code-name">Utside av underleppe (facies externus labii inferius oris)</div>
                            </div>
                            <div class="code-details">
                                Underleppe:
                                lepperødt
                                INA
                            </div>
                        </li>
                        <li class="code leaf level-3" id="C00.2">
                            <div class="code-title">
                                <div class="code-number">C00.2</div>
                                <div class="code-name">Utside av leppe (facies externus labii), uspesifisert</div>
                            </div>
                            <div class="code-details">
                                Lepperødt INA
                            </div>
                        </li>
                        <li class="code leaf level-3" id="C00.3">
                            <div class="code-title">
                                <div class="code-number">C00.3</div>
                                <div class="code-name">Innside av overleppe (facies internus labii superius oris)</div>
                            </div>
                            <div class="code-details">
                                Overleppe:
                                bukkal side
                                frenulum labii superior
                                oral side
                                slimhinne
                            </div>
                        </li>
                        <li class="code leaf level-3" id="C00.4">
                            <div class="code-title">
                                <div class="code-number">C00.4</div>
                                <div class="code-name">Innside av underleppe (facies internus labii inferius oris)</div>
                            </div>
                            <div class="code-details">
                                Underleppe:
                                bukkal side
                                frenulum labii inferior
                                oral side
                                slimhinne
                            </div>
                        </li>
                        <li class="code leaf level-3" id="C00.5">
                            <div class="code-title">
                                <div class="code-number">C00.5</div>
                                <div class="code-name">Innside av leppe (facies internus labii oris), uspesifisert</div>
                            </div>
                            <div class="code-details">

                                Leppe, ikke spesifisert om over- eller underleppe:
                                bukkal side
                                frenulum labii
                                oral side
                                slimhinne
                            </div>
                        </li>
                        <li class="code leaf level-3" id="C00.6">
                            <div class="code-title">
                                <div class="code-number">C00.6</div>
                                <div class="code-name">Munnvik (commissura labiorum oris)</div>
                            </div>
                        </li>
                        <li class="code leaf level-3" id="C00.8">
                            <div class="code-title">
                                <div class="code-number">C00.8</div>
                                <div class="code-name">Overlappende svulst i leppe</div>
                            </div>
                            <div class="code-details">
                                [Se merknad 5 i begynnelsen av kapitlet]
                            </div>
                        </li>
                        <li class="code leaf level-3" id="C00.9">
                            <div class="code-title">
                                <div class="code-number">C00.9</div>
                                <div class="code-name">Leppe (labium oris), uspesifisert</div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="code leaf level-2" id="C01">
                    <div class="code-title">
                        <div class="code-number">C01</div>
                        <div class="code-name">Ondartet svulst i tungerot (neoplasma malignum radicis linguae)</div>
                    </div>
                    <div class="code-details">
                        Bakre tredjedel av tunge
                        Overside av tungerot (facies superius radicis linguae)
                        Ubevegelig del av tunge INA
                    </div>
                </li>
                <li class="code node level-2" id="C02">
                    <div class="code-title">
                        <div class="code-number">C02</div>
                        <div class="code-name">Ondartet svulst i andre og uspesifiserte deler av tunge (neoplasma malignum partis alterius et non specificatae linguae)</div>
                    </div>
                    <ul class="subcodes">
                        <li class="code leaf level-3" id="C02.0">
                            <div class="code-title">
                                <div class="code-number">C02.0</div>
                                <div class="code-name">Overside av tunge (dorsum linguae)</div>
                            </div>
                            <div class="code-details"> Fremre to tredjedeler av tunge, overside
                                Ekskl: overside av tungerot (C01)
                            </div>
                        </li>
                        <li class="code leaf level-3" id="C02.1">
                            <div class="code-title">
                                <div class="code-number">C02.1</div>
                                <div class="code-name">Tungerand (margo linguae)</div>
                            </div>
                            <div class="code-details">Tungespiss (apex linguae)</div>
                        </li>
                        <li class="code leaf level-3" id="C02.2">
                            <div class="code-title">
                                <div class="code-number">C02.2</div>
                                <div class="code-name">Underside av tunge (facies inferius linguae)</div>
                            </div>
                            <div class="code-details">Fremre to tredjedeler av tunge, underside
                                Tungebånd (frenulum linguae)
                            </div>
                        </li>
                        <li class="code leaf level-3" id="C02.3">
                            <div class="code-title">
                                <div class="code-number">C02.3</div>
                                <div class="code-name">Fremre to tredjedeler av tunge, uspesifisert del</div>
                            </div>
                            <div class="code-details">Bevegelig del av tunge INA
                                Midtre tredjedel av tunge INA
                            </div>
                        </li>
                        <li class="code leaf level-3" id="C02.4">
                            <div class="code-title">
                                <div class="code-number">C02.4</div>
                                <div class="code-name">Tungemandel (tonsilla linguae)</div>
                            </div>
                            <div class="code-details">Ekskl: mandel INA(C09.9)</div>
                        </li>
                        <li class="code leaf level-3" id="C02.8">
                            <div class="code-title">
                                <div class="code-number">C02.</div>
                                <div class="code-name">8 Overlappende svulst i tunge</div>
                            </div>
                            <div class="code-details">[Se merknad 5 i begynnelsen av kapitlet]
                                Ondartet svulst i tunge med utgangspunkt som ikke kodes under noen av kategoriene C01-C02.4
                            </div>
                        </li>
                        <li class="code leaf level-3" id="C02.9">
                            <div class="code-title">
                                <div class="code-number">C02.9</div>
                                <div class="code-name">Tunge (lingua), uspesifisert</div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="code node level-2" id="C03">
                    <div class="code-title">
                        <div class="code-number">C03</div>
                        <div class="code-name">Ondartet svulst i tannkjøtt (neoplasma malignum gingivae)</div>
                    </div>
                    <div class="code-details">
                        <dt>Inkl</dt>
                        <dd>lveolarslimhinne</dd>
                        <dt>Ekskl:</dt>
                        <dd>ondartet odontogen svulst (C41.0-C41.1)</dd>
                        </dl>
                    </div>
                    <ul class="subcodes">
                        <li class="code leaf level-3" id="C03.0">
                            <div class="code-title">
                                <div class="code-number">C03.0</div>
                                <div class="code-name">Tannkjøtt i overkjeve (gingiva superior)</div>
                            </div>
                        </li>
                        <li class="code leaf level-3" id="C03.1">
                            <div class="code-title">
                                <div class="code-number">03.1</div>
                                <div class="code-name">Tannkjøtt i underkjeve (gingiva inferior)</div>
                            </div>
                        </li>
                        <li class="code leaf level-3" id="C03.9">
                            <div class="code-title">
                                <div class="code-number">C03.9</div>
                                <div class="code-name">Tannkjøtt (gingiva), uspesifisert</div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>

<h2>Dummy-content to allow the frame to scroll to the internal anchors</h2>

{% include lipsum.html %}
{% include lipsum.html %}
{% include lipsum.html %}