<ul role="tree" aria-labelledby="tree1">
    <li role="treeitem" aria-expanded="false">
        <span><a href="#A00-B99">Kapittel I (A00-B99) Visse infeksjonssykdommer og parasittsykdommer</a></span>
    </li>

    <li role="treeitem" aria-expanded="true">
        <span><a href="#C00-D48">Kapittel II (C00-D48) Svulster</a></span>
        <ul>
            <li role="none">
                <a role="treeitem" href="#C00-C97">
                    (C00-C97) Ondartede svulster
                </a>
            </li>
            <li role="none">
                <a role="treeitem" href="#C00-C75">
                    (C00-C75) Ondartede svulster som er oppgitt eller antatt å være primære på spesifiserte lokalisasjoner, unntatt i lymfoid, hematopoetisk eller beslektet vev
                </a>
            </li>
            <li role="treeitem" aria-expanded="false">
                <span><a href="#C00-C14">(C00-C14) Ondartede svulster på leppe, i munnhule og i svelg</a></span>
                <ul role="group">
                    <li role="treeitem" aria-expanded="false">
                        <span><a href="#C00">C00 Ondartet svulst på leppe (neoplasma malignum labii)</a></span>
                        <ul role="group">
                            <li role="none">
                                <a role="treeitem" href="#C00.0">
                                    C00.0 Utside av overleppe (facies externus labii superius oris)
                                </a>
                            </li>
                            <li role="none">
                                <a role="treeitem" href="#C00.1">
                                    C00.1 Utside av underleppe (facies externus labii inferius oris)
                                </a>
                            </li>
                            <li role="none">
                                <a role="treeitem" href="#C00.2">
                                    C00.2 Utside av leppe (facies externus labii), uspesifisert
                                </a>
                            </li>
                            <li role="none">
                                <a role="treeitem" href="#C00.3">
                                    C00.3 Innside av overleppe (facies internus labii superius oris)
                                </a>
                            </li>
                            <li role="none">
                                <a role="treeitem" href="#C00.4">
                                    C00.4 Innside av underleppe (facies internus labii inferius oris)
                                </a>
                            </li>
                            <li role="none">
                                <a role="treeitem" href="#C00.5">
                                    C00.5 Innside av leppe (facies internus labii oris), uspesifisert
                                </a>
                            </li>
                            <li role="none">
                                <a role="treeitem" href="#C00.6">
                                    C00.6 Munnvik (commissura labiorum oris)
                                </a>
                            </li>
                            <li role="none">
                                <a role="treeitem" href="#C00.8">
                                    C00.8 Overlappende svulst i leppe
                                </a>
                            </li>
                            <li role="none">
                                <a role="treeitem" href="#C00.9">
                                    C00.9 Leppe (labium oris), uspesifisert
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li role="none">
                        <a role="treeitem" href="#C01">
                            C01 Ondartet svulst i tungerot (neoplasma malignum radicis linguae)
                        </a>
                    </li>
                    <li role="treeitem" aria-expanded="false">
                        <span><a href="#C02">C02 Ondartet svulst i andre og uspesifiserte deler av tunge (neoplasma malignum partis alterius et non specificatae linguae)</a></span>
                        <ul role="group">
                            <li role="none">
                                <a role="treeitem" href="#C02.0">
                                    C02.0 Overside av tunge (dorsum linguae)
                                </a>
                            </li>
                            <li role="none">
                                <a role="treeitem" href="#C02.1">
                                    C02.1 Tungerand (margo linguae)
                                </a>
                            </li>
                            <li role="none">
                                <a role="treeitem" href="#C02.2">
                                    C02.2 Underside av tunge (facies inferius linguae)
                                </a>
                            </li>
                            <li role="none">
                                <a role="treeitem" href="#C02.3">
                                    C02.3 Fremre to tredjedeler av tunge, uspesifisert del
                                </a>
                            </li>
                            <li role="none">
                                <a role="treeitem" href="#C02.4">
                                    C02.4 Tungemandel (tonsilla linguae)
                                </a>
                            </li>
                            <li role="none">
                                <a role="treeitem" href="#C02.8">
                                    C02.8 Overlappende svulst i tunge
                                </a>
                            </li>
                            <li role="none">
                                <a role="treeitem" href="#C02.9">
                                    C02.9 Tunge (lingua), uspesifisert
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li role="treeitem" aria-expanded="false">
                        <span><a href="#C03">C03 Ondartet svulst i tannkjøtt (neoplasma malignum gingivae)</a></span>
                        <ul role="group">
                            <li role="none">
                                <a role="treeitem" href="#C03.0">
                                    C03.0 Tannkjøtt i overkjeve (gingiva superior)
                                </a>
                            </li>
                            <li role="none">
                                <a role="treeitem" href="#C03.1">
                                    C03.1 Tannkjøtt i underkjeve (gingiva inferior)
                                </a>
                            </li>
                            <li role="none">
                                <a role="treeitem" href="#C03.9">
                                    C03.9 Tannkjøtt (gingiva), uspesifisert
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>

    <li role="treeitem" aria-expanded="false">
        <span><a href="#D50-D89">Kapittel III (D50-D89) Sykdommer i blod og bloddannende organer og visse tilstander som angår immunsystemet</a></span>
    </li>

    <li role="treeitem" aria-expanded="false">
        <span><a href="#E00-E90">Kapittel IV (E00-E90) Endokrine sykdommer, ernæringssykdommer og metabolske forstyrrelser</a></span>
    </li>

    <li role="treeitem" aria-expanded="false">
        <span><a href="#F00-F99">Kapittel V (F00-F99) Psykiske lidelser og atferdsforstyrrelser</a></span>
    </li>

    <li role="treeitem" aria-expanded="false">
        <span><a href="">Kapittel VI (G00-G99) Sykdommer i nervesystemet</a></span>
    </li>

    <li role="treeitem" aria-expanded="false">
        <span><a href="">Kapittel VII (H00-H59) Sykdommer i øyet og øyets omgivelser</a></span>
    </li>

    <li role="treeitem" aria-expanded="false">
        <span><a href="">Kapittel VIII (H60-H95) Sykdommer i øre og ørebensknute (processus mastoideus)</a></span>
    </li>

    <li role="treeitem" aria-expanded="false">
        <span><a href="">Kapittel IX (I00-I99) Sykdommer i sirkulasjonssystemet</a></span>
    </li>

    <li role="treeitem" aria-expanded="false">
        <span><a href="">Kapittel X (J00-J99) Sykdommer i åndedrettssystemet</a></span>
    </li>

    <li role="treeitem" aria-expanded="false">
        <span><a href="">Kapittel XI (K00-K93) Sykdommer i fordøyelsessystemet</a></span>
    </li>

    <li role="treeitem" aria-expanded="false">
        <span><a href="">Kapittel XII (L00-L99) Sykdommer i hud og underhud</a></span>
    </li>

    <li role="treeitem" aria-expanded="false">
        <span><a href="">Kapittel XIII (M00-M99) Sykdommer i muskel-skjelettsystemet og bindevev</a></span>
    </li>

    <li role="treeitem" aria-expanded="false">
        <span><a href="">Kapittel XIV (N00-N99) Sykdommer i urin- og kjønnsorganer</a></span>
    </li>

    <li role="treeitem" aria-expanded="false">
        <span><a href="">Kapittel XV (O00-O99) Svangerskap, fødsel og barseltid</a></span>
    </li>

    <li role="treeitem" aria-expanded="false">
        <span><a href="">Kapittel XVI (P00-P96) Visse tilstander som oppstår i perinatalperioden</a></span>
    </li>

    <li role="treeitem" aria-expanded="false">
        <span><a href="">Kapittel XVII (Q00-Q99) Medfødte misdannelser, deformiteter og kromosomavvik</a></span>
    </li>

    <li role="treeitem" aria-expanded="false">
        <span><a href="">Kapittel XVIII (R00-R99) Symptomer, tegn, unormale kliniske funn og laboratoriefunn, ikke klassifisert annet sted</a></span>
    </li>

    <li role="treeitem" aria-expanded="false">
        <span><a href="">Kapittel XIX (S00-T98) Skader, forgiftninger og visse andre konsekvenser av ytre årsaker</a></span>
    </li>

    <li role="treeitem" aria-expanded="false">
        <span><a href="">Kapittel XX (V0n-Y98) Ytre årsaker til sykdommer, skader og dødsfall</a></span>
    </li>

    <li role="treeitem" aria-expanded="false">
        <span><a href="">Kapittel XXI (Z00-Z99) Faktorer som har betydning for helsetilstand og kontakt med helsetjenesten</a></span>
    </li>

    <li role="treeitem" aria-expanded="false">
        <span><a href="">Kapittel XXII Koder for spesielle formål (U00-U85)</a></span>
    </li>

</ul>
