<nav id="code-system-tree">
    <ul role="tree" aria-labelledby="tree1">
        <li role="treeitem" aria-expanded="false">
            <span>Kapittel I (A00-B99) Visse infeksjonssykdommer og parasittsykdommer</span>
        </li>

        <li role="treeitem" aria-expanded="false">
            <span>Kapittel II (C00-D48) Svulster (CLICK ME)</span>
            <ul>
                <li role="none">
                    <a role="treeitem" href="https://en.wikipedia.org/wiki/Orange_%28fruit%29">
                        (C00-C97) Ondartede svulster
                    </a>
                </li>
                <li role="none">
                    <a role="treeitem" href="https://en.wikipedia.org/wiki/Pineapple">
                        (C00-C75) Ondartede svulster som er oppgitt eller antatt å være primære på spesifiserte lokalisasjoner, unntatt i lymfoid, hematopoetisk eller beslektet vev
                    </a>
                </li>
                <li role="treeitem" aria-expanded="false">
                    <span>(C00-C14) Ondartede svulster på leppe, i munnhule og i svelg</span>
                    <ul role="group">
                        <li role="treeitem" aria-expanded="false">
                            <span>C00 Ondartet svulst på leppe (neoplasma malignum labii)</span>
                            <ul role="group">
                                <li role="none">
                                    <a role="treeitem" href="">
                                        C00.0 Utside av overleppe (facies externus labii superius oris)
                                    </a>
                                </li>
                                <li role="none">
                                    <a role="treeitem" href="">
                                        C00.1 Utside av underleppe (facies externus labii inferius oris)
                                    </a>
                                </li>
                                <li role="none">
                                    <a role="treeitem" href="">
                                        C00.2 Utside av leppe (facies externus labii), uspesifisert
                                    </a>
                                </li>
                                <li role="none">
                                    <a role="treeitem" href="">
                                        C00.3 Innside av overleppe (facies internus labii superius oris)
                                    </a>
                                </li>
                                <li role="none">
                                    <a role="treeitem" href="">
                                        C00.4 Innside av underleppe (facies internus labii inferius oris)
                                    </a>
                                </li>
                                <li role="none">
                                    <a role="treeitem" href="">
                                        C00.5 Innside av leppe (facies internus labii oris), uspesifisert
                                    </a>
                                </li>
                                <li role="none">
                                    <a role="treeitem" href="">
                                        C00.6 Munnvik (commissura labiorum oris)
                                    </a>
                                </li>
                                <li role="none">
                                    <a role="treeitem" href="">
                                        C00.8 Overlappende svulst i leppe
                                    </a>
                                </li>
                                <li role="none">
                                    <a role="treeitem" href="">
                                        C00.9 Leppe (labium oris), uspesifisert
                                    </a>
                                </li>
                            </ul>

                        </li>
                        <li role="none">
                            <a role="treeitem" href="">
                                C01 Ondartet svulst i tungerot (neoplasma malignum radicis linguae)
                            </a>
                        </li>
                        <li role="treeitem" aria-expanded="false">
                            <span>C02 Ondartet svulst i andre og uspesifiserte deler av tunge (neoplasma malignum partis alterius et non specificatae linguae)</span>
                            <ul role="group">
                                <li role="none">
                                    <a role="treeitem" href="">
                                        C02.0 Overside av tunge (dorsum linguae)
                                    </a>
                                </li>
                                <li role="none">
                                    <a role="treeitem" href="">
                                        C02.1 Tungerand (margo linguae)
                                    </a>
                                </li>
                                <li role="none">
                                    <a role="treeitem" href="">
                                        C02.2 Underside av tunge (facies inferius linguae)
                                    </a>
                                </li>
                                <li role="none">
                                    <a role="treeitem" href="">
                                        C02.3 Fremre to tredjedeler av tunge, uspesifisert del
                                    </a>
                                </li>
                                <li role="none">
                                    <a role="treeitem" href="">
                                        C02.4 Tungemandel (tonsilla linguae)
                                    </a>
                                </li>
                                <li role="none">
                                    <a role="treeitem" href="">
                                        C02.8 Overlappende svulst i tunge
                                    </a>
                                </li>
                                <li role="none">
                                    <a role="treeitem" href="">
                                        C02.9 Tunge (lingua), uspesifisert
                                    </a>
                                </li>
                            </ul>


                        </li>
                        <li role="treeitem" aria-expanded="false">
                            <span>C03 Ondartet svulst i tannkjøtt (neoplasma malignum gingivae)
                            </span>
                            <ul role="group">
                                <li role="none">
                                    <a role="treeitem" href="">
                                        C03.0 Tannkjøtt i overkjeve (gingiva superior)
                                    </a>
                                </li>
                                <li role="none">
                                    <a role="treeitem" href="">
                                        C03.1 Tannkjøtt i underkjeve (gingiva inferior)
                                    </a>
                                </li>
                                <li role="none">
                                    <a role="treeitem" href="">
                                        C03.9 Tannkjøtt (gingiva), uspesifisert
                                    </a>
                                </li>
                            </ul>

                        </li>
                    </ul>
                </li>
            </ul>
        </li>

        <li role="treeitem" aria-expanded="false">
            <span>Kapittel III (D50-D89) Sykdommer i blod og bloddannende organer og visse tilstander som angår immunsystemet</span>
        </li>

        <li role="treeitem" aria-expanded="false">
            <span>Kapittel IV (E00-E90) Endokrine sykdommer, ernæringssykdommer og metabolske forstyrrelser</span>
        </li>

        <li role="treeitem" aria-expanded="false">
            <span>Kapittel V (F00-F99) Psykiske lidelser og atferdsforstyrrelser</span>
        </li>

        <li role="treeitem" aria-expanded="false">
            <span>Kapittel VI (G00-G99) Sykdommer i nervesystemet</span>
        </li>

        <li role="treeitem" aria-expanded="false">
            <span>Kapittel VII (H00-H59) Sykdommer i øyet og øyets omgivelser</span>
        </li>

        <li role="treeitem" aria-expanded="false">
            <span>Kapittel VIII (H60-H95) Sykdommer i øre og ørebensknute (processus mastoideus)</span>
        </li>

        <li role="treeitem" aria-expanded="false">
            <span>Kapittel IX (I00-I99) Sykdommer i sirkulasjonssystemet</span>
        </li>

        <li role="treeitem" aria-expanded="false">
            <span>Kapittel X (J00-J99) Sykdommer i åndedrettssystemet</span>
        </li>

        <li role="treeitem" aria-expanded="false">
            <span>Kapittel XI (K00-K93) Sykdommer i fordøyelsessystemet</span>
        </li>

        <li role="treeitem" aria-expanded="false">
            <span>Kapittel XII (L00-L99) Sykdommer i hud og underhud</span>
        </li>

        <li role="treeitem" aria-expanded="false">
            <span>Kapittel XIII (M00-M99) Sykdommer i muskel-skjelettsystemet og bindevev</span>
        </li>

        <li role="treeitem" aria-expanded="false">
            <span>Kapittel XIV (N00-N99) Sykdommer i urin- og kjønnsorganer</span>
        </li>

        <li role="treeitem" aria-expanded="false">
            <span>Kapittel XV (O00-O99) Svangerskap, fødsel og barseltid</span>
        </li>

        <li role="treeitem" aria-expanded="false">
            <span>Kapittel XVI (P00-P96) Visse tilstander som oppstår i perinatalperioden</span>
        </li>

        <li role="treeitem" aria-expanded="false">
            <span>Kapittel XVII (Q00-Q99) Medfødte misdannelser, deformiteter og kromosomavvik</span>
        </li>

        <li role="treeitem" aria-expanded="false">
            <span>Kapittel XVIII (R00-R99) Symptomer, tegn, unormale kliniske funn og laboratoriefunn, ikke klassifisert annet sted</span>
        </li>

        <li role="treeitem" aria-expanded="false">
            <span>Kapittel XIX (S00-T98) Skader, forgiftninger og visse andre konsekvenser av ytre årsaker</span>
        </li>

        <li role="treeitem" aria-expanded="false">
            <span>Kapittel XX (V0n-Y98) Ytre årsaker til sykdommer, skader og dødsfall</span>
        </li>

        <li role="treeitem" aria-expanded="false">
            <span>Kapittel XXI (Z00-Z99) Faktorer som har betydning for helsetilstand og kontakt med helsetjenesten</span>
        </li>

        <li role="treeitem" aria-expanded="false">
            <span>Kapittel XXII Koder for spesielle formål (U00-U85)</span>
        </li>

    </ul>
</nav>