<nav class="code-system-menu">

    <div class="category">
        <h2>Velg kodeverk</h2>
        <ul>
            <li>one</li>
        </ul>
    </div>
    <div class="category">
        <h2>Kliniske kodeverk</h2>
        <ul>
            <li>one</li>
            <li>two</li>
            <li>three</li>
            <li>four</li>
            <li>one</li>
            <li>two</li>
            <li>three</li>
            <li>four</li>
        </ul>
    </div>
    <div class="category">
        <h2>Lab kodeverk</h2>
        <ul>
            <li>one</li>
            <li>two</li>
        </ul>
    </div>
    <div class="category">
        <h2>Andre kodeverk</h2>
        <ul>
            <li>one</li>
            <li>two</li>
            <li>three</li>
            <li>four</li>
        </ul>
    </div>
</nav>