<nav class="code-system-menu">

    <div class="category">
        <h2>Category 1</h2>
        <ul>
            <li>one</li>
        </ul>
    </div>
    <div class="category 2">
        <h2>Category</h2>
        <ul>
            <li>one</li>
            <li>two</li>
            <li>three</li>
            <li>four</li>
            <li>one</li>
            <li>two</li>
            <li>three</li>
            <li>four</li>
        </ul>
    </div>
    <div class="category">
        <h2>Category 3</h2>
        <ul>
            <li>one</li>
            <li>two</li>
        </ul>
    </div>
    <div class="category">
        <h2>Category 4</h2>
        <ul>
            <li>one</li>
            <li>two</li>
            <li>three</li>
            <li>four</li>
        </ul>
    </div>
</nav>