<footer class="framework">

    <nav>
        <ul>
            <li><a href="/site/index.html">Hjem</a></li>
            <li><a href="/site/kontakt.html">Kontakt oss</a></li>
            <li><a href="/site/om-oss.html">Om finnkode.no</a></li>
        </ul>
    </nav>

    <div class="text-size">
        <div class="js-expand">
            <button class="js-expander">aaa</button>
            <div class="js-expandable">
                Here's some info about how to increase the text size.
            </div>
        </div>
    </div>

    <a class="directorate-logo" href="http://ehelse.no">Direktoratet for e-helse</a>

</footer>