<footer id="framework-footer">
    <div class="layout-container">
        <nav>
            <ul>
                <li><a href="/site/index.html">Hjem</a></li>
                <li><a href="/site/404.html">Kontakt oss</a></li>
                <li><a href="https://ehelse.no/standarder-kodeverk-og-referansekatalog/helsefaglige-kodeverk/finnkode-online-sokeverktoy">Om finnkode.no</a></li>
            </ul>
        </nav>

        <div class="text-size">
            <div class="js-expand">
                <button class="js-expander">Tekststørrelse</button>
                <div class="js-expandable">
                    Hold inn Ctrl-tasten (Cmd-tasten på Mac). Trykk samtidig på + for å forstørre eller - for å forminske.
                </div>
            </div>

        </div>

        <a class="directorate-logo" href="http://ehelse.no">Direktoratet for e-helse</a>
    </div>
</footer>