<header id="framework-header">

    <div class="layout-container">
        <a class="directorate-logo" href="/">Direktoratet for e-helse</a>
    </div>

    <div class="main-header-content">
        <div class="layout-container">

            <a class="finnkode-logo" href="/site/index.html">FinnKode</a>

            <nav>
                <ul>
                    <li><a class="home" href="/site/index.html">Hjem</a></li>
                    <li><a class="code-systems" href="/site/index.html">Kodeverk</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>