<div id="global-search-banner">
    <div class="layout-container">
        <h1 id="global-search-label">Søk i alle kodeverk</h1>

        <form action="" method="" role="search">
            <div class="search">
                <input name="global-search" id="global-search" aria-labelledby="global-search-label" type="search" class="search-input" placeholder="f.eks. kreft, bevissthetssilstand, fødsel...">
                <button class="search-button" type="submit">Søk i alle kodeverk</button>
            </div>

        </form>
    </div>
</div>