*, ::after, ::before {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: $blue;
    color: #000;
    font-family: "Open Sans", sans-serif;
    line-height: 1.4;
}

.skip-link {
    @extend .visuallyhidden;

    &:focus {
        @extend .visuallypresent;
        background-color: #fff;
        font-size: $font-l;
        font-weight: 600;
        display: inline-block;
        padding: 1rem;
        white-space: nowrap;
        border: 2px dashed $green;
    }
}

main {
    background-color: #fff;
    display: block; // IE
}


a {
    transition: .1s color, .1s background-color;
    text-decoration: underline;
    text-decoration-skip-ink: auto;
    color: $purple;

    &:focus {
        background-color: $green;
        outline: 0;

        &:hover {
            background-color: $green;
        }
    }

    &:hover {
        background-color: $light-green;
        color: $purple;
    }

    &:active {
        color: $medium-purple;
    }
}

input {
    font-family: "Open Sans", sans-serif;
}

select {
    appearance: none;
    position: relative;
    display: inline-block;
    font-family: "Open Sans", sans-serif;
    font-size: inherit;
    color: $blue;
    margin-left: .25em;
    padding: 0 2.5em 0 .5em;
    background: url($chevron-down-white) right .65em top 55%/ .85em no-repeat, linear-gradient(to left, $blue 2.125em, #fff 2em);
    border: 1px solid $blue;
    height: 2em;
    border-radius: 1em;
    transition: .1s;
    z-index: 1;

    &::-ms-expand {
        display: none;
    }

    &:hover, &:focus {
        background-image: url($chevron-down-blue), linear-gradient(to left, $green 2.125em, #fff 2em);
        outline: 0;
    }

    &:disabled, &[aria-disabled=true] {
        color: $dark-grey;
        background-image: url($chevron-down-dark-grey);
    }

    option {
        font-weight: normal;
    }
}

::placeholder {
    color: $grey-blue;
    font-style: italic;
}

:focus, ::-moz-focus-inner {
    outline: 0;
}

#framework-footer :focus {
    outline: 2px dashed $green;
}


// Typography


h1 {
    font-size: $font-4xl;
    font-weight: normal;
    margin: 1rem 0;
}


// Expandable Block with transitions ==================================================
.expand {
    transition-property: background-color, border-color;
    transition-duration: .5s, .1s;

    &.initial.collapsed {
        transition: none;

        .expandable {
            transition: none;
        }
    }

    // Expander links =================

    .expander {
        cursor: pointer;
    }

    // Expandable Content =================
    .expandable {
        max-height: 20000px;
        overflow: hidden;
        transition-property: max-height, opacity, padding, margin;
        transition-duration: .3s, .3s, .1s, .1s;
        opacity: 1;
    }

    // Collapsed Expandable Block ==================================================
    &.collapsed {
        .expandable {
            max-height: 0;
            opacity: 0;
            visibility: hidden;
            transition-property: max-height, opacity, visibility, padding, margin;
            transition-duration: .3s, .9s, 0s, .3s, .3s;
            transition-delay: 0s, 0s, .3s, .3s, 0s;
        }
    }
}