// Title z-index gives layout feeds to JS

// Portrait-oriented mobiles. One column.
title {
    position: relative;
    z-index: 1;

}
// Landscape-oriented mobiles and portrait-oriented tablets. Two columns.
@media only screen and (min-width: $one-to-two-col) {
    title {
        z-index: 2;
    }

    .layout-container {
        width: $two-col;
        margin: 0 auto;
    }


}

// Landscape-oriented tablets and smaller desktops. Three columns
@media only screen and (min-width: $two-to-three-col) {
    title {
        z-index: 3;
    }

    .layout-container {
        width: $three-col;
    }
}

// Typical desktops. Four columns.
@media only screen and (min-width: $three-to-four-col) {
    title {
        z-index: 4;
    }

    .layout-container {
        width: $four-col;
    }


}