$chevron-down-blue: "/images/chevron-down-blue.svg";
$chevron-down-dark-grey: "/images/chevron-down-dark-grey.svg";
$chevron-down-white: "/images/chevron-down-white.svg";
$chevron-right-blue: "/images/chevron-right-blue.svg";
$chevron-right-grey: "/images/chevron-right-grey.svg";

// Header and footer
$home: "/images/home.svg";
$code-systems: "/images/code-systems.svg";
$text-size: "/images/text-size.svg";
$directorate-logo: "/images/directorate-logo.svg";
$finnkode-logo: "/images/finnkode-logo.svg";

// Search page
$calendar-blue: "/images/calendar-blue.svg";
$calendar-green: "/images/calendar-green.svg";
$checkbox-checked-blue: "/images/checkbox-checked-blue.svg";
$checkbox-checked-green: "/images/checkbox-checked-green.svg";
$checkbox-unchecked-blue: "/images/checkbvox-unchecked-blue.svg";
$checkbox-unchecked-green: "/images/checkbox-unchecked-green.svg";
$search-blue: "/images/search-blue.svg";
$search-green: "/images/search-green.svg";

// Code systems page
$splitter: "/images/splitter.svg";
$tree-minus-blue: "/images/tree-minus-blue.svg";
$tree-minus-green: "/images/tree-minus-green.svg";
$tree-plus-blue: "/images/tree-plus-blue.svg";
$tree-plus-green: "/images/tree-plus-green.svg";