$chevron-down-blue: "/assets/images/chevron-down-blue.svg";
$chevron-down-dark-grey: "/assets/images/chevron-down-dark-grey.svg";
$chevron-down-white: "/assets/images/chevron-down-white.svg";
$chevron-right-blue: "/assets/images/chevron-right-blue.svg";
$chevron-right-grey: "/assets/images/chevron-right-grey.svg";

// Header and footer
$home: "/assets/images/home.svg";
$code-systems: "/assets/images/code-systems.svg";
$text-size: "/assets/images/text-size.svg";
$directorate-logo: "/assets/images/directorate-logo.svg";
$finnkode-logo: "/assets/images/finnkode-logo.svg";

// Search page
$calendar-blue: "/assets/images/calendar-blue.svg";
$calendar-green: "/assets/images/calendar-green.svg";
$checkbox-checked-blue: "/assets/images/checkbox-checked-blue.svg";
$checkbox-checked-green: "/assets/images/checkbox-checked-green.svg";
$checkbox-unchecked-blue: "/assets/images/checkbvox-unchecked-blue.svg";
$checkbox-unchecked-green: "/assets/images/checkbox-unchecked-green.svg";
$search-blue: "/assets/images/search-blue.svg";
$search-green: "/assets/images/search-green.svg";

// Code systems page
$splitter: "/assets/images/splitter.svg";
$tree-minus-blue: "/assets/images/tree-minus-blue.svg";
$tree-minus-green: "/assets/images/tree-minus-green.svg";
$tree-plus-blue: "/assets/images/tree-plus-blue.svg";
$tree-plus-green: "/assets/images/tree-plus-green.svg";