$chevron-down-blue: "/assets/images/chevron-down-blue.svg";
$chevron-down-dark-grey: "/assets/images/chevron-down-dark-grey.svg";
$chevron-down-dark-blue: "/assets/images/chevron-down-dark-blue.svg";
$chevron-down-white: "/assets/images/chevron-down-white.svg";
$chevron-right-blue: "/assets/images/chevron-right-blue.svg";
$chevron-right-grey: "/assets/images/chevron-right-grey.svg";

// Header and footer
$home: "/assets/images/home.svg";
$code-systems: "/assets/images/code-systems.svg";
$text-size: "/assets/images/text-size.svg";
$directorate-logo: "/assets/images/directorate-logo.svg";
$finnkode-logo: "/assets/images/finnkode-logo.svg";

// Search page
$calendar-blue: "/assets/images/calendar-blue.svg";
$calendar-green: "/assets/images/calendar-green.svg";
$check: "/assets/images/check.svg";

$search-blue: "/assets/images/search-blue.svg";
$search-green: "/assets/images/search-green.svg";

$error: "/assets/images/error.svg";
$warning: "/assets/images/warning.svg";

// Code systems page
$splitter: "/assets/images/splitter.svg";
$tree-minus-blue: "/assets/images/tree-minus-blue.svg";
$tree-minus-green: "/assets/images/tree-minus-green.svg";
$tree-plus-blue: "/assets/images/tree-plus-blue.svg";
$tree-plus-green: "/assets/images/tree-plus-green.svg";
$download-grey: "/assets/images/download-grey.svg";
$download-blue: "/assets/images/download-blue.svg";
$download-purple: "/assets/images/download-purple.svg";