$purple: #642461;
$blue: #0f2d5e;
$grey-blue: #8796ae;
$light-green: rgba(153, 238, 178, .1);
$light-green-opaque: #F3FCF7;
$green: #99eeb2;
$light-blue: #bff4ff;


// These are the same hue as their normal
// counterparts, but sufficient contrast for both
// white and black background
$medium-blue: #3273dc;
$medium-purple: #ba45b8;
$medium-green: #178739;


$dark-grey: #5c5c5c;
$grey: #767676;
$medium-grey: #979797;
$light-grey: #c0c0c0;
$lighter-grey:  #f7f7f7;
$lightest-grey: #fbfeff;


// Font stack
$font-xs: .75rem;   //  12px
$font-s: .875rem;   //  14px
$font-m: 1rem;      //  16px
$font-l: 1.125rem;  //  18px
$font-xl: 1.25rem;  //  20px
$font-2xl: 1.5rem;  //  24px
$font-3xl: 1.75rem; //  28px
$font-4xl: 2rem;    //  32px
$font-5xl: 3.125rem;//  50px

// Layout


$default-grid-spacing: 16px;
$one-col: 304px;
$one-point-five-col: $one-col * 1.5;
$two-col: $one-col * 2;  // 38rem, 608px
$three-col: $one-col * 3; // 57rem, 912px
$four-col: $one-col * 4; // 76rem, 1216px


$one-col-content: $one-col - $default-grid-spacing;


$one-third-full-width: $four-col / 3;
$two-thirds-full-width: $four-col / 3 * 2;

// Breakpoints
$one-to-two-col: $two-col + $default-grid-spacing;
$two-to-three-col: $three-col + 3 * $default-grid-spacing;
$three-to-four-col: $four-col + 3 * $default-grid-spacing;
