.code-system-tree {
    display: none;
}

.code-system-content {
    padding: 1.5rem 1rem;

    h2 {
        font-size: $font-2xl;
        color: $blue;
        line-height: 1.2;
        margin-top: 0;
        margin-bottom: 1.5rem;
    }

    h3 {
        font-size: $font-l;
        font-weight: 600;
    }

    .chapter-number {
        font-weight: normal;
    }

    .chapter-title {
        font-weight: 600;
    }

    .inclusions-exclusions {
        max-width: $two-col;
        margin-bottom: 2rem;

        h3 {
            font-size: $font-l;
            margin: 2rem 0 0;
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        li {
            margin: .25rem 0;
        }

    }

    .codes {
        max-width: $three-col;

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        .code {
            margin: 1rem 0;
            outline: 1px solid $blue;
        }

        .subcodes {
            padding-left: 1rem;
        }

        .code-title {
            font-size: $font-l;
            background-color: $blue;
            padding: .5rem;
            color: #fff;
        }

        .code-number {
            font-weight: 600;
        }

        .code-details {
            padding: .5rem;
        }
    }
}

@media only screen and (min-width: $one-to-two-col) {
    .code-system-content {

    }
}

@media only screen and (min-width: $two-to-three-col) {
    .code-system-header {

    }
}


