.code-system-menu {
    padding: 3rem 0;

    .category {
        border-bottom: 1px solid $blue;
    }

    h2 {
        font-size: $font-m;
        margin: .25em 1rem;
        height: 2em;
        line-height: 2em;
        color: $purple;
        font-weight: 700;
        background: red url("/assets/images/chevron-blue.svg") right center / 1.25rem no-repeat;
    }

    .category.all {
        h2 {
            background-image: none;
        }
    }



    ul {
        list-style: none;
        margin: 0;
        padding: 0 1rem;
    }

    li {
        margin: 0;
        padding: 0;
    }

    a {
        color: $blue;
        text-decoration: none;
    }

}

@media only screen and (min-width: $one-to-two-col) {
    .code-system-menu {
        display: flex;
        flex-flow: row wrap;

        .category {
            width: $one-col;
        }
    }
}

@media only screen and (min-width: $two-to-three-col) {
    .code-system-menu {

        .category {
            width: $one-point-five-col;
        }

        h2 {
            font-size: $font-2xl;
        }

        ul {
            font-size: $font-l;
        }


    }
}

@media only screen and (min-width: $three-to-four-col) {
    .code-system-menu {
        .category {
            width: $one-col;
        }
    }
}