.code-system-tree {
    padding: 1rem;

    & > ul[role="tree"] { // Chapter titles

        & > li > span > a[role="treeitem"] {
            font-weight: 600;
        }
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        position: relative;
    }

    a {
        text-decoration: none;
        color: $blue;
        padding: .25em 1em .25em 0;
    }

    li {
        padding: .25em 0 .25em .75em;
        position: relative;

        &:last-child {
            padding-bottom: 0;
        }

        &:first-child {
            padding-top: .5em;
        }

        &[role="none"] {
            padding-left: 1.75em;

            a {
                margin-left: 0;
            }
        }

        &:not(:last-child), &[role="none"]:last-child {
            &::before {
                content: "";
                position: absolute;
                left: .5em;
                top: 1em;
                width: 0;
                bottom: -1em;
                border-left: 1px dashed $grey;
            }
        }

       &[role="none"]:last-child {
            &::before {
                bottom: .5em;
            }
        }
    }

    ul[role="group"] {
        margin-left: 1em;
    }

    [role="treeitem"] {
        position: relative;

        & > span {
            position: relative;

            &::before {
                content: "";
                position: absolute;
                background: url("/assets/images/tree-minus.svg") center / 1em no-repeat;
                width: 1em;
                height: 1em;
                top: .45em;
                left: -.75em;
            }
        }

        a {
            margin-left: 1em;
        }

        &[aria-expanded="false"] {

            & > ul {
                display: none;
            }

            & > span {
                &::before {
                    background-image: url("/assets/images/tree-plus.svg");
                }

                &::after {

                }
            }
        }

        &[aria-expanded="true"] {
            & > ul {
                display: block;
            }
        }

        &:focus {
            outline: 0;
        }

        &.focus,
        & span.focus {
            //outline: 2px fuchsia solid;
            //background-color: $blue;
            //color: $green;
        }

        &.hover,
        & span.hover {
            //background-color: $green;
        }
    }


    [role="treeitem"],
    [role="treeitem"] span {
        //outline: 2px transparent solid;
        display: block;
    }
}