.code-system-menu {
    padding: 3rem 0;

    .category {
        position: relative;
        &.all {
            h2 {
                background-image: none;
            }
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            height: 1px;
            left: 0;
            right: 0;
            background-color: $blue;
        }
    }

    .expander {
        padding: .25rem 1rem;
        background: url("/assets/images/chevron-blue.svg") right 1rem center / 1.25rem no-repeat;
    }

    .expander, a {
        position: relative;


        &:hover, &:focus {
            background-color: $green;
        }

        &:focus {
            outline: 0;

            &::before, &::after {
                content: "";
                position: absolute;
                bottom: 0;
                height: 2px;
                left: 0;
                right: 0;
                background-color: $grey;
            }

            &::before {
                top: -1px;
            }

            &::after {
                bottom: -1px;
            }



        }
    }

    a {
        z-index: 2;
    }

    h2 {
        font-size: $font-m;
        margin: 0;
        height: 2.5em;
        line-height: 2em;
        color: $purple;
        font-weight: 700;
    }


    ul {
        list-style: none;
        margin: 0;
        padding: 1px 0;
    }

    li {
        margin: 0;
        padding: 0;
    }

    a {
        color: $blue;
        display: block;
        padding: .5rem 1rem;
        text-decoration: none;
    }


}

@media only screen and (min-width: $one-to-two-col) {
    .code-system-menu {
        display: flex;
        flex-flow: row wrap;

        .category {
            width: $one-col;
        }
    }
}

@media only screen and (min-width: $two-to-three-col) {
    .code-system-menu {

        .category {
            width: $one-point-five-col;
        }

        h2 {
            font-size: $font-2xl;
        }

        ul {
            font-size: $font-l;
        }


    }
}

@media only screen and (min-width: $three-to-four-col) {
    .code-system-menu {
        .category {
            width: $one-col;
        }
    }
}