.search-refiners {
    padding-bottom: 1.5rem;
    color: $blue;

    .expander {
        padding-right: 1.5em;
        margin-left: 1rem;
        display: inline-block;
        position: relative;
        font-weight: 600;

        &::before {
            content: "Vis filtre"
        }

        &::after {
            content: "";
            position: absolute;
            right: 0;
            height: 100%;
            width: 1em;
            background: url("/assets/images/chevron-blue-down.svg") right center / contain no-repeat;
            transform: scaleY(1);
            transition: transform .2s;
        }

        &:focus {
            outline: 0;
        }
    }

    &.expanded {
        .expander {
            &::before {
                content: "Skjul filtre"
            }

            &::after {
                transform: scaleY(-1);
            }
        }
    }

    .date {
        margin: 1rem 0 1.5rem;

        .offscreen {
            position: absolute;
            width: 1px;
            height: 1px;
            clip: rect(1px 1px 1px 1px);
            clip: rect(1px, 1px, 1px, 1px);
            overflow: hidden;
            margin: 0;
            padding: 0;
        }

        #datepickerLabel {
            font-weight: 600;
            color: $blue;
            display: block;
            margin: .25rem 0 .5rem 1rem;
            font-size: $font-m;
        }

        #datepicker {
            border: 2px solid $blue;
            border-radius: 2.25rem;
            line-height: 2.25rem;
            height: 2.25rem;
            width: 100%;
            padding: 0 1.5rem 0 1rem;
            transition: border-color .15s;
            font-size: $font-s;

            &:focus, &:hover {
                outline: 0;
            }
        }

        ::placeholder {
            color: $blue;
            font-style: normal;
        }

        .date-field {
            position: relative;
            width: 10rem;
        }

        .ui-datepicker-trigger {
            @include button-reset;
            height: 2.25rem;
            position: absolute;
            top: 0;
            right: 0;
            padding: 0 .75rem 0 .5rem;

            &:focus, &:hover {
                outline: 0;
            }
        }

        img {
            display: block;
            width: 1.25rem;
            height: 1.25rem;
        }

    }

    .expired-codes {

        div {
            margin: 1.5rem 0 1.5rem .5rem;
            padding-left: 1.75rem;
            background: url("/assets/images/checkbox-unchecked.svg") left center / .9rem no-repeat;
        }

        input {
            @extend .visuallyhidden;

            &:checked + div {
                background-image: url("/assets/images/checkbox-checked.svg");
            }
        }


    }

    .code-system-list {
        background: $green;
        padding: .5rem 1rem;
        margin: .5rem 0 0;
        list-style: none;
    }

    li {
        margin: .5rem 0;
    }

    a {
        text-decoration: none;
        color: $blue;

        &.current {
            font-weight: 600;
            border-bottom: 1px solid $blue;
        }
    }
}

@media only screen and (min-width: $one-to-two-col) {
    .search-refiners {

        .refiners-expander {
            display: none;
        }

        .filters {
            display: flex;
            flex-flow: row nowrap;
        }

        .date, .code-system-list {
            width: $one-col;
        }

        .date {
            padding: 0 1rem 0 0;
            margin-top: 0;

            #datepickerLabel {
                padding: .75rem 1rem;
                margin: .5rem 0 1.5rem;
                border-bottom: 1px solid $blue;
            }
        }

        .expired-codes {
            div {
                margin: 1.5rem 0 1.5rem .5rem;
            }
        }

        .code-system-list {
            background: transparent;
            padding: 0 0 0 1rem;
        }

        li {
            margin: 0;
            padding: 0;
            border-bottom: 1px solid $blue;
        }

        a {
            color: $blue;
            display: block;
            text-decoration: none;
            padding: .75rem 1rem;
            position: relative;
            z-index: 2;
            transition: background-color .2s;

            &:hover, &:focus {
                background-color: $light-green;
            }

            // The wider lines above and below the focused element
            &:focus {
                outline: 0;

                &::before, &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    height: 2px;
                    left: 0;
                    right: 0;
                    background-color: $grey;
                }

                &::before {
                    top: -1px;
                }

                &::after {
                    bottom: -1px;
                }
            }

            &.current {
                border-bottom: 0;
            }
        }


    }
}

@media only screen and (min-width: $two-to-three-col) {
    .search-refiners {

        .filters {
            display: block;
            padding: 0;
            width: auto;
        }

        .code-system-list {
            padding-left: 0;
            margin-top: 1.5rem;
        }

    }
}