---
resource: true
layout: full-width
category: General
page-name: front-page
title: FinnKode
toc-title: Front page
---
{% include global-search-banner.html %}

<div class="layout-container">

    <!-- #8203 is the unicode character for breaking space, make sure to include this in the final product. -->

    <p class="intro">FinnKode er et søkeverktøy som inneholder oppdaterte kodeverk og synonymordlister/&#8203;søkeforslagslister for lettere søk.</p>

    <p class="directorate-link">
        <a href="https://ehelse.no/kodeverk/finnkode-online-sokeverktoy">Les mer om FinnKode hos direktoratet for e-helse.</a>
    </p>

    {% include code-system-menu.html %}

</div>