#global-search-banner {
    background: url("/images/background-green.jpg") center / auto 9rem no-repeat;
    height: 9rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    .layout-container {
        padding: 0 1rem;
        width: 100%;
        max-width: $one-point-five-col;
    }

    #global-search-label {
        font-weight: 600;
        color: $blue;
        display: block;
        margin: 0 0 .75rem 1rem;
        font-size: $font-m;
    }

}

@media only screen and (min-width: $one-to-two-col) {
    #global-search-banner {
        height: 13rem;
        background-size: auto 13rem;

        .layout-container {
            max-width: $one-point-five-col;
        }
    }
}

@media only screen and (min-width: $two-to-three-col) {
    #global-search-banner {
        height: 18rem;
        background-size: cover;

        .layout-container {
            max-width: $two-col;
        }

        #global-search-label {
            font-size: $font-2xl;
        }
    }
}