body.search {
    #search-container {
        padding-bottom: 2rem;
    }
}

@media only screen and (min-width: $two-to-three-col) {
    body.search {

        main {
            .layout-container {
                display: flex;
                flex-flow: row nowrap;
                align-content: stretch;
            }

            .global-search-banner {
                .layout-container {
                    display: block;
                }
            }
        }

        .results {
            flex-grow: 1;
        }
    }
}