<!-- The code system -->

<!doctype html>
<html>

{% include head.html %}

<body class="{{page.layout}} {{page.page-name}}">


<div class="headers">
    {% include framework-header.html %}
    {% include code-system-header.html %}
</div>

<!--<div class="content-wrapper panel-container">-->
<!--    <div class="overflow-container panel-left">-->

<!--        {% include code-system-tree.html %}-->

<!--    </div>-->

<!--    <div class="splitter">splitter</div>-->

<!--    <div class="overflow-container panel-right">-->

<!--        TWO {% include lipsum.html %}-->
<!--    </div>-->

<!--</div>-->



        <div class="panel-container">

            <div class="panel-left js-resizable-splitter">
                {% include code-system-tree.html %}
                {% include lipsum.html %}
            </div>

            <div class="splitter"></div>

            <div class="panel-right">
                {% include code-system-content.html %}
            </div>
        </div>



</body>
</html>