<!-- The code system -->

<!doctype html>
<html>

{% include head.html %}

<body class="{{page.layout}} {{page.page-name}}">


<div class="headers">
    {% include framework-header.html %}
    {% include code-system-header.html %}
</div>



    <div class="panel-container">

        <div class="panel-left js-resizable-splitter">


            {% include code-system-tree.html %}
        </div>

        <div class="splitter">
            <div class="splitter-name">{{page.code-system}}</div>
            <div class="splitter-instructions">Trekk for å utvide</div>
        </div>

        <div class="panel-right">
            {% include code-system-content.html %}
        </div>
    </div>


</body>
</html>