<!-- The code system -->

<!doctype html>
<html>

{% include head.html %}

<body class="{{page.layout}} {{page.page-name}}">

<div class="headers">
    {% include framework-header.html %}
    {% include code-system-header.html %}
</div>

<div class="panel-container layout-container js-expand">

    <nav class="code-system-tree js-resizable-splitter js-expandable">
        {% include code-system-tree.html %}
    </nav>

    <div class="splitter js-expander">
        <div class="splitter-name">{{page.code-system}}</div>
        <div class="splitter-instructions">Trekk for å utvide</div>
    </div>

    <div class="code-system-content">
        {% include code-system-content.html %}
    </div>
</div>

</body>
</html>