<!-- Used for simple, 1-col pages like "Contact us", only the framework header -->

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/master.css">
    <script src="/assets/js/jquery-3.4.0.min.js"></script>
    <script src="/assets/js/master.js"></script>

</head>
<body>

{% include framework-header.html %}

<main>
    <div class="container">
        {{ content }}
    </div>
</main>

{% include framework-footer.html %}

</body>
</html>