<div class="codes">
    <ul class="code-list">
        <li class="js-scrollto code leaf level-3" id="NPU20200">
            <div class="title">
                <div class="number">NPU20200</div>
                <div class="name">
                    Ercs(B)—Erythrocyt(Ag); arb.num.(list; proc.)
                </div>
            </div>

            <div class="code-details">
                <div class="validity">
                    <p class="from"><span>Gyldig fra</span> 02.04.2003</p>
                    <p class="to"><span>Gyldig til</span> 31.12.2019</p>
                    <p class="replacement"><span>Erstattet av</span> <a href="">ABD32</a>, <a href="">XYZ63</a></p>
                </div>

                <div class="description">
                    <dl>
                        <dt>Full definisjon</dt>
                        <dd>
                            Ercs(B)—Erythrocyte antigen; arbitrary number (listekode, process)
                        </dd>

                        <dt>Norsk bruksnavn</dt>
                        <dd>Erythrocyt(Ag) gruppe, Erc(B)</dd>

                        <dt></dt>
                        <dd></dd>

                        <dt></dt>
                        <dd></dd>

                        <dt></dt>
                        <dd></dd>

                        <dt></dt>
                        <dd></dd>

                        <dt></dt>
                        <dd></dd>

                        <dt></dt>
                        <dd></dd>

                        <dt></dt>
                        <dd></dd>

                        <dt></dt>
                        <dd></dd>
                    </dl>


                </div>
            </div>

            <div class="notes">

                <div class="js-tabgroup tabgroup" id="group">

                    <div class="js-tablist tablist" role="tablist" aria-orientation="horizontal">

                        <div class="js-tabtitle tabtitle selected">
                            <button class="js-tab tab js-responsive-expander" role="tab" aria-selected="true"
                                id="apples-tab" aria-controls="apples-content-panel">Apples
                            </button>
                        </div>

                        <div class="js-tabtitle tabtitle">
                            <button class="js-tab tab js-responsive-expander" aria-selected="false" id="bananas-tab"
                                aria-controls="bananas-content-panel">Bananas
                            </button>
                        </div>

                        <div class="js-tabtitle tabtitle">
                            <button class="js-tab tab js-responsive-expander" role="tab" aria-selected="false"
                                id="peaches-tab" aria-controls="peaches-content-panel">Peaches
                            </button>
                        </div>

                    </div>


                    <div id="apples-content-panel" class="selected js-tabpanel tabpanel js-responsive-expand" role="tabpanel"
                        aria-labelledby="apples-tab">
                        <div class="js-responsive-expandable">
                            <div class="note-content">
                                <h2>Apples</h2>
                                <p>Apples are amazing!</p>
                            </div>
                        </div>
                    </div>


                    <div id="bananas-content-panel" class="js-tabpanel tabpanel js-responsive-expand" role="tabpanel"
                        aria-labelledby="bananas-tab">
                        <div class="js-responsive-expandable">
                            <div class="note-content">
                                <h2>Bananas</h2>
                                <p>Don't slip on your banana peel! </p>
                            </div>
                        </div>
                    </div>


                    <div id="peaches-content-panel" class="js-tabpanel js-responsive-expand tabpanel js-responsive-expand" role="tabpanel" aria-labelledby="peaches-tab">
                        <div class="js-responsive-expandable">
                            <div class="note-content">
                                <h2>Peaches</h2>
                                <p>Peaches keep peaching! </p>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </li>
    </ul>
</div>

<!--
                <div class="js-tabgroup tabgroup" id="group1">
                    <div class="js-tablist tablist">

                        <div class="js-tabtitle tabtitle">
                            <button class="js-tab tab" aria-selected="true" id="apples-tab1" aria-controls="apples-content-panel1">Apples</button>
                        </div>

                        <div class="js-tabtitle tabtitle">
                            <button class="js-tab tab" aria-selected="false" id="bananas-tab1" aria-controls="bananas-content-panel1">Bananas</button>
                        </div>

                        <div class="js-tabtitle tabtitle">
                            <button class="js-tab tab" aria-selected="false" id="peaches-tab1" aria-controls="peaches-content-panel1">Peaches</button>
                        </div>

                    </div>
                    <div id="apples-content-panel1" class="js-tabpanel tabpanel" aria-labelledby="apples-tab1">
                        <h2>Apples</h2>
                        <p>Apples are amazing!</p>
                    </div>
                    <div id="bananas-content-panel1" class="js-tabpanel tabpanel" aria-labelledby="bananas-tab1">
                        <h2>Bananas</h2>
                        <p>Don't slip on your banana peel! </p>
                    </div>
                    <div id="peaches-content-panel1" class="js-tabpanel tabpanel" aria-labelledby="peaches-tab1">
                        <h2>Peaches</h2>
                        <p>Peaches keep peaching! </p>
                    </div>
                </div>

                <div class="js-tabgroup tabgroup" id="group2">
                    <div class="js-tablist tablist">

                        <div class="js-tabtitle tabtitle">
                            <button class="js-tab tab" aria-selected="true" id="apples-tab2" aria-controls="apples-content-panel2">Apples</button>
                        </div>

                        <div class="js-tabtitle tabtitle">
                            <button class="js-tab tab" aria-selected="false" id="bananas-tab2" aria-controls="bananas-content-panel2">Bananas</button>
                        </div>

                        <div class="js-tabtitle tabtitle">
                            <button class="js-tab tab" aria-selected="false" id="peaches-tab2" aria-controls="peaches-content-panel2">Peaches</button>
                        </div>

                    </div>
                    <div id="apples-content-panel2" class="js-tabpanel tabpanel" aria-labelledby="apples-tab2">
                        <h2>Apples</h2>
                        <p>Apples are amazing!</p>
                    </div>
                    <div id="bananas-content-panel2" class="js-tabpanel tabpanel" aria-labelledby="bananas-tab2">
                        <h2>Bananas</h2>
                        <p>Don't slip on your banana peel! </p>
                    </div>
                    <div id="peaches-content-panel2" class="js-tabpanel tabpanel" aria-labelledby="peaches-tab2">
                        <h2>Peaches</h2>
                        <p>Peaches keep peaching! </p>
                    </div>
                </div>
-->

<!--    <table class="list-codes">

        <thead>
        <tr>
            <th>NPU ID</th>
            <th>Kort definisjon</th>
        </tr>
        </thead>

        <tbody>

        <tr>
            <td>NPU20201</td>
            <td><a href="#">Ercs(B)—Erythrocyt `N'-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU21914</td>
            <td><a href="#">Ercs(B)—Erythrocyt A1-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU21915</td>
            <td><a href="#">Ercs(B)—Erythrocyt A-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20202</td>
            <td><a href="#">Ercs(B)—Erythrocyt ALeb-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20203</td>
            <td><a href="#">Ercs(B)—Erythrocyt Ana-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20204</td>
            <td><a href="#">Ercs(B)—Erythrocyt Aua-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20205</td>
            <td><a href="#">Ercs(B)—Erythrocyt Aub-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU21916</td>
            <td><a href="#">Ercs(B)—Erythrocyt B-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20206</td>
            <td><a href="#">Ercs(B)—Erythrocyt BARC-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20207</td>
            <td><a href="#">Ercs(B)—Erythrocyt Bea-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20208</td>
            <td><a href="#">Ercs(B)—Erythrocyt BLeb-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20209</td>
            <td><a href="#">Ercs(B)—Erythrocyt BOW-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20210</td>
            <td><a href="#">Ercs(B)—Erythrocyt Bpa-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20211</td>
            <td><a href="#">Ercs(B)—Erythrocyt C-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20212</td>
            <td><a href="#">Ercs(B)—Erythrocyt c-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20213</td>
            <td><a href="#">Ercs(B)—Erythrocyt CD99-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20214</td>
            <td><a href="#">Ercs(B)—Erythrocyt Ce-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20215</td>
            <td><a href="#">Ercs(B)—Erythrocyt CE-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20216</td>
            <td><a href="#">Ercs(B)—Erythrocyt cE-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20217</td>
            <td><a href="#">Ercs(B)—Erythrocyt CG-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20218</td>
            <td><a href="#">Ercs(B)—Erythrocyt Ch1-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20219</td>
            <td><a href="#">Ercs(B)—Erythrocyt Ch2-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20220</td>
            <td><a href="#">Ercs(B)—Erythrocyt Ch3-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20221</td>
            <td><a href="#">Ercs(B)—Erythrocyt Ch4-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20222</td>
            <td><a href="#">Ercs(B)—Erythrocyt Ch5-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20223</td>
            <td><a href="#">Ercs(B)—Erythrocyt Ch6-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20224</td>
            <td><a href="#">Ercs(B)—Erythrocyt Cla-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20225</td>
            <td><a href="#">Ercs(B)—Erythrocyt c-like-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20226</td>
            <td><a href="#">Ercs(B)—Erythrocyt Co3-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20227</td>
            <td><a href="#">Ercs(B)—Erythrocyt Coa-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20228</td>
            <td><a href="#">Ercs(B)—Erythrocyt Cob-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20229</td>
            <td><a href="#">Ercs(B)—Erythrocyt Cra-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20230</td>
            <td><a href="#">Ercs(B)—Erythrocyt Crawford-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20231</td>
            <td><a href="#">Ercs(B)—Erythrocyt Cw-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20232</td>
            <td><a href="#">Ercs(B)—Erythrocyt Cx-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20233</td>
            <td><a href="#">Ercs(B)—Erythrocyt DANE-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU21917</td>
            <td><a href="#">Ercs(B)—Erythrocyt D-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20234</td>
            <td><a href="#">Ercs(B)—Erythrocyt Dantu-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20235</td>
            <td><a href="#">Ercs(B)—Erythrocyt Dav-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20236</td>
            <td><a href="#">Ercs(B)—Erythrocyt Dha-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20237</td>
            <td><a href="#">Ercs(B)—Erythrocyt Dia-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20238</td>
            <td><a href="#">Ercs(B)—Erythrocyt Dib-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20239</td>
            <td><a href="#">Ercs(B)—Erythrocyt Doa-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20240</td>
            <td><a href="#">Ercs(B)—Erythrocyt Dob-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20241</td>
            <td><a href="#">Ercs(B)—Erythrocyt Dra-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20242</td>
            <td><a href="#">Ercs(B)—Erythrocyt Dw-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20243</td>
            <td><a href="#">Ercs(B)—Erythrocyt E-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20244</td>
            <td><a href="#">Ercs(B)—Erythrocyt e-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20245</td>
            <td><a href="#">Ercs(B)—Erythrocyt ELO-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20246</td>
            <td><a href="#">Ercs(B)—Erythrocyt Ena-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20247</td>
            <td><a href="#">Ercs(B)—Erythrocyt ENAV-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20248</td>
            <td><a href="#">Ercs(B)—Erythrocyt ENEH-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20249</td>
            <td><a href="#">Ercs(B)—Erythrocyt ENEP-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20250</td>
            <td><a href="#">Ercs(B)—Erythrocyt ENKT-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20251</td>
            <td><a href="#">Ercs(B)—Erythrocyt ERIK-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20252</td>
            <td><a href="#">Ercs(B)—Erythrocyt Esa-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20253</td>
            <td><a href="#">Ercs(B)—Erythrocyt Evans-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20254</td>
            <td><a href="#">Ercs(B)—Erythrocyt Ew-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20255</td>
            <td><a href="#">Ercs(B)—Erythrocyt f-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20256</td>
            <td><a href="#">Ercs(B)—Erythrocyt Far-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20257</td>
            <td><a href="#">Ercs(B)—Erythrocyt FPTT-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20258</td>
            <td><a href="#">Ercs(B)—Erythrocyt Fra-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20259</td>
            <td><a href="#">Ercs(B)—Erythrocyt Fy3-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20260</td>
            <td><a href="#">Ercs(B)—Erythrocyt Fy4-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20261</td>
            <td><a href="#">Ercs(B)—Erythrocyt Fy5-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20262</td>
            <td><a href="#">Ercs(B)—Erythrocyt Fy6-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20263</td>
            <td><a href="#">Ercs(B)—Erythrocyt Fya-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20264</td>
            <td><a href="#">Ercs(B)—Erythrocyt Fyb-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20265</td>
            <td><a href="#">Ercs(B)—Erythrocyt G-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20266</td>
            <td><a href="#">Ercs(B)—Erythrocyt Ge2-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20267</td>
            <td><a href="#">Ercs(B)—Erythrocyt Ge3-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20268</td>
            <td><a href="#">Ercs(B)—Erythrocyt Ge4-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20269</td>
            <td><a href="#">Ercs(B)—Erythrocyt Goa-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20270</td>
            <td><a href="#">Ercs(B)—Erythrocyt Gya-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20271</td>
            <td><a href="#">Ercs(B)—Erythrocyt HAG-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20272</td>
            <td><a href="#">Ercs(B)—Erythrocyt H-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20273</td>
            <td><a href="#">Ercs(B)—Erythrocyt He-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20274</td>
            <td><a href="#">Ercs(B)—Erythrocyt Hga-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20275</td>
            <td><a href="#">Ercs(B)—Erythrocyt Hil-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20276</td>
            <td><a href="#">Ercs(B)—Erythrocyt Hop-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20277</td>
            <td><a href="#">Ercs(B)—Erythrocyt Hr-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20278</td>
            <td><a href="#">Ercs(B)—Erythrocyt hrB-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20279</td>
            <td><a href="#">Ercs(B)—Erythrocyt HrB-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20280</td>
            <td><a href="#">Ercs(B)—Erythrocyt hrH-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20281</td>
            <td><a href="#">Ercs(B)—Erythrocyt Hro-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20282</td>
            <td><a href="#">Ercs(B)—Erythrocyt hrS-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20283</td>
            <td><a href="#">Ercs(B)—Erythrocyt Hut-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20284</td>
            <td><a href="#">Ercs(B)—Erythrocyt Hy-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20285</td>
            <td><a href="#">Ercs(B)—Erythrocyt IFC-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20286</td>
            <td><a href="#">Ercs(B)—Erythrocyt Ina-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20287</td>
            <td><a href="#">Ercs(B)—Erythrocyt Inb-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20288</td>
            <td><a href="#">Ercs(B)—Erythrocyt JAL-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20289</td>
            <td><a href="#">Ercs(B)—Erythrocyt Jk3-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20290</td>
            <td><a href="#">Ercs(B)—Erythrocyt Jka-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20291</td>
            <td><a href="#">Ercs(B)—Erythrocyt Jkb-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20292</td>
            <td><a href="#">Ercs(B)—Erythrocyt Jna-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20293</td>
            <td><a href="#">Ercs(B)—Erythrocyt Joa-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20294</td>
            <td><a href="#">Ercs(B)—Erythrocyt Jsa-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20295</td>
            <td><a href="#">Ercs(B)—Erythrocyt Jsb-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20296</td>
            <td><a href="#">Ercs(B)—Erythrocyt K11-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20297</td>
            <td><a href="#">Ercs(B)—Erythrocyt K12-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20298</td>
            <td><a href="#">Ercs(B)—Erythrocyt K13-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20299</td>
            <td><a href="#">Ercs(B)—Erythrocyt K14-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20300</td>
            <td><a href="#">Ercs(B)—Erythrocyt K16-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20301</td>
            <td><a href="#">Ercs(B)—Erythrocyt K17-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20302</td>
            <td><a href="#">Ercs(B)—Erythrocyt K18-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20303</td>
            <td><a href="#">Ercs(B)—Erythrocyt K19-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20304</td>
            <td><a href="#">Ercs(B)—Erythrocyt K22-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20305</td>
            <td><a href="#">Ercs(B)—Erythrocyt K23-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20306</td>
            <td><a href="#">Ercs(B)—Erythrocyt K24-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20307</td>
            <td><a href="#">Ercs(B)—Erythrocyt K-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20308</td>
            <td><a href="#">Ercs(B)—Erythrocyt k-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20309</td>
            <td><a href="#">Ercs(B)—Erythrocyt Km-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20310</td>
            <td><a href="#">Ercs(B)—Erythrocyt Kna-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20311</td>
            <td><a href="#">Ercs(B)—Erythrocyt Knb-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20312</td>
            <td><a href="#">Ercs(B)—Erythrocyt Kpa-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20313</td>
            <td><a href="#">Ercs(B)—Erythrocyt Kpb-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20314</td>
            <td><a href="#">Ercs(B)—Erythrocyt Kpc-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20315</td>
            <td><a href="#">Ercs(B)—Erythrocyt KREP-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20316</td>
            <td><a href="#">Ercs(B)—Erythrocyt Ku-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20317</td>
            <td><a href="#">Ercs(B)—Erythrocyt Kx-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20318</td>
            <td><a href="#">Ercs(B)—Erythrocyt Lea-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20319</td>
            <td><a href="#">Ercs(B)—Erythrocyt Leab-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20320</td>
            <td><a href="#">Ercs(B)—Erythrocyt Leb-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20321</td>
            <td><a href="#">Ercs(B)—Erythrocyt LebH-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20322</td>
            <td><a href="#">Ercs(B)—Erythrocyt Lsa-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20323</td>
            <td><a href="#">Ercs(B)—Erythrocyt Lu11-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20324</td>
            <td><a href="#">Ercs(B)—Erythrocyt Lu12-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20325</td>
            <td><a href="#">Ercs(B)—Erythrocyt Lu13-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20326</td>
            <td><a href="#">Ercs(B)—Erythrocyt Lu14-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20327</td>
            <td><a href="#">Ercs(B)—Erythrocyt Lu16-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20328</td>
            <td><a href="#">Ercs(B)—Erythrocyt Lu17-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20329</td>
            <td><a href="#">Ercs(B)—Erythrocyt Lu20-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20330</td>
            <td><a href="#">Ercs(B)—Erythrocyt Lu3-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20331</td>
            <td><a href="#">Ercs(B)—Erythrocyt Lu4-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20332</td>
            <td><a href="#">Ercs(B)—Erythrocyt Lu5-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20333</td>
            <td><a href="#">Ercs(B)—Erythrocyt Lu6-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20334</td>
            <td><a href="#">Ercs(B)—Erythrocyt Lu7-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20335</td>
            <td><a href="#">Ercs(B)—Erythrocyt Lu8-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20336</td>
            <td><a href="#">Ercs(B)—Erythrocyt Lu9-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20337</td>
            <td><a href="#">Ercs(B)—Erythrocyt Lua-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20338</td>
            <td><a href="#">Ercs(B)—Erythrocyt Lub-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20339</td>
            <td><a href="#">Ercs(B)—Erythrocyt LWa-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20340</td>
            <td><a href="#">Ercs(B)—Erythrocyt LWab-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20341</td>
            <td><a href="#">Ercs(B)—Erythrocyt LWb-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20342</td>
            <td><a href="#">Ercs(B)—Erythrocyt M-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20343</td>
            <td><a href="#">Ercs(B)—Erythrocyt MAR-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20344</td>
            <td><a href="#">Ercs(B)—Erythrocyt MARS-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20345</td>
            <td><a href="#">Ercs(B)—Erythrocyt Mc-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20346</td>
            <td><a href="#">Ercs(B)—Erythrocyt McCa-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20347</td>
            <td><a href="#">Ercs(B)—Erythrocyt McCb-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20348</td>
            <td><a href="#">Ercs(B)—Erythrocyt Me-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20349</td>
            <td><a href="#">Ercs(B)—Erythrocyt MER2-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20350</td>
            <td><a href="#">Ercs(B)—Erythrocyt Mg-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20351</td>
            <td><a href="#">Ercs(B)—Erythrocyt Mia-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20352</td>
            <td><a href="#">Ercs(B)—Erythrocyt MINY-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20353</td>
            <td><a href="#">Ercs(B)—Erythrocyt Mit-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20354</td>
            <td><a href="#">Ercs(B)—Erythrocyt Moa-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20355</td>
            <td><a href="#">Ercs(B)—Erythrocyt Mta-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20356</td>
            <td><a href="#">Ercs(B)—Erythrocyt Mur-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20357</td>
            <td><a href="#">Ercs(B)—Erythrocyt MUT-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20358</td>
            <td><a href="#">Ercs(B)—Erythrocyt Mv-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20359</td>
            <td><a href="#">Ercs(B)—Erythrocyt N-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20360</td>
            <td><a href="#">Ercs(B)—Erythrocyt NFLD-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20361</td>
            <td><a href="#">Ercs(B)—Erythrocyt Nob-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20362</td>
            <td><a href="#">Ercs(B)—Erythrocyt Nou-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20363</td>
            <td><a href="#">Ercs(B)—Erythrocyt Nya-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20364</td>
            <td><a href="#">Ercs(B)—Erythrocyt Oka-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20365</td>
            <td><a href="#">Ercs(B)—Erythrocyt Or-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20366</td>
            <td><a href="#">Ercs(B)—Erythrocyt Osa-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20367</td>
            <td><a href="#">Ercs(B)—Erythrocyt P1-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20368</td>
            <td><a href="#">Ercs(B)—Erythrocyt Rba-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20369</td>
            <td><a href="#">Ercs(B)—Erythrocyt Rg1-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20370</td>
            <td><a href="#">Ercs(B)—Erythrocyt Rg2-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20371</td>
            <td><a href="#">Ercs(B)—Erythrocyt Rh29-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20372</td>
            <td><a href="#">Ercs(B)—Erythrocyt Rh32-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20373</td>
            <td><a href="#">Ercs(B)—Erythrocyt Rh33-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20374</td>
            <td><a href="#">Ercs(B)—Erythrocyt Rh35-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20375</td>
            <td><a href="#">Ercs(B)—Erythrocyt Rh39-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20376</td>
            <td><a href="#">Ercs(B)—Erythrocyt Rh41-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20377</td>
            <td><a href="#">Ercs(B)—Erythrocyt Rh42-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20378</td>
            <td><a href="#">Ercs(B)—Erythrocyt Ria-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20379</td>
            <td><a href="#">Ercs(B)—Erythrocyt Riv-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20380</td>
            <td><a href="#">Ercs(B)—Erythrocyt S-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20381</td>
            <td><a href="#">Ercs(B)—Erythrocyt s-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20382</td>
            <td><a href="#">Ercs(B)—Erythrocyt SAT-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20383</td>
            <td><a href="#">Ercs(B)—Erythrocyt Sc1-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20384</td>
            <td><a href="#">Ercs(B)—Erythrocyt Sc2-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20385</td>
            <td><a href="#">Ercs(B)—Erythrocyt Sc3-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20386</td>
            <td><a href="#">Ercs(B)—Erythrocyt sD-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20387</td>
            <td><a href="#">Ercs(B)—Erythrocyt Sec-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20388</td>
            <td><a href="#">Ercs(B)—Erythrocyt Sla-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20389</td>
            <td><a href="#">Ercs(B)—Erythrocyt Sta-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20390</td>
            <td><a href="#">Ercs(B)—Erythrocyt STEM-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20391</td>
            <td><a href="#">Ercs(B)—Erythrocyt SW1-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20392</td>
            <td><a href="#">Ercs(B)—Erythrocyt Swa-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20393</td>
            <td><a href="#">Ercs(B)—Erythrocyt Tar-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20394</td>
            <td><a href="#">Ercs(B)—Erythrocyt Tca-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20395</td>
            <td><a href="#">Ercs(B)—Erythrocyt Tcb-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20396</td>
            <td><a href="#">Ercs(B)—Erythrocyt Tcc-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20397</td>
            <td><a href="#">Ercs(B)—Erythrocyt TOU-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20398</td>
            <td><a href="#">Ercs(B)—Erythrocyt Tra-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20399</td>
            <td><a href="#">Ercs(B)—Erythrocyt TSEN-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20400</td>
            <td><a href="#">Ercs(B)—Erythrocyt U-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20401</td>
            <td><a href="#">Ercs(B)—Erythrocyt Ula-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20402</td>
            <td><a href="#">Ercs(B)—Erythrocyt UMC-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20403</td>
            <td><a href="#">Ercs(B)—Erythrocyt V-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU57653</td>
            <td><a href="#">Ercs(B)—Erythrocyt Vel-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20404</td>
            <td><a href="#">Ercs(B)—Erythrocyt Vga-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20405</td>
            <td><a href="#">Ercs(B)—Erythrocyt Vil-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20406</td>
            <td><a href="#">Ercs(B)—Erythrocyt VLAN-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20407</td>
            <td><a href="#">Ercs(B)—Erythrocyt Vr-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20408</td>
            <td><a href="#">Ercs(B)—Erythrocyt VS-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20409</td>
            <td><a href="#">Ercs(B)—Erythrocyt Vw-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20410</td>
            <td><a href="#">Ercs(B)—Erythrocyt WARR-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20411</td>
            <td><a href="#">Ercs(B)—Erythrocyt Wb-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20412</td>
            <td><a href="#">Ercs(B)—Erythrocyt Wda-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20413</td>
            <td><a href="#">Ercs(B)—Erythrocyt WESa-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20414</td>
            <td><a href="#">Ercs(B)—Erythrocyt WESb-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20415</td>
            <td><a href="#">Ercs(B)—Erythrocyt WH-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20416</td>
            <td><a href="#">Ercs(B)—Erythrocyt Wra-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20417</td>
            <td><a href="#">Ercs(B)—Erythrocyt Wrb-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20418</td>
            <td><a href="#">Ercs(B)—Erythrocyt Wu-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20419</td>
            <td><a href="#">Ercs(B)—Erythrocyt Xga-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20420</td>
            <td><a href="#">Ercs(B)—Erythrocyt Yka-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20421</td>
            <td><a href="#">Ercs(B)—Erythrocyt Yta-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        <tr>
            <td>NPU20422</td>
            <td><a href="#">Ercs(B)—Erythrocyt Ytb-antigen; arb.antal(proc.) = ?</a></td>
        </tr>
        </tbody>
    </table>-->