<nav class="code-system-menu {{include.class}}">

    <div class="category all">
        <h2>Velg kodeverk</h2>
        <ul>
            <li><a href="global-search-initial.html">Alle kodeverk</a></li>
        </ul>
    </div>

    <div class="category js-responsive-expand">
        <h2>
            <span class="js-responsive-expander">
                Kliniske kodeverk
            </span>
        </h2>
        <div class="js-responsive-expandable">
            <ul>
                <li><a href="">ICPC-2</a></li>
                <li><a href="/site/code-system-front-page.html">ICD-10</a></li>
                <li><a href="">BUP</a></li>
                <li><a href="">Prosedyre</a></li>
            </ul>
        </div>
    </div>


    <div class="category js-responsive-expand">
        <h2>
            <span class="js-responsive-expander">
                Lab kodeverk
            </span>
        </h2>
        <div class="js-responsive-expandable">
            <ul>
                <li><a href="">Labotatorie</a></li>
                <li><a href="">NORPAT</a></li>
            </ul>
        </div>
    </div>


    <div class="category js-responsive-expand">
        <h2>
            <span class="js-responsive-expander">
                Andre kodeverk
            </span>
        </h2>
        <div class="js-responsive-expandable">
            <ul>
                <li><a href="">SNOMED CT</a></li>
                <li><a href="">Administrative kodeverk</a></li>
                <li><a href="">ATC</a></li>
                <li><a href="">Begrepskatalog</a></li>
            </ul>
        </div>
    </div>

</nav>