<header id="framework-header">

    <div class="layout-container">
        <a class="directorate-logo" href="/">Direktoratet for e-helse</a>
    </div>

    <div class="main-header-content js-expand">
        <div class="layout-container">

            <div class="main-choices">
                <a class="finnkode-logo" href="/site/index.html">FinnKode</a>
                <nav>
                    <ul class="main-menu">
                        <li><a class="home" href="/site/index.html">Hjem</a></li>
                        <li>
                            <a role="button" href="#" class="code-systems js-expander">Kodeverk</a>
                        </li>
                    </ul>
                </nav>
            </div>

            {% include code-system/code-system-menu.html class="js-expandable" %}

        </div>
    </div>
</header>