<div class="notes">

    <div class="js-tab-group">

        <div class="js-tablist" role="tablist" aria-orientation="horizontal">

            <div class="tab-title js-tab-title">
                <button class="js-tab js-responsive-expander" role="tab" aria-selected="true" id="apples-tab" aria-controls="apples-content-panel">Apples</button>
            </div>

            <div class="tab-title js-tab-title">
                <button class="js-tab js-responsive-expander" role="tab" aria-selected="false" id="bananas-tab" aria-controls="bananas-content-panel">Bananas</button>
            </div>

            <div class="tab-title js-tab-title">
                <button class="js-tab js-responsive-expander" role="tab" aria-selected="false" id="peaches-tab" aria-controls="peaches-content-panel">Peaches</button>
            </div>

        </div>

        <div id="apples-content-panel" class="js-tabpanel js-responsive-expand" role="tabpanel" aria-labelledby="apples-tab">
            <div class="js-responsive-expandable">
                <h2>Apples</h2>
                <p>Apples are amazing!</p>
                <a href="">sdfgsdgf</a>
            </div>
        </div>

        <div id="bananas-content-panel" class="js-tabpanel js-responsive-expand" role="tabpanel" aria-labelledby="bananas-tab">
            <div class="js-responsive-expandable">

                <h2>Bananas</h2>
                <p>Don't slip on your banana peel! </p>
                <a href="">sdfgsdgf</a></div>
        </div>

        <div id="peaches-content-panel" class="js-tabpanel js-responsive-expand" role="tabpanel" aria-labelledby="peaches-tab">
            <div class="js-responsive-expandable">
                <h2>Peaches</h2>
                <p>Peaches keep peaching! </p>
                <a href="">sdfgsdgf</a>
            </div>
        </div>
    </div>


</div>


<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis sapien ut ligula consectetur molestie vel non nisl. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus arcu sapien, pharetra quis consequat vitae, lacinia sit amet tortor. Maecenas in nunc in elit finibus varius. Ut nec pellentesque purus, sit amet volutpat urna. Morbi vulputate felis at arcu commodo interdum. Ut ullamcorper faucibus placerat. Mauris sapien quam, feugiat sit amet euismod eu, posuere mattis risus. Sed a pretium leo, in suscipit orci. Morbi vitae ex eu nisl feugiat aliquet vitae sit amet enim. Morbi in diam lacus.
</p>
<p>
    Pellentesque laoreet ligula quis ultricies viverra. Donec id augue ut massa scelerisque sagittis et at dolor. Aliquam eget mauris ante. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vestibulum ac ante erat. Proin placerat non tellus vitae tempor. Pellentesque cursus nisl sit amet enim imperdiet, accumsan pellentesque lacus sollicitudin. Integer ut luctus ipsum. Pellentesque id molestie arcu. Donec quis euismod justo. Curabitur augue nulla, rutrum commodo fermentum commodo, sollicitudin in augue. Ut quam nisl, tempus et ligula quis, tincidunt ultrices lectus. In viverra molestie nibh nec imperdiet. Nam egestas libero in rutrum ornare. Suspendisse facilisis ex ac lacinia pellentesque. Ut nec est non quam tristique fermentum a at arcu.
</p>
<p>
    Donec vehicula vel tortor quis euismod. Vivamus sagittis lacinia massa, at tempus ipsum aliquam quis. Suspendisse eu laoreet risus. Etiam auctor ut ante nec viverra. Cras diam urna, dapibus at dictum lacinia, dictum at nisi. Sed interdum, nisl tincidunt cursus sollicitudin, lacus est facilisis lectus, in ultrices lacus risus vitae massa. Aliquam fermentum ipsum nec eros pretium vehicula. Nunc laoreet lacinia euismod. Vestibulum lacus justo, sollicitudin id pellentesque nec, pharetra mattis augue. Sed quis mi tincidunt, facilisis erat at, tristique sem. Duis vel magna quis metus sagittis pretium eget sed nibh. Nullam finibus vulputate efficitur.
</p>
<p>
    Nulla condimentum blandit vulputate. Mauris fermentum dapibus turpis sit amet pellentesque. Ut fringilla ex ipsum, at pretium turpis aliquam in. Ut id nulla finibus, fringilla odio eget, tincidunt purus. Nunc sagittis elementum urna ac pulvinar. Aliquam vulputate semper nulla ac pretium. Duis orci lectus, suscipit id posuere sed, hendrerit quis diam.
</p>
<p>
    Morbi sed auctor purus, a euismod velit. Praesent in tellus commodo, pharetra augue non, cursus ipsum. Aliquam eu cursus diam. Morbi maximus, orci faucibus porta semper, ipsum sem semper tellus, sit amet pretium purus ipsum vel neque. Praesent sed nunc sem. Nunc non erat pellentesque, rhoncus magna sed, semper augue. Cras sed neque justo. Cras blandit nec eros nec sagittis. Suspendisse pharetra nisl posuere molestie dignissim.
</p>