<div class="search-refiners js-expand">
    <div class="js-expander refiners-expander" aria-label="Vis/skjul filtre"></div>
    <div class="js-expandable">
        <div class="filters">
            <a class="skip-link" href="#search-results">Hopp over filterne til resultatene</a>

            <div class="date">

                <label id="datepickerLabel" for="datepicker">Endret siden</label>

                <div class="date-field">
                    <input type="text" id="datepicker" placeholder="DD.MM.ÅÅÅÅ">
                </div>

                <label class="expired-codes">
                    <input type="checkbox">
                    <span>Vis utgåtte koder</span>
                </label>

            </div>
            {% if page.loading == true %}

            <ul class="code-system-list" aria-busy="true" aria-live="polite">
                <li>
                    <a href="#">Alle kodeverk
                        <span aria-hidden="true">
                            <span>.</span><span>.</span><span>.</span>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">ICD-10
                        <span aria-hidden="true"><span>.</span><span>.</span><span>.</span></span>
                    </a>
                </li>
                <li class="current">
                    <a href="#">NCMP-NCSP-NCRP (219)</a>
                </li>
                <li>
                    <a href="#">BUP
                        <span aria-hidden="true">
                            <span>.</span><span>.</span><span>.</span>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">ICPC-2
                        <span aria-hidden="true">
                            <span>.</span><span>.</span><span>.</span>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        ICF-CY
                        <span aria-hidden="true">
                            <span>.</span><span>.</span><span>.</span>
                        </span>
                    </a>
                </li>
            </ul>

            {% else %}

            <ul class="code-system-list" aria-busy="false" aria-live="polite">
                <li><a href="#">Alle kodeverk (387)</a></li>
                <li><a href="#">ICD-10 (129)</a></li>
                <li class="current"><a href="#">NCMP-NCSP-NCRP (219)</a></li>
                <li><a href="#">BUP (1)</a></li>
                <li><a href="#">ICPC-2 (34)</a></li>
                <li><a href="#">ICF-CY (4)</a></li>
            </ul>
            {% endif %}

        </div>
    </div>
</div>