<div class="search-refiners js-expand">
    <div class="js-expander refiners-expander" aria-label="Vis/skjul filtre"></div>
    <div class="js-expandable">
        <div class="filters">
            <a class="skip-link" href="#search-results">Hopp over filterne til resultatene</a>

            <div class="date">

                <label id="datepickerLabel" for="datepicker">Endret siden</label>

                <div class="date-field">
                    <input type="text" id="datepicker" placeholder="DD.MM.ÅÅÅÅ">
                </div>

                <label class="expired-codes">
                    <input type="checkbox">
                    <span>Vis utgåtte koder</span>
                </label>

            </div>

            <ul class="code-system-list">
                <li><a href="">Alle kodeverk (387)</a></li>
                <li><a href="">ICD-10 (129)</a></li>
                <li class="current"><a href="">NCMP-NCSP-NCRP (219)</a></li>
                <li><a href="">BUP (1)</a></li>
                <li><a href="">ICPC-2 (34)</a></li>
                <li><a href="">ICF-CY (4)</a></li>
            </ul>

        </div>
    </div>
</div>
