.code-system-header {
    border: 0 solid $grey;
    border-width: 1px 0;
    color: $blue;
    background-color: #fff;

    .layout-container {
        padding: 1rem 1rem 1.5rem;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
    }

    h1 {
        font-size: $font-4xl;
        margin: 0;
        padding: 0 2rem .25rem 0;
        line-height: 1;

        a {
            text-decoration: none;
            color: $blue;
        }
    }

    ul {
        margin: 0;
        padding: 0 2rem 0 0;
        list-style: none;
    }

    li {
        display: inline-block;

        &:first-child {
            margin-right: 1rem;
        }
    }

    .main-menu {
        a {
            white-space: nowrap;
            height: 2rem;
            line-height: 2rem;
            color: $blue;
            display: block;
            padding-top: .125rem;
        }
    }



    .search-field {
        flex: 1 0 100%;
        margin-top: 1rem;
    }
}

@media only screen and (min-width: $one-to-two-col) {
    .code-system-header {

        .layout-container {
            padding: 1rem;
            flex-flow: column wrap;
            align-content: space-between;
            justify-content: flex-end;
            height: 6.875rem;
        }

        h1 {
            flex: 0 0 auto;
            padding-bottom: .5rem;
        }

        ul {
            flex: 1 1 auto;
            padding-bottom: 0;
        }

        h1, ul {
            width: $one-col-content;
        }

        .search-field {
            width: $one-col;
            flex: 0 0 auto;
            margin-bottom: .5rem;
            margin-top: 0;
            align-self: flex-end;
        }
    }
}

@media only screen and (min-width: $two-to-three-col) {

    .code-system-header {

        .layout-container {
            flex-flow: row nowrap;
            height: auto;
            justify-content: flex-start;
            padding: 1.5rem 1rem;
        }

        h1 {
            flex: unset;
            padding-bottom: 0;
            width: unset;
            font-size: $font-5xl;

            a {
                display: table-caption;
            }
        }

        ul {
            width: unset;
            flex: unset;
            flex-grow: 1;
        }

        .search-field {
            width: 25rem;
            margin-bottom: 0;
            align-self: unset;
            flex: unset;
        }
    }
}


