.code-system-content {
    padding: 1.5rem 1rem;

    .general-info {
        max-width: 45rem;
    }

    h2 {
        font-size: $font-2xl;
        color: $blue;
        line-height: 1.2;
        margin-top: 0;
        margin-bottom: 1.5rem;
        font-weight: normal;
    }

    .chapter-number, .chapter-title {
        display: block;
    }

    .chapter-title {
        font-weight: 600;
    }

    h3 {
        font-size: $font-l;
        font-weight: 600;
    }

    .inclusions-exclusions {
        margin-bottom: 1rem;

        h3 {
            font-size: $font-l;
            margin: 2rem 0 0;
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        li {
            margin: .25rem 0;
        }

    }

    .code-list {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .code {
        padding-top: 1rem;
        position: relative;
        z-index: 2;

        &.node {
            &::before {
                content: "";
                position: absolute;
                top: 1rem;
                bottom: 0;
                width: 0;
                left: 0;
                border-left: 1px dashed $light-grey;
                z-index: -1;
            }
        }

        &.leaf {
            border-bottom: 1px solid $light-grey;

            .code-details {
                border: 1px solid $light-grey;
                border-width: 0 1px;
            }
        }

        &.expired {
            .title {
                background-color: $dark-grey;
            }
        }
    }

    .title {
        font-size: $font-xl;
        background-color: $blue;
        padding: .75rem 1rem;
        color: #fff;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    .code.expired .title {
        background-color: $dark-grey;
    }

    .number {
        font-weight: 600;
        padding-right: 1em;
    }

    .name {
        flex: 0 0 100%;
        order: 3;
    }

    .status {
        text-transform: uppercase;
        order: 2;
        font-size: $font-m;
        padding-top: .25rem;
    }

    .code-details {
        overflow: hidden;
        padding-bottom: .5rem;

        ul {
            list-style-type: disc;
            margin: 0;
        }

        p + ul {
            margin-top: -.75rem;
        }
    }

    .status-info {
        background-color: $light-blue;
        color: $blue;
        padding: .875rem 1rem;
        display: flex;
        justify-content: space-between;

        strong {
            order: 2;
            font-weight: normal;
            text-transform: uppercase;
            padding-left: 2em;
        }
    }

    .validity, .description {
        margin: 1rem;
    }

    .description, .notes {
        font-size: $font-s;
    }

    .validity {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        color: $grey;
        font-size: $font-xs;

        p {
            margin: 0 1.5rem 0 0;
            line-height: 1.2;

            &:last-child {
                margin-right: 0;
            }
        }

        a {
            color: $grey;
        }
    }

    .subcodes {
        padding-left: 1rem;
        margin-bottom: 1rem;
        list-style: none;
    }

    .code-details + .subcodes {
        margin-top: -1rem;
    }

    .notes {
        border: 1px solid $light-grey;
        border-width: 0 1px;


        /* for responsive expanders
        .expand {
            border-top: 1px solid $light-grey;

            .tab-title {
                position: relative;
                color: $purple;

                &::after {
                    content: "";
                    position: absolute;
                    height: 100%;
                    right: 0;
                    top: 0;
                    width: 2.5rem;
                    background: url($chevron-down-blue) right 1rem center / .85rem no-repeat;
                    transform: scaleY(1);
                    transition: transform .15s;
                }
            }

            &.expanded {
                .tab-title {
                    &::after {
                        transform: scaleY(-1);
                    }
                }
            }

            .expander {
                position: relative;
                z-index: 2;
                transition: .15s;
                display: block;
                text-decoration: none;
                padding: .75rem 2.5rem .75rem 1rem;
                font-weight: 600;

                &:hover, &:focus {
                    background-color: $light-green;
                }

                // The wider lines above and below the focused element
                &:focus {
                    outline: 0;

                    &::before, &::after {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        height: 2px;
                        left: 0;
                        right: 0;
                        background-color: $grey;
                        z-index: 1;
                    }

                    &::before {
                        top: -1px;
                    }

                    &::after {
                        bottom: -1px;
                    }
                }

            }
        }

        a {


            &.selected {
                background-color: $blue;
                color: #fff;
                outline: 1px solid $blue;

                &::after {
                    background-image: url($chevron-down-white);

                    transform: scaleY(- 1);
                }
            }
        }
        */


        [role=tabpanel] {
            border-top: 1px solid black;
            padding: .5em 0;
        }

        [role=tablist] {
            padding: .2em 0;
        }

        #tabbed-interface {
            border: 1px solid black;
            text-align: center;
            margin: 0 10%;
        }


        .code.expired .note {
            .expander {
                color: $dark-grey;

                &::after {
                    background-image: url($chevron-down-dark-grey);
                }

                &:hover, &:focus {
                    background-color: $lighter-grey;
                }
            }

            &.expanded {
                .expander {
                    background-color: $lightest-grey;

                    &:hover, &:focus {
                        background-color: $lighter-grey;
                    }

                }
            }

        }

    }
}

.code.expired .note {
    .expander {
        color: $dark-grey;

        &::after {
            background-image: url($chevron-down-dark-grey);
        }

        &:hover, &:focus {
            background-color: $lighter-grey;
        }
    }

    &.expanded {
        .expander {
            background-color: $lightest-grey;

            &:hover, &:focus {
                background-color: $lighter-grey;
            }

        }
    }

}

.note-content {
    background-color: #fff;
    padding: 1rem;

    p {
        margin: .5rem 0;
    }
}

.list-codes {
    tr {
        padding: 0 .325rem;
    }

    tbody {
        tr {
            &:hover {
                background-color: $light-green;

                a {
                    color: $purple;
                }
            }
        }
    }

    td:first-child {
        padding-right: 1rem;
    }

    th, td {
        vertical-align: top;
    }


}

@media only screen and (min-width: $two-to-three-col) {
    .code-system-content {
        article {
            padding-top: 1.5rem;
        }

        h2 {
            font-size: $font-4xl;
        }

        .title {
            font-size: $font-2xl;
            display: grid;
            grid-template-areas: "number status" "name status";
        }

        .number {
            grid-area: number;
        }

        .name {
            grid-area: name;
        }

        .status {
            grid-area: status;
            padding-left: 2em;
            padding-top: .5em;
        }

        .validity, .description, .notes {
            font-size: $font-m;
        }

    }

}

@media only screen and (min-width: $one-to-two-col) {
    .code-system-content {
        .notes {

            [role=tab] {
                background-color: green;

                &[aria-selected=true] {
                    background-color: red;
                }
            }

            [role=tabpanel] {

                &[aria-hidden=true] {
                    display: none;
                }
            }

            [role=tablist] {

            }

            .notes {
                border: 1px solid $light-grey;
                border-width: 0 1px;
                list-style: none;
                margin: 0;
                padding: 0;

                .expand {
                    border-top: 1px solid $light-grey;

                    .tab-title {
                        position: relative;
                        color: $purple;

                        &::after {
                            content: "";
                            position: absolute;
                            height: 100%;
                            right: 0;
                            top: 0;
                            width: 2.5rem;
                            background: url($chevron-down-blue) right 1rem center / .85rem no-repeat;
                            transform: scaleY(1);
                            transition: transform .15s;
                        }
                    }

                    &.expanded {
                        .tab-title {
                            &::after {
                                transform: scaleY(-1);
                            }
                        }
                    }

                    .expander {
                        position: relative;
                        z-index: 2;
                        transition: .15s;
                        display: block;
                        text-decoration: none;
                        padding: .75rem 2.5rem .75rem 1rem;
                        font-weight: 600;

                        &:hover, &:focus {
                            background-color: $light-green;
                        }

                        // The wider lines above and below the focused element
                        &:focus {
                            outline: 0;

                            &::before, &::after {
                                content: "";
                                position: absolute;
                                bottom: 0;
                                height: 2px;
                                left: 0;
                                right: 0;
                                background-color: $grey;
                                z-index: 1;
                            }

                            &::before {
                                top: -1px;
                            }

                            &::after {
                                bottom: -1px;
                            }
                        }

                    }
                }

                //a {
                //
                //
                //    //&.selected {
                //    //    background-color: $blue;
                //    //    color: #fff;
                //    //    outline: 1px solid $blue;
                //    //
                //    //    &::after {
                //    //        background-image: url($chevron-down-white);
                //    //
                //    //        transform: scaleY(- 1);
                //    //    }
                //    //}
                //}
            }

            .code.expired .note {
                .expander {
                    color: $dark-grey;

                    &::after {
                        background-image: url($chevron-down-dark-grey);
                    }

                    &:hover, &:focus {
                        background-color: $lighter-grey;
                    }
                }

                &.expanded {
                    .expander {
                        background-color: $lightest-grey;

                        &:hover, &:focus {
                            background-color: $lighter-grey;
                        }

                    }
                }

            }


        }
    }
}

@media only screen and (min-width: $three-to-four-col) {
    .code-system-content {
        h2 {
            font-size: $font-5xl;
            letter-spacing: -1px;
        }


        .code-details {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;

            p {
                margin: 0 0 1rem;
            }

            .status-info {
                flex: 0 0 100%;
                order: 1;
            }

            .validity {
                order: 3;
                display: block;
                color: $blue;

                span {
                    display: block;
                    font-size: $font-xs;
                    margin-bottom: .25rem;
                }

                a {
                    color: $blue;
                }
            }

            .description {
                order: 2;
                flex: 1 1 auto;
            }


        }
    }
}

//@media all and (-ms-high-contrast: none) {
//    .title {
//        display: -ms-grid;
//        -ms-grid-columns: 1fr 100px;
//        -ms-grid-rows: 1 auto 1 auto;
//    }
//
//    .status {
//        -ms-grid-row: 1;
//        -ms-grid-row-span: 2;
//        -ms-grid-column: 2;
//        -ms-grid-column-span: 1;
//    }
//
//    .number {
//        -ms-grid-row: 1;
//        -ms-grid-row-span: 1;
//        -ms-grid-column: 1;
//        -ms-grid-column-span: 1;
//    }
//
//    .name {
//        -ms-grid-row: 2;
//        -ms-grid-row-span: 1;
//        -ms-grid-column: 1;
//        -ms-grid-column-span: 1;
//    }
//
//}


/*
        .expand {
            border-top: 1px solid $light-grey;

            .tab-title {
                position: relative;
                color: $purple;

                &::after {
                    content: "";
                    position: absolute;
                    height: 100%;
                    right: 0;
                    top: 0;
                    width: 2.5rem;
                    background: url($chevron-down-blue) right 1rem center / .85rem no-repeat;
                    transform: scaleY(1);
                    transition: transform .15s;
                }
            }

            &.expanded {
                .tab-title {
                    &::after {
                        transform: scaleY(-1);
                    }
                }
            }

            .expander {
                position: relative;
                z-index: 2;
                transition: .1s;
                display: block;
                text-decoration: none;
                padding: .75rem 2.5rem .75rem 1rem;
                font-weight: 600;

                &:hover, &:focus {
                    background-color: $light-green;
                }

                // The wider lines above and below the focused element
                &:focus {
                    outline: 0;

                    &::before, &::after {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        height: 2px;
                        left: 0;
                        right: 0;
                        background-color: $grey;
                        z-index: 1;
                    }

                    &::before {
                        top: -1px;
                    }

                    &::after {
                        bottom: -1px;
                    }
                }

            }
        }

        //a {
        //
        //
        //    //&.selected {
        //    //    background-color: $blue;
        //    //    color: #fff;
        //    //    outline: 1px solid $blue;
        //    //
        //    //    &::after {
        //    //        background-image: url($chevron-down-white);
        //    //
        //    //        transform: scaleY(- 1);
        //    //    }
        //    //}
        //}
    }

    //[role=tabpanel] {
    //    animation: fadein .4s;
    //
    //    &.unselected {
    //        display: none;
    //    }
    //}


*/
