.code-system-menu {

    .category {
        position: relative;

        // The blue lines between the categories
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            height: 1px;
            left: 0;
            right: 0;
            background-color: $blue;
        }

        // Category titles
        h2 {
            font-size: $font-m;
            margin: 0;
            color: $purple;
            font-weight: 700;
            position: relative;
            height: auto;
            padding: .5rem 1rem;

            span {
                display: block;
            }
        }

        &.expand {
            h2 {
                padding: 0;

                // The chevron
                &::after {
                    content: "";
                    position: absolute;
                    width: 1.25rem;
                    top: 0;
                    bottom: 0;
                    right: 1rem;
                    background: url($chevron-down-blue) right center / 1.25rem no-repeat;
                    transform: scaleY(1);
                    transition: transform .2s;
                    z-index: 1;
                }
            }

            // Expanded categories have flipped chevrons
            &.expanded {
                h2 {
                    &::after {
                        transform: scaleY(-1);
                    }
                }
            }
        }
    }

    .expander {
        padding: .75rem 1rem;
    }

    .expander, a {
        @extend %menu-list-design;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 1px 0;
    }

    li {
        margin: 0;
        padding: 0;
    }

    a {
        color: $blue;
        display: block;
        text-decoration: none;
        padding: .5rem 1rem;
    }
}

@media only screen and (min-width: $one-to-two-col) {
    .code-system-menu {
        display: flex;
        flex-flow: row wrap;

        .category {
            width: $one-col;
            padding: 0 1rem;
            margin-bottom: 2.5rem;

            &::after {
                display: none;
            }
        }

        li {
            border-bottom: 1px solid $blue;
        }


        a {
            padding: .75rem 1rem;

            // The chevron
            background: url($chevron-right-blue) right 1rem center / .75rem no-repeat;

        }
    }
}

@media only screen and (min-width: $two-to-three-col) {
    .code-system-menu {

        .category {
            width: $one-point-five-col;

            h2 {
                font-size: $font-2xl;
            }
        }

        ul {
            font-size: $font-l;
            font-weight: 600;
        }

    }
}

@media only screen and (min-width: $three-to-four-col) {
    .code-system-menu {
        .category {
            width: $one-col;
        }
    }
}