#search-results {
    margin: 1.5rem 1rem 0;
    padding-bottom: 3rem;
    flex: 1;

    .results-header {
        font-size: $font-s;
        color: $blue;
        padding: .75rem 1rem;
        margin: .5rem 0 0;
        border-bottom: 1px solid $blue;
    }

    .no-results {
        margin: 1rem;
    }

    .hits {
        position: relative;
        margin-bottom: .5rem;
    }

    .hits, .load-more {
        &[aria-busy="true"] {
            @include wheel-animation;
        }
    }

    .load-more {
        margin: 2rem 1rem;
    }

    .pagination {
        text-align: center;

        li {
            display: inline-block;
            margin: 0 .5em;

            &:first-child, &:last-child {
                button {
                    height: 0;
                    padding-top: 2.25em;
                    background: url($chevron-right-blue) .95em center /.625em no-repeat;
                }
            }

            &:first-child {
                transform: rotateY(180deg);
            }

            &.active {
                button {
                    background-color: $blue;
                    color: $green;
                    border: 2px solid $blue;

                    &:hover, &:focus {
                        background-color: $green;
                        color: $blue;
                        border: 2px solid $blue;
                    }
                }
            }

            button {
                @include button-reset;
                width: 2.5em;
                height: 2.5em;
                overflow: hidden;
                vertical-align: top;
                color: $blue;
                font-size: $font-l;
                border-radius: 1.25em;
                border: 2px solid #fff;
                transition: .1s;

                &:hover, &:focus {
                    background-color: $green;
                    border-color: $blue;
                }
            }
        }
    }

    .results {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }
    }

    .code {
        margin: 0;
        padding: 0;
        border-bottom: 1px solid $blue;
    }

    a {
        color: $blue;
        display: flex;
        flex-flow: row wrap;
        text-decoration: none;
        padding: 1rem 3rem 1rem 1rem;
        position: relative;
        z-index: 2;
        transition: background-color .2s;
        background: url($chevron-right-grey) right 1rem center / 1rem 2rem no-repeat;

        &:hover, &:focus {
            background-color: $light-green;
        }

        // The wider lines above and below the focused element
        &:focus {
            outline: 0;

            &::before, &::after {
                content: "";
                position: absolute;
                bottom: 0;
                height: 2px;
                left: 0;
                right: 0;
                background-color: $grey;
            }

            &::before {
                top: -1px;
            }

            &::after {
                bottom: -1px;
            }
        }
    }

    .number, .name {
        font-weight: 600;
        display: inline-flex;
    }

    .number {
        order: 2;

        &::after {
            content: "—";
            padding: 0 .25em;
        }
    }

    .name {
        font-weight: 600;
        order: 3;
    }

    .description {
        order: 4;
        padding-top: .25rem
    }

    .system {
        font-size: .85rem;
        order: 1;
        width: 100%;
        padding-bottom: .25rem;
    }

}

@media only screen and (min-width: $one-to-two-col) {
    #search-results {
        .results-header {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            line-height: 1.4em;
        }

        .hits {
            margin-bottom: 0;
            padding-right: 1.5em;
        }

        .sort {
            flex-shrink: 0;
            height: 1.4em;

            label {
                white-space: nowrap;
                vertical-align: top;
            }

            select {
                top: -4px;
            }

        }
    }
}

@media only screen and (min-width: $two-to-three-col) {
    #search-results {
        .results-header {
            padding-top: 17px;
            padding-bottom: 13px;

            .sort {
                select {
                    top: -5px;
                }
            }

        }
    }
}


@media only screen and (min-width: $three-to-four-col) {
    #search-results {
        a {
            background-position: right 1rem top 1.325rem;
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
            padding-right: 5rem;
            font-size: $font-xl;
            display: grid;
            grid-template-columns: 4em 1fr 9rem;
            grid-template-rows: 1fr min-content;

            grid-template-areas: "number name system" "number description system";

            .system {
                grid-area: system;
                font-size: $font-xl;
                width: unset;
                text-align: right;
                padding-bottom: 0;
            }

            .name, .description {
                padding: 0 2rem;
            }

            .name {
                grid-area: name;
            }

            .description {
                grid-area: description;
                font-size: $font-l;
                padding-top: .5rem;
            }

            .number {
                grid-area: number;
                display: unset;

                &::after {
                    display: none;
                }
            }
        }
    }
}