.search-refiners {
    color: $blue;
    text-align: center;
    margin: 1.5rem 1rem;

    .skip-link {
        &, &:focus {
            display: none;
        }
    }

    .expander {
        padding-right: 1.5em;
        margin-left: 1rem;
        display: inline-block;
        position: relative;
        font-weight: 600;
        font-size: $font-s;

        &::before {
            content: "Vis filtre"
        }

        &::after {
            content: "";
            position: absolute;
            right: 0;
            height: 100%;
            width: 1em;
            background: url($chevron-down-blue) right center / contain no-repeat;
            transform: scaleY(1);
            transition: transform .2s;
        }

        &:focus {
            outline: 0;
        }
    }

    &.expanded {
        .expander {
            &::before {
                content: "Skjul filtre"
            }

            &::after {
                transform: scaleY(-1);
            }
        }
    }

    .filter {
        text-align: left;
        margin: 1rem 0 1.5rem;
    }

    .filter-type {
        font-weight: 700;
        display: block;
        margin-bottom: 1rem;
        font-size: $font-m;
    }

    [aria-busy="true"] {
        .filter-type {
            left: .325rem;
            @include wheel-animation;
        }
    }

    .date {
        .filter-type {
            margin-left: 1rem;
        }
    }

    .code-system {
        background: $green;
        padding: .75rem 1rem;
        margin: .5rem 0 0;

        ul {
            font-size: $font-s;
            list-style: none;
            padding: 0;
        }

        li {
            margin: .125rem 0;

            &.current {
                a {
                    font-weight: 600;
                    border-bottom: 1px solid $blue;
                }
            }
        }

        a {
            text-decoration: none;
            color: $blue;
            display: inline-block;
            border-bottom: 1px solid transparent;

            &:hover, &:focus {
                border-bottom-color: $blue;
            }
        }

    }

    .expired-codes {
        line-height: 2.25rem;
        font-size: $font-s;
        overflow: hidden;

        span {
            display: block;
            cursor: pointer;
            padding-left: 2rem;
            background: .5rem center / .9rem no-repeat;
            background-image: url($checkbox-unchecked), url($checkbox-unchecked-hover), url($checkbox-checked), url($checkbox-checked-hover);
        }

        input {
            @extend .visuallyhidden;

            & + span {
                background-image: url($checkbox-unchecked);
            }

            &:hover, &:focus {
                & + span {
                    background-image: url($checkbox-unchecked-hover);
                }
            }

            &:checked {
                & + span {
                    background-image: url($checkbox-checked);
                }

                &:hover, &:focus {
                    & + span {
                        background-image: url($checkbox-checked-hover);
                    }
                }
            }
        }
    }

    .ui-datepicker-trigger {
        @include input-button($type: "datepicker");
    }

    #datepicker {
        @include input-field($type: "datepicker");
    }

    .date-field, .expired-codes {
        display: inline-block;
    }

    .date-field {
        position: relative;
        overflow: hidden;
        margin-right: 1rem;

        img {
            display: none;
        }
    }
}

@media only screen and (min-width: $one-to-two-col) {
    .search-refiners {
        white-space: nowrap;

        .expander {
            margin-top: .5rem;
            padding-right: 1.5em;
            margin-left: 0;
        }

        .filters {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
        }

        .filter {
            flex: 1 1;
            padding: 0 1rem 0 0;
            margin-top: 0;
        }

        .filter-type {
            padding: .75rem 1rem;
            margin: .5rem 0 1.5rem;
            border-bottom: 1px solid $blue;
        }

        .code-system {
            background: transparent;
            padding: 0 0 0 1rem;

            ul {
                margin-top: 9px;
            }

            li {
                margin: 0;
                padding: 0;
                border-bottom: 1px solid $blue;
                line-height: 1;

                &.current {
                    a {
                        border-bottom: 0;
                    }
                }
            }

            a {
                display: block;
                padding: .75rem 1rem;
                position: relative;
                z-index: 2;
                border-bottom: 0;
                transition: background-color .2s;

                &:hover, &:focus {
                    background-color: $light-green;
                }

                // The wider lines above and below the focused element
                &:focus {
                    outline: 0;

                    &::before, &::after {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        height: 2px;
                        left: 0;
                        right: 0;
                        background-color: $grey;
                    }

                    &::before {
                        top: -1px;
                    }

                    &::after {
                        bottom: -1px;
                    }
                }
            }

        }

        .date {
            .filter-type {
                margin-left: 0;
            }
        }

        .date-field {
            display: block;
            width: 100%;
        }

        .expired-codes {
            height: auto;
            line-height: unset;
            margin: 1.5rem 0;

            span {
                margin-left: .5rem;
            }
        }
    }
}

@media only screen and (min-width: $two-to-three-col) {
    .search-refiners {
        padding-bottom: 3rem;
        margin-bottom: 0;

        .skip-link {
            &, &:focus {
                display: table-caption;
            }
        }

        .refiners-expander {
            display: none;
        }

        &.expand.collapsed .expandable {
            max-height: unset;
            opacity: 1;
            visibility: visible;
        }

        .filters {
            display: block;
        }

        .filter-type {
            margin-top: 0;
            font-size: $font-xl;
        }

        .date, .code-system {
            padding: 0;
            width: auto;
        }

        .date {
            padding-left: 0;
        }

        .date-field {
            width: auto;
        }

        .expired-codes {
            span {
                background-size: 1rem;
                padding-left: 2.25rem;
                font-size: $font-m;
            }
        }

        .code-system {
            padding-left: 0;
            margin-top: 4rem;
            font-size: $font-xl;

            .filter-type {
                margin-bottom: 0;
            }

            ul {
                margin-top: 0;
            }

            li {
                font-size: $font-l;
            }

            a {
                padding: 1rem;
            }

        }


    }
}

@media only screen and (min-width: $three-to-four-col) {
    .search-refiners {
        .date, .code-system-list {
            width: $one-col;
        }
    }
}