.message {
    color: #000;
    max-width: $two-col;
    padding: 1.25rem 1rem 0;

    .title {
        font-weight: 600;
        font-size: $font-l;
        margin-bottom: .5rem;
        display: block;
    }

    &.error, &.warning {
        background-position: 1rem 1.125rem;
        background-size: 2.5rem;
        background-repeat: no-repeat;
        padding: 1.25rem 1rem 1.325rem 4.5rem;
    }

    &.error {
        background-color: #ffe7e7;
        background-image: url($error);
    }

    &.warning {
        background-color: #fff7d5;
        background-image: url($warning);
    }
}