#search-results {
    margin: 1.5rem 1rem 0;
    padding-bottom: 3rem;
    flex: 1;

    .hits {
        font-size: $font-s;
        color: $blue;
        padding: .75rem 1rem;
        margin: .5rem 0 0;
        border-bottom: 1px solid $blue;
        position: relative;
    }

    .hits, .load-more {
        &[aria-busy="true"] {
            @include wheel-animation;
        }
    }

    .load-more {
        margin: 2rem 1rem;
    }

    .pagination {
        text-align: center;

        li {
            display: inline-block;
            margin: 0 .5em;

            &:first-child, &:last-child {
                button {
                    height: 0;
                    padding-top: 2.25em;
                    background: url($chevron-right-blue) .95em center /.625em no-repeat;
                }
            }

            &:first-child {
                transform: rotateY(180deg);
            }

            &.active {
                button {
                    background-color: $blue;
                    color: $green;
                    border: 2px solid $blue;

                    &:hover, &:focus {
                        background-color: $green;
                        color: $blue;
                        border: 2px solid $blue;
                    }
                }
            }

            button {
                @include button-reset;
                width: 2.5em;
                height: 2.5em;
                overflow: hidden;
                vertical-align: top;
                color: $blue;
                font-size: $font-l;
                border-radius: 1.25em;
                border: 2px solid #fff;
                transition: .1s;

                &:hover, &:focus {
                    background-color: $green;
                    border-color: $blue;
                }
            }
        }
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .code {
        margin: 0;
        padding: 0;
        border-bottom: 1px solid $blue;

        &.expired {
            .status {
                background-color: $dark-grey;
                color: #fff;
            }
        }

        &.expiring-soon {
            .status {
                background-color: $light-blue;
                color: $blue;
            }
        }
    }

    a {
        color: $blue;
        display: flex;
        align-items: stretch;
        flex-flow: column nowrap;
        text-decoration: none;
        padding: 1rem 3rem 1rem 1rem;
        position: relative;
        z-index: 2;
        transition: background-color .2s;
        background: url($chevron-right-grey) right 1rem center / 1rem 2rem no-repeat;

        &:hover, &:focus {
            background-color: $light-green;
        }

        // The wider lines above and below the focused element
        &:focus {
            outline: 0;

            &::before, &::after {
                content: "";
                position: absolute;
                bottom: 0;
                height: 2px;
                left: 0;
                right: 0;
                background-color: $grey;
            }

            &::before {
                top: -1px;
            }

            &::after {
                bottom: -1px;
            }
        }
    }

    .system {
        font-size: $font-s;
        padding-bottom: .25rem;
    }

    .number {
        font-weight: 600;

        &::after {
            content: "—";
            padding: 0 .25em;
        }

    }

    .name {
        font-weight: 600;
        padding-right: .25em;
    }

    .status {
        text-transform: uppercase;
        font-size: $font-s;
        padding: 0 .5em;
    }

    .description {
        padding-top: .25rem;
        display: block;
    }

}

@media only screen and (min-width: $two-to-three-col) {
    #search-results {
        .hits {
            margin-top: 0;
            padding: 1rem 1rem .75rem;
            line-height: 1.5rem;
        }
    }
}

@media only screen and (min-width: $three-to-four-col) {
    #search-results {

        a {
            background-position: right 1rem top 1.325rem;
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
            padding-right: 4rem;
            font-size: $font-xl;
            flex-flow: row nowrap;
        }

        .system {
            font-size: $font-xl;
            padding-bottom: 0;
            order: 2;
        }

        .info {
            order: 1;
            display: flex;
        }

        // Grid stuff from here

        .number {
            &::after {
                display: none;
            }
        }

        .status {
            font-size: $font-m;
        }

        .description {
            font-size: $font-l;
        }

        //.g-details {
        //    display: grid;
        //    grid-template-columns: auto;
        //    grid-template-rows: auto;
        //    grid-template-areas: "g-name g-status" "g-description g-status";
        //}
        //
        //.g-name {
        //    grid-area: g-name;
        //}
        //
        //.g-status {
        //    grid-area: g-status;
        //}
        //
        //.g-description {
        //    grid-area: g-description;
        //}
    }

}