#framework-footer {
    color: #fff;
    padding: 1.5rem 0;

    ul {
        padding: 0 1rem 1.5rem;
        margin: 0;
        list-style: none;
        line-height: 1.5;

        a {
            display: inline-block;
            text-decoration: none;
            border-bottom: 1px solid transparent;
            margin-bottom: .25rem;
            transition: border-bottom-color .15s;

            &:hover {
                border-bottom-color: #fff;
            }
        }
    }

    .text-size {
        display: none;
    }

    .directorate-logo {
        justify-self: flex-end;
        background: url("/images/directorate-logo.svg") center/contain no-repeat;
        height: 0;
        overflow: hidden;
        width: 13rem;
        padding-top: 2rem;
        display: inline-block;
        margin: 0 1rem;
    }

    a {
        color: #fff;
    }
}

@media only screen and (min-width: $two-to-three-col) {
    #framework-footer {
        padding: 2.75rem 0;

        .layout-container {
            display: flex;
            flex-flow: row nowrap;
            align-items: flex-end;
            justify-content: flex-start;
            position: relative;
        }

        ul {
            padding-bottom: 0;
            line-height: 1.5;
            font-size: $font-xl;
            width: $one-col;
        }

        .text-size {
            display: block;
            margin: 0 1rem;
            flex-grow: 1;

            .expander {
                @include button-reset();
                display: block;
                width: 3rem;
                height: 0;
                padding: 3rem 0 0 0;
                overflow: hidden;
                background: transparent url("/images/text-size.svg") no-repeat center / 3rem;
            }

            .expandable {
                position: absolute;
                bottom: 3.25rem;
                left: 0;
                padding: 1rem;
                color: #000;
                background: #fff;
                outline: .5rem solid #070;
                font-size: 3rem;

            }
        }

        .directorate-logo {
            padding-top: 44px;
            width: 273px;
        }
    }
}