.search-results {
    margin: 1.5rem 1rem 0;
    padding-bottom: 3rem;

    .hits {
        font-size: $font-s;
        color: $blue;
        padding: .75rem 1rem;
        margin: .5rem 0 0;
        border-bottom: 1px solid $blue;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .code {
        margin: 0;
        padding: 0;
        border-bottom: 1px solid $blue;
    }

    a {
        color: $blue;
        display: flex;
        flex-flow: row wrap;
        text-decoration: none;
        padding: 1rem 2.5rem 1rem 1rem;
        position: relative;
        z-index: 2;
        transition: background-color .2s;
        background: url("/assets/images/chevron-right-grey.svg") right 1rem center / 1rem 2rem no-repeat;

        &:hover, &:focus {
            background-color: $light-green;
        }

        // The wider lines above and below the focused element
        &:focus {
            outline: 0;

            &::before, &::after {
                content: "";
                position: absolute;
                bottom: 0;
                height: 2px;
                left: 0;
                right: 0;
                background-color: $grey;
            }

            &::before {
                top: -1px;
            }

            &::after {
                bottom: -1px;
            }
        }
    }

    .number, .name {
        font-weight: 600;
        display: inline-flex;
    }

    .number {
        order: 2;

        &::after {
            content: "—";
            padding: 0 .25em;
        }
    }

    .name {
        font-weight: 600;
        order: 3;
    }

    .description {
        order: 4;
        padding-top: .25rem
    }

    .system {
        font-size: .85rem;
        order: 1;
        width: 100%;
        padding-bottom: .25rem;
    }

}

@media only screen and (min-width: $two-to-three-col) {
    .search-results {
        .hits {
            padding: .75rem 1rem;
            margin-top: 0;
            line-height: 1.75rem;
        }
    }
}


@media only screen and (min-width: $three-to-four-col) {
    .search-results {

        .hits {
            padding: .75rem 1rem;
            margin-top: 0;
            line-height: 1.75rem;
        }

        a {
            background-position: right 1rem top 1.325rem;
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
            padding-right: 5rem;
            font-size: $font-xl;
            display: grid;
            grid-template-columns: 4em 1fr 9rem;
            grid-template-rows: 1fr min-content;

            grid-template-areas: "number name system" "number description system";

            .system {
                grid-area: system;
                font-size: $font-xl;
                width: unset;
                text-align: right;
                padding-bottom: 0;
            }

            .name, .description {
                padding: 0 2rem;
            }

            .name {
                grid-area: name;
            }

            .description {
                grid-area: description;
                font-size: $font-l;
                padding-top: .5rem;
            }

            .number {
                grid-area: number;
                display: unset;

                &::after {
                    display: none;
                }
            }

        }
    }
}