*, ::after, ::before {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: $blue;
    color: #000;
    font-family: "Open Sans", sans-serif;
    line-height: 1.4;
}

main {
    background-color: #fff;
    display: block; // IE
}


a {
    transition: .1s color, .1s background-color;
    text-decoration: underline;
    text-decoration-skip: ink;
    color: $purple;
}

input {
    font-family: "Open Sans", sans-serif;
}

::placeholder {
    color: $light-blue;
    font-style: italic;
}


// Typography


h1 {
    font-size: $font-4xl;
    font-weight: normal;
    margin: 1rem 0;
}



// Expandable Block with transitions ==================================================
.expand {
    transition-property: background-color, border-color;
    transition-duration: .5s, .1s;

    &.initial.collapsed {
        transition: none;
        .expandable {
            transition: none;
        }
    }

    // Expander links =================

    .expander {
        cursor: pointer;
    }

    // Expandable Content =================
    .expandable {
        max-height: 20000px;
        overflow: hidden;
        transition-property: max-height, opacity, padding, margin;
        transition-duration: .3s, .3s, .1s, .1s;
        opacity: 1;
    }

    // Collapsed Expandable Block ==================================================
    &.collapsed {
        .expandable {
            max-height: 0;
            opacity: 0;
            visibility: hidden;
            transition-property: max-height, opacity, visibility, padding, margin;
            transition-duration: .3s, .9s, 0s, .3s, .3s;
            transition-delay: 0s, 0s, .3s, .3s, 0s;
        }
    }
}