$arrow-blue-lt: "/Style%20Library/Images/Theme/arrow-blue-lt.svg";
$arrow-blue-md: "/Style%20Library/Images/Theme/arrow-blue-md.svg";
$arrow-blue: "/Style%20Library/Images/Theme/arrow-blue.svg";
$arrow-grey-md-dk: "/Style%20Library/Images/Theme/arrow-grey-md-dk.svg";
$arrow-grey-md-lt: "/Style%20Library/Images/Theme/arrow-grey-md-lt.svg";
$arrow-grey-md: "/Style%20Library/Images/Theme/arrow-grey-md.svg";
$arrow-white: "/Style%20Library/Images/Theme/arrow-white.svg";
$briefcase-black: "/Style%20Library/Images/Theme/briefcase-black.svg";
$briefcase-grey-dk: "/Style%20Library/Images/Theme/briefcase-grey-dk.svg";
$chat-blue: "/Style%20Library/Images/Theme/chat-blue.svg";
$checkbox-on-dark-checked-disabled: "/Style%20Library/Images/Theme/Form-elements/checkbox-on-dark-checked-disabled.svg";
$checkbox-on-dark-checked-hover: "/Style%20Library/Images/Theme/Form-elements/checkbox-on-dark-checked-hover.svg";
$checkbox-on-dark-checked: "/Style%20Library/Images/Theme/Form-elements/checkbox-on-dark-checked.svg";
$checkbox-on-dark-unchecked-disabled: "/Style%20Library/Images/Theme/Form-elements/checkbox-on-dark-unchecked-disabled.svg";
$checkbox-on-dark-unchecked-hover: "/Style%20Library/Images/Theme/Form-elements/checkbox-on-dark-unchecked-hover.svg";
$checkbox-on-dark-unchecked: "/Style%20Library/Images/Theme/Form-elements/checkbox-on-dark-unchecked.svg";
$checkbox-on-light-checked-disabled: "/Style%20Library/Images/Theme/Form-elements/checkbox-on-light-checked-disabled.svg";
$checkbox-on-light-checked-hover: "/Style%20Library/Images/Theme/Form-elements/checkbox-on-light-checked-hover.svg";
$checkbox-on-light-checked: "/Style%20Library/Images/Theme/Form-elements/checkbox-on-light-checked.svg";
$checkbox-on-light-unchecked-disabled: "/Style%20Library/Images/Theme/Form-elements/checkbox-on-light-unchecked-disabled.svg";
$checkbox-on-light-unchecked-hover: "/Style%20Library/Images/Theme/Form-elements/checkbox-on-light-unchecked-hover.svg";
$checkbox-on-light-unchecked: "/Style%20Library/Images/Theme/Form-elements/checkbox-on-light-unchecked.svg";
$chevron-blue-dk: "/Style%20Library/Images/Theme/chevron-blue-dk.svg";
$chevron-blue-grey: "/Style%20Library/Images/Theme/chevron-blue-grey.svg";
$chevron-blue-lt: "/Style%20Library/Images/Theme/chevron-blue-lt.svg";
$chevron-blue-md: "/Style%20Library/Images/Theme/chevron-blue-md.svg";
$chevron-blue: "/Style%20Library/Images/Theme/chevron-blue.svg";
$chevron-grey-dk: "/Style%20Library/Images/Theme/chevron-grey-dk.svg";
$chevron-grey-lt: "/Style%20Library/Images/Theme/chevron-grey-lt.svg";
$chevron-grey-md: "/Style%20Library/Images/Theme/chevron-grey-md.svg";
$chevron-grey-on-grey: "/Style%20Library/Images/Theme/chevron-grey-on-grey.svg";
$chevron-white: "/Style%20Library/Images/Theme/chevron-white.svg";
$clipboard-black: "/Style%20Library/Images/Theme/clipboard-black.svg";
$clipboard-grey-dk: "/Style%20Library/Images/Theme/clipboard-grey-dk.svg";
$clock-black: "/Style%20Library/Images/Theme/clock-black.svg";
$clock-blue: "/Style%20Library/Images/Theme/clock-blue.svg";
$clock-white: "/Style%20Library/Images/Theme/clock-white.svg";
$doctor-black: "/Style%20Library/Images/Theme/doctor-black.svg";
$doctor-blue: "/Style%20Library/Images/Theme/doctor-blue.svg";
$doctor-grey-dk: "/Style%20Library/Images/Theme/doctor-grey-dk.svg";
$doctor-white: "/Style%20Library/Images/Theme/doctor-white.svg";
$doctors: "/Style%20Library/Images/Theme/doctors.svg";
$email-blue: "/Style%20Library/Images/Theme/email-blue.svg";
$envelope-blue: "/Style%20Library/Images/Theme/envelope-blue.svg";
$envelope-white: "/Style%20Library/Images/Theme/envelope-white.svg";
$facebook: "/Style%20Library/Images/Theme/facebook.svg";
$hamburger-blue: "/Style%20Library/Images/Theme/hamburger-blue.svg";
$hamburger-white: "/Style%20Library/Images/Theme/hamburger-white.svg";
$info-grey-dk: "/Style%20Library/Images/Theme/info-grey-dk.svg";
$map-pin-blue-md: "/Style%20Library/Images/Theme/map-pin-blue-md.svg";
$map-pin-blue: "/Style%20Library/Images/Theme/map-pin-blue.svg";
$map-pin-white: "/Style%20Library/Images/Theme/map-pin-white.svg";
$meeting-place-blue: "/Style%20Library/Images/Theme/meeting-place-blue.svg";
$microscope-black: "/Style%20Library/Images/Theme/microscope-black.svg";
$microscope-blue: "/Style%20Library/Images/Theme/microscope-blue.svg";
$obs-black: "/Style%20Library/Images/Theme/obs-black.svg";
$obs-grey-dk: "/Style%20Library/Images/Theme/obs-grey-dk.svg";
$overlay-logo: "/Style%20Library/Images/Theme/overlay-logo.svg";
$pasientreiser-entrance-icon-professional: "/Style%20Library/Images/Theme/pasientreiser-entrance-icon-professional.svg";
$pasientreiser-entrance-icon-resident: "/Style%20Library/Images/Theme/pasientreiser-entrance-icon-resident.svg";
$person-blue: "/Style%20Library/Images/Theme/person-blue.svg";
$phone-blue: "/Style%20Library/Images/Theme/phone-blue.svg";
$praktisk-alt: "/Style%20Library/Images/Theme/praktisk-alt.svg";
$praktisk: "/Style%20Library/Images/Theme/praktisk.svg";
$print-icon-black: "/Style%20Library/Images/Theme/print-icon-black.svg";
$print-icon-blue-md: "/Style%20Library/Images/Theme/print-icon-blue-md.svg";
$print-icon-blue: "/Style%20Library/Images/Theme/print-icon-blue.svg";
$print-icon-grey-dk: "/Style%20Library/Images/Theme/print-icon-grey-dk.svg";
$print-icon-white: "/Style%20Library/Images/Theme/print-icon-white.svg";
$quote-grey-md-lt: "/Style%20Library/Images/Theme/quote-grey-md-lt.svg";
$rss: "/Style%20Library/Images/Theme/rss.svg";
$search-blue-grey: "/Style%20Library/Images/Theme/search-blue-grey.svg";
$search-blue-md: "/Style%20Library/Images/Theme/search-blue-md.svg";
$search-blue: "/Style%20Library/Images/Theme/search-blue.svg";
$search-white: "/Style%20Library/Images/Theme/search-white.svg";
$twitter: "/Style%20Library/Images/Theme/twitter.svg";
$x-blue: "/Style%20Library/Images/Theme/x-blue.svg";
$x-white: "/Style%20Library/Images/Theme/x-white.svg";
$expand_hover: "/Style%20Library/Images/Theme/expand_hover.svg";
$expand_normal: "/Style%20Library/Images/Theme/expand_normal.svg";
$expanded_hover: "/Style%20Library/Images/Theme/expanded_hover.svg";
$expanded_normal: "/Style%20Library/Images/Theme/expanded_normal.svg";