$purple: #642461;
$blue: #0f2d5e;
$light-blue: #8796ae;
$light-green: rgba(153, 238, 178, .1);

$green: #99eeb2;
$grey: #767676;


// Font stack
$font-xs: .75rem;   //  12px
$font-s: .875rem;   //  14px
$font-m: 1rem;      //  16px
$font-l: 1.125rem;  //  18px
$font-xl: 1.25rem;  //  20px
$font-2xl: 1.5rem;  //  24px
$font-3xl: 1.75rem; //  28px
$font-4xl: 2rem;    //  32px
$font-5xl: 3.125rem;//  50px

// Layout

$one-col: 19rem;
$one-point-five-col: $one-col * 1.5;
$two-col: $one-col * 2;  // 38rem, 608px
$three-col: $one-col * 3; // 57rem, 912px
$four-col: $one-col * 4; // 76rem, 1216px


$one-col-content: $one-col - 2rem;


$one-third-full-width: $four-col / 3;
$two-thirds-full-width: $four-col / 3 * 2;

// Breakpoints
$one-to-two-col: $two-col + 1rem;
$two-to-three-col: $three-col + 3rem;
$three-to-four-col: $four-col + 3rem;
