$purple: #642461;
$blue: #0f2d5e;
$light-blue: #8796ae;
$light-green: #f4fdf7;
$green: #99eeb2;


// Font stack
$font-s: .75rem;    //  12px
$font-m: 1rem;      //  16px
$font-l: 1.125rem;  //  18px
$font-xl: 1.25rem;  //  20px
$font-2xl: 1.5rem;  //  24px
$font-3xl: 1.75rem; //  28px
$font-4xl: 2rem;    //  32px

// Layout

$one-col: 19rem;
$one-point-five-col: $one-col * 1.5;
$two-col: $one-col * 2;
$three-col: $one-col * 3;
$four-col: $one-col * 4;


// Breakpoints
$one-to-two-col: $two-col + 1rem;
$two-to-three-col: $three-col + 3rem;
$three-to-four-col: $four-col + 3rem;
