.search {

    h2 {
        font-size: 1rem;
    }


    [aria-busy="true"], [aria-busy="false"] {
        @keyframes fadein {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }

        p, a {
            animation: fadein .2s;
        }
    }

    [aria-busy="true"] {
        [aria-hidden="true"] {
            &.elipsis {
                left: .25em;
                @include elipsis-animation;
            }

            &.wheel {
                @include wheel-animation;
            }
        }
    }
}

@media only screen and (min-width: $two-to-three-col) {
    .search {

        main {
            .layout-container {
                display: flex;
                flex-flow: row nowrap;
                align-content: stretch;
            }

            .global-search-banner {
                .layout-container {
                    display: block;
                }
            }
        }

        .results {
            flex-grow: 1;
        }

    }
}