.search {

    h2 {
        font-size: 1rem;
    }


    [aria-busy="true"], [aria-busy="false"] {
        @keyframes fadein {
            from { opacity:0; }
            to { opacity:1; }
        }

        p, a {
            animation: fadein .2s;
        }
    }

    [aria-busy="true"] {
        [aria-hidden="true"] {

            // https://codepen.io/xwildeyes/pen/KpqVzN

            @keyframes blink {
                0% {
                    opacity: .2;
                }

                20% {
                    opacity: 1;
                }

                100% {
                    opacity: .2;
                }
            }

            span {
                animation-name: blink;
                animation-duration: 1.4s;
                animation-iteration-count: infinite;
                animation-fill-mode: both;
            }

            span:nth-child(2) {
                animation-delay: .2s;
            }

            span:nth-child(3) {
                animation-delay: .4s;
            }
        }
    }

}

@media only screen and (min-width: $two-to-three-col) {
    .search {

        main {
            .layout-container {
                display: flex;
                flex-flow: row nowrap;
                align-content: stretch;
            }

            .global-search-banner {
                .layout-container {
                    display: block;
                }
            }
        }

        .results {
            flex-grow: 1;
        }

    }
}